<template>
  <div>
    <v-breadcrumbs :items="items">
      <template v-slot:item="props">
        <router-link
          :to="{ name: props.item.name }"
          class="subtitle white--text no-link"
        >
          {{ props.item.alias }}
        </router-link>
      </template>
    </v-breadcrumbs>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumb',
  data() {
    return {
      items: [],
    }
  },
  watch: {
    $route() {
      this.items = this.$router.currentRoute.meta.breadcrumb
    },
  },
  beforeMount() {
    this.items = this.$router.currentRoute.meta.breadcrumb
  },
}
</script>

<style lang="scss" scoped>
.no-link {
  text-decoration: none;
  font-size: 1rem !important;
}

.no-link:hover {
  color: #ffc107;
}
</style>
