<template>
  <v-col class="py-0">
    <v-row>
      {{ title }}
    </v-row>
    <v-row>
      <span class="body-2 white--text">{{ subtitle }}</span>
    </v-row>
  </v-col>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    subtitle: {
      type: String,
      default: '',
    },
  },
}
</script>

<style></style>
