<template>
  <v-col class="elevation-2 view-col kc-border mt-2">
    <div class="px-4">
      <h3 class="title primary--text">
        Visualização do Documento:
      </h3>
    </div>
    <v-row v-if="loading" justify="center">
      <v-progress-circular color="primary" size="50" indeterminate />
    </v-row>
    <div v-else>
      <div class="scrolling-wrapper">
        <v-row class="px-6">
          <v-col cols="6">
            <v-progress-linear
              v-if="isUploading"
              indeterminate
              color="primary"
              class="mb-1"
            />
            <v-sheet max-width="500">
              <v-slide-group multiple show-arrows>
                <v-slide-item
                  v-for="(el, index) in documents"
                  :key="index"
                  v-slot:default="{ active }"
                >
                  <v-btn
                    small
                    rounded
                    :input-value="active"
                    color="secondary"
                    class="mr-1 my-1"
                    @click="selectedDocument = index"
                  >
                    <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                        <span v-bind="attrs" v-on="on">{{
                          el.file_name | truncate
                        }}</span>
                      </template>
                      <span>{{ el.file_name || 'principal' }}</span>
                    </v-tooltip>
                    <v-menu offset-y>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          x-small
                          right
                          color="white"
                          v-bind="attrs"
                          v-on="on"
                        >
                          fas fa-ellipsis-v
                        </v-icon>
                      </template>
                      <v-list dense>
                        <v-list-item disabled>
                          <v-list-item-icon>
                            <v-icon small>
                              fas fa-text-height
                            </v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title>Renomear</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        <v-list-item @click="deleteDocument(el)">
                          <v-list-item-icon>
                            <v-icon small>
                              fas fa-trash
                            </v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title>Remover</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        <v-list-item link :href="el.url" target="_blank">
                          <v-list-item-icon>
                            <v-icon small>
                              fas fa-external-link-alt
                            </v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title
                              >Abrir em uma nova guia</v-list-item-title
                            >
                          </v-list-item-content>
                        </v-list-item>
                        <v-list-item @click="openEmailDialog(el)">
                          <v-list-item-icon>
                            <v-icon small>
                              fas fa-envelope
                            </v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title
                              >Enviar por e-mail</v-list-item-title
                            >
                          </v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </v-btn>
                </v-slide-item>
              </v-slide-group>
            </v-sheet>
          </v-col>
          <v-col cols="6" justify="end" align="end">
            <v-btn class="mr-1" rounded small color="primary" @click="upload">
              <v-icon small left>
                fas fa-plus-circle
              </v-icon>
              Adicionar Doc.
            </v-btn>
            <input
              ref="upload"
              type="file"
              class="hidden"
              accept=".png, .jpg, .jpeg, .gif, .pdf"
              @change="createDocument"
            />
          </v-col>
        </v-row>
      </div>
      <iframe
        class="mt-2"
        :src="documents.length > 0 ? documents[selectedDocument].url : noDocs"
        frameborder="0"
      />
    </div>
    <v-row class="ma-3" no-gutters>
      <v-col>
        <a v-if="link" :href="link.value" class="caption text-primary">
          <v-icon left x-small color="primary">
            fas fa-link
          </v-icon>
          Link para coleta manual
        </a>
      </v-col>
      <v-col class="d-flex justify-end">
        <v-btn
          v-if="!document.document_type.is_manual"
          color="primary"
          class="kc-border"
          @click="start"
        >
          <v-icon left>
            fas fa-sync-alt
          </v-icon>
          refazer automação
        </v-btn>
      </v-col>
    </v-row>
    <kc-email-dialog
      v-model="emailDialog"
      :email-dialog="emailDialog"
      @close="closeEmailDialog"
      @sendEmail="sendEmail"
    />
  </v-col>
</template>

<script>
import api from '@/api/kc'
import noDocs from '@/assets/no-docs.pdf'

export default {
  name: 'KcFileView',
  components: {},
  filters: {
    truncate(value) {
      if (value == undefined) return 'principal'
      return value.length > 8 ? value.slice(0, 8) + '...' : value
    },
  },
  props: {
    document: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      emailDialog: {
        show: false,
        email: '',
        documentId: null,
      },
      documents: [],
      selectedDocument: 0,
      loading: true,
      isUploading: false,
      noDocs: noDocs,
      link: {},
      userSettings: {},
    }
  },
  beforeMount() {
    this.setLink() // procura se o elemento tem a action link
    api
      .get(`/documents/url/${this.document.id}`)
      .then((response) => {
        //url do documento principal
        this.documents.push({
          url: response.data.url,
        })
        return api.get(
          `/documents/additional/list-by-document/${this.document.id}`
        ) //get da lista de documentos complementares
      })
      .catch(() => {
        return api.get(
          `/documents/additional/list-by-document/${this.document.id}`
        ) //get da lista de documentos complementares
      })
      .then((response) => {
        if (response.data.length > 0) {
          const aux = response.data
          aux.map((document) => {
            api
              .get(`/documents/additional/url/${document.id}`)
              .then((response) => {
                //get da url de cada documento complementar
                this.documents.push({
                  id: document.id,
                  file_name: document.file_name,
                  url: response.data.url,
                })
              })
          })
        }
        return api.get(`/users/settings`) // get de userSettings
      })
      .then((response) => {
        this.userSettings = response.data
      })
      .finally(() => {
        this.loading = false
      })
  },
  methods: {
    setLink() {
      this.link = this.document.document_type.document_settings.find(
        (el) => el.action == 'link'
      )
    },
    start() {
      if (
        !this.document.document_type.is_manual ||
        this.hasLoginPermission(this.document, this.userSettings)
      ) {
        api
          .get(`/documents/${this.document.id}/start-robot/v2`)
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'Pedido efetuado com sucesso',
              timeout: 3000,
              color: 'success',
            })
          })
      }
    },
    hasLoginPermission(robot, userSettings) {
      if (robot.document_type.document_settings) {
        //acha o setting de login no robo
        const document_settings = robot.document_type.document_settings.find(
          (el) => el.action == 'login'
        )
        if (!document_settings) return false
        //acha se o usuario tem login para aquele robo
        const user = userSettings.find(
          (el) => el.tag == document_settings.value
        )

        return user ? true : false
      }
      return false
    },
    upload() {
      this.$refs.upload.click()
    },
    createDocument() {
      const main = this.documents.length == 0

      this.isUploading = true
      if (this.$refs.upload.files.length > 0) {
        if (this.$refs.upload.files[0].size / (1024 * 1024) <= 10) {
          let data = new FormData()
          if (!main) {
            data.append('document_id', this.document.id)
            data.append(
              'file',
              this.$refs.upload.files[0],
              this.$refs.upload.files[0].name
            )
          } else {
            data.append('document_type_id', this.document.document_type_id)
            data.append('diligence_id', this.document.diligence_id)
            data.append('registration_id', this.document.registration_id)
            data.append('person_id', this.document.person_id)
            data.append('legal_person_id', this.document.legal_person_id)
            data.append(
              'file',
              this.$refs.upload.files[0],
              this.$refs.upload.files[0].name
            )
          }

          const request = main
            ? api.post('/documents/v2', data)
            : api.post('/documents/additional/store', data)

          request
            .then((response) => {
              this.$store.commit('showSnackbar', {
                text: 'Upload realizado com sucesso',
                timeout: 3000,
                color: 'success',
              })
              if (main) {
                api
                  .get(`/documents/url/${this.document.id}`)
                  .then((response) => {
                    //url do documento principal
                    this.documents.push({
                      url: response.data.url,
                    })
                  })
              } else {
                const doc = response.data
                api
                  .get(`/documents/additional/url/${doc.id}`)
                  .then((response) => {
                    //get da url de cada documento complementar
                    this.documents.push({
                      id: doc.id,
                      file_name: doc.file_name,
                      url: response.data.url,
                    })
                  })
              }
            })
            .catch((error) => {
              this.$store.commit('showSnackbar', {
                text: error,
                timeout: 3000,
                color: 'error',
              })
            })
            .finally(() => {
              this.$refs.upload.value = ''
              this.isUploading = false
            })
        }
      }
    },
    readDocument(el) {
      window.open(el.url, '_blank')
    },
    deleteDocument(document) {
      const main = document.id == undefined ? true : false
      const text = main
        ? 'Deseja excluir esse registro? Todos os documentos e seus complementos serão deletados, essa ação não pode ser desfeita.'
        : 'Deseja excluir esse registro? Essa ação não pode ser desfeita.'
      this.$store
        .dispatch('confirmDialog', {
          text,
          show: true,
        })
        .then((response) => {
          if (response) {
            const request = main
              ? api.delete(`/documents/${this.$route.params.documentId}`)
              : api.delete(`/documents/additional/delete/${document.id}`)

            request.then((response) => {
              this.$store.commit('showSnackbar', {
                text: 'Documento deletado com sucesso',
                timeout: 3000,
                color: 'success',
              })
              if (main) {
                this.documents = []
              } else {
                this.documents.splice(
                  this.documents.findIndex((el) => el.id == document.id),
                  1
                )
              }
            })
          }
        })
    },
    selectDocument(document, index) {
      this.isUploading = true
      const main = document.id == undefined ? true : false
      const request = main
        ? api.get(`/documents/url/${this.document.id}`)
        : api.get(`/documents/additional/url/${document.id}`)

      request
        .then((response) => {
          document.url = response.data.url
          this.selectedDocument = index
        })
        .finally(() => {
          this.isUploading = false
        })
    },
    openEmailDialog(document) {
      this.emailDialog.documentId = document.id
      this.emailDialog.show = true
    },
    closeEmailDialog(refs) {
      refs.emailForm.reset()
      this.emailDialog.show = false
    },
    sendEmail(refs) {
      if (refs.emailForm.validate()) {
        api
          .post(`/documents/additional/${this.emailDialog.documentId}/email`, {
            email: this.emailDialog.email,
          })
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'E-mail enviado com Sucesso',
              timeout: 3000,
              color: 'success',
            })
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              timeout: 3000,
              color: 'error',
            })
          })
          .finally(() => {
            this.closeEmailDialog(refs)
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
iframe {
  height: 842px;
  width: 100%;
  border: 8px solid #f0f0f0ee;
  border-radius: 10px;
}

.view-col {
  padding: 8px 0px 8px 0px;
  background: #fff;
}

.v-btn ::v-deep .v-btn:not(.v-btn--round).v-size--default {
  min-width: 0 !important;
}

.hidden {
  display: none;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

a {
  text-decoration: none;
}
</style>
