$body-font-family:  'Open Sans', sans-serif !important;

@import '~vuetify/src/styles/styles.sass';

.v-application {
    font-family: $body-font-family;

    .display-4, .display-3, .display-2, .display-1,
    .headline, .title, .subtitle-1, .subtitle-2, .body-1,
    .body-2, .caption, .overline {
        font-family: $body-font-family;
    }
}

.kc-border {
  border-radius: 10px !important;

  &.v-input {
    border-radius: 10px !important;

    .v-input__slot {
      border-radius: 10px !important;
    }
  }

  &.theme--light.v-expansion-panels .v-expansion-panel:not(:first-child)::after {
    border: none
  }
}