<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title title="Garantia" :subtitle="property.full_address" />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row dense>
          <v-col cols="6">
            <v-select
              v-model="property.prop_type_id"
              label="Tipo garantia"
              :items="propertyTypes"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="opportunity.date"
              v-mask="'##/##/#### ##:##'"
              label="Data Cadastro Solicitação"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="property.prop_address"
              label="Logradouro"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="property.prop_number"
              label="Número"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="property.prop_comp"
              label="Complemento"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="property.prop_zipcode"
              label="CEP"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="property.prop_district"
              label="Bairro"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="property.prop_city"
              label="Município"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <!-- <v-text-field v-model="property.prop_state" label="Estado" /> -->
            <v-select
              v-model="property.prop_state"
              label="UF"
              :items="states"
              disabled
            ></v-select>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="opportunity.id"
              label="ID Cadastro Solicitação"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="property.building_id"
              label="ID Prédio"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field v-model="property.size" label="Área útil" disabled />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          fechar
        </v-btn>
        <!-- <v-btn color="primary" text :loading="loading" @click="updateProperty">
          Salvar
        </v-btn> -->
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import states from '@/shared/constants/states.js'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess, kcDate } from '@/shared/mixins'

export default {
  name: 'AddressDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess, kcDate],
  data() {
    return {
      dialog: false,
      loading: false,
      states,
      property: {},
      opportunity: {
        id: null,
        date: null,
      },
      propertyTypes: [
        {
          value: 1,
          text: 'Casa',
        },
        {
          value: 2,
          text: 'Apartamento',
        },
        {
          value: 3,
          text: 'Terreno',
        },
      ],
    }
  },
  methods: {
    openDialog(item) {
      this.setUserPersmission('garantia')
      if (this.permissions.canRead) {
        const { property } = item
        this.property = { ...item.property }
        this.opportunity = {
          id: item.id,
          date: this.userDateTime(item.created_at, 'DD/MM/YYYY HH:mm'),
        }
        this.dialog = true
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    updateProperty() {
      this.loading = true
      //falta dream_value, opt_mortgage_sts, estimated_value,
      const data = {
        id: this.property.id,
        prop_address: this.property.prop_address,
        prop_number: this.property.prop_number,
        prop_comp: this.property.prop_comp,
        prop_zipcode: this.property.prop_zipcode,
        prop_district: this.property.prop_district,
        prop_city: this.property.prop_city,
        prop_state: this.property.prop_state,
        prop_type_id: this.property.prop_type_id,
      }
      kc.put(`/properties/${data.id}`, data)
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.closeDialog()
          this.loading = false
        })
    },
  },
}
</script>
