<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title title="Comitê" :subtitle="propertyAddress" />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Análise Fase 1
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12">
            <v-select
              v-model="analysisFaseOne.status"
              label="Análise Comitê 01"
              :items="analysisStatus"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-textarea
              v-model="analysisFaseOne.obs"
              dense
              counter
              auto-grow
              rows="1"
              label="Observação Comitê 01"
              maxlength="5001"
              :rules="obsRules"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="analysisFaseOne.date"
              v-mask="'##/##/####'"
              label="Data Análise Comitê 01"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Análise Fase 2
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12">
            <v-select
              v-model="analysisFaseTwo.status"
              label="Análise Comitê Comitê 02"
              :items="analysisStatus"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-textarea
              v-model="analysisFaseTwo.obs"
              dense
              auto-grow
              counter
              maxlength="5001"
              :rules="obsRules"
              rows="1"
              label="Observação Comitê 02"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="analysisFaseTwo.date"
              v-mask="'##/##/####'"
              label="Data Análise Comitê 02"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          Fechar
        </v-btn>
        <v-btn
          color="primary"
          text
          :loading="loading"
          :disabled="!permissions.canWrite"
          @click="updateBoardAnalysis"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess, kcDate } from '@/shared/mixins'

export default {
  name: 'BoardAnalysisDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess, kcDate],
  data() {
    return {
      obsRules: [
        (v) =>
          v.length <= 5000 || 'Observação deve conter menos de 5000 caracteres',
      ],
      analysisStatus: [
        { text: 'Não Iniciada', value: 1 },
        { text: 'Em Andamento', value: 2 },
        { text: 'Aprovada', value: 3 },
        { text: 'Reprovada', value: 4 },
      ],
      analysisFaseOne: {
        id: null,
        status: '',
        obs: '',
        date: null,
      },
      analysisFaseTwo: {
        status: '',
        obs: '',
        date: null,
      },
      dialog: false,
      loading: false,
      propertyAddress: '',
    }
  },
  methods: {
    openDialog(item) {
      this.setUserPersmission('comite')
      if (this.permissions.canRead) {
        this.dialog = true
        const credit = item.credit
        this.analysisFaseOne = {
          id: credit.id,
          status:
            credit.cmt_analysis_01_sts !== null
              ? credit.cmt_analysis_01_sts
              : 1,
          obs: credit.cmt_obs_01,
          date: this.userDate(credit.dt_cmt_analysis_01),
        }
        this.analysisFaseTwo = {
          status:
            credit.cmt_analysis_02_sts !== null
              ? credit.cmt_analysis_02_sts
              : 1,
          obs: credit.cmt_obs_02,
          date: this.userDate(credit.dt_cmt_analysis_02),
        }
        this.propertyAddress = item.property.full_address
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    updateBoardAnalysis() {
      this.loading = true
      const data = {
        cmt_analysis_01_sts: this.analysisFaseOne.status,
        cmt_obs_01: this.analysisFaseOne.obs,
        dt_cmt_analysis_01: this.systemDate(this.analysisFaseOne.date),
        cmt_analysis_02_sts: this.analysisFaseTwo.status,
        cmt_obs_02: this.analysisFaseTwo.obs,
        dt_cmt_analysis_02: this.systemDate(this.analysisFaseTwo.date),
      }
      kc.put(`/credits/${this.analysisFaseOne.id}`, data)
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
          this.closeDialog()
        })
    },
  },
}
</script>
