<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title title="Dados do Corretor" :subtitle="propertyAddress" />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="form">
          <v-row dense>
            <v-col cols="12">
              <v-text-field v-model="broker.name" label="nome" disabled />
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="broker.alternative_name"
                label="nome alternativo"
                placeholder="Digitar nome alternativo"
                :rules="fieldRules"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field v-model="broker.email" label="email" disabled />
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="broker.alternative_email"
                label="email alternativo"
                placeholder="Digitar email alternativo"
                :rules="emailRules"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="broker.alternative_phone"
                v-mask="['(##) #####-####', '(##) ####-####']"
                label="telefone alternativo"
                placeholder="Digitar telefone alternativo"
                :rules="phoneRules"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field v-model="broker.susep" label="susep" disabled />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          Fechar
        </v-btn>
        <v-btn
          :disabled="!form || !permissions.canWrite"
          color="primary"
          text
          :loading="loading"
          @click="updateUser"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess } from '@/shared/mixins'

export default {
  name: 'BrokerDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess],
  data() {
    return {
      form: false,
      dialog: false,
      loading: false,
      broker: {
        id: null,
        name: '',
        email: '',
        alternative_email: '',
        alternative_name: '',
        alternative_phone: null,
        susep: '',
      },
      propertyAddress: '',
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
      phoneRules: [
        (v) => !!v || 'Campo é obrigatório',
        (v) => (!!v && v.length > 13) || 'Valor inválido',
      ],
      emailRules: [
        (v) =>
          /^$|^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          'E-mail não é válido',
      ],
    }
  },
  methods: {
    openDialog(item) {
      this.setUserPersmission('corretor')
      if (this.permissions.canRead) {
        this.dialog = true
        this.broker = item.property.broker
        this.propertyAddress = item.property.full_address
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    updateUser() {
      this.loading = true
      kc.put(`/brokers/${this.broker.id}`, {
        ...this.broker,
      })
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com Sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
          this.closeDialog()
        })
    },
  },
}
</script>
