<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title title=" Análise de Crédito" :subtitle="propertyAddress" />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="form">
          <v-row dense>
            <v-col cols="12">
              <h1 class="headline primary--text my-2">
                Análise de Crédito Preliminar
              </h1>
              <v-divider></v-divider>
            </v-col>
            <v-col cols="12">
              <v-select
                v-model="creditAnalysis.firstAnalysis"
                label="Análise Crédito 01"
                :items="stages"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="creditAnalysis.firstScore"
                label="Score Crédito 01"
                type="number"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="creditAnalysis.firstMaxValue"
                v-mask="'#####'"
                label="LTV máximo 01"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-currency-field
                v-model="creditAnalysis.firstEstimateInc"
                label="Renda Estimada 01"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-currency-field
                v-model="creditAnalysis.firstIncDebtRatio"
                label="Comprometimento Renda"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-select
                v-model="creditAnalysis.firstDecision"
                label="Parecer Crédito 01"
                :items="feedbacks"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="creditAnalysis.firstDate"
                v-mask="'##/##/####'"
                label="Data Parecer Crédito 01"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="creditAnalysis.firstObs"
                :rules="obsRules"
                counter
                dense
                auto-grow
                maxlength="5001"
                rows="1"
                label="Observação Crédito 01"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12">
              <h1 class="headline primary--text my-2">
                Análise de Crédito Final
              </h1>
              <v-divider></v-divider>
            </v-col>
            <v-col cols="12">
              <v-select
                v-model="creditAnalysis.secondAnalysis"
                label="Análise Crédito 02"
                :items="stages"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="creditAnalysis.secondScore"
                label="Score Crédito 02"
                type="number"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="creditAnalysis.secondMaxValue"
                v-mask="'#####'"
                label="LTV máximo 02"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-currency-field
                v-model="creditAnalysis.secondEstimateInc"
                label="Renda Estimada 02"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-currency-field
                v-model="creditAnalysis.secondIncDebtRatio"
                label="Comprometimento renda"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-select
                v-model="creditAnalysis.secondDecision"
                label="Parecer Crédito 02"
                :items="feedbacks"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="creditAnalysis.secondDate"
                v-mask="'##/##/####'"
                label="Data Parecer Crédito 02"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="creditAnalysis.secondObs"
                :rules="obsRules"
                maxlength="5001"
                counter
                dense
                auto-grow
                rows="1"
                label="Observação Crédito 02"
                :readonly="!permissions.canWrite"
                :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          fechar
        </v-btn>
        <v-btn
          color="primary"
          text
          :loading="loading"
          :disabled="!form || !permissions.canWrite"
          @click="updateCreditAnalysis"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess, kcDate } from '@/shared/mixins'

export default {
  name: 'CreditDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess, kcDate],
  data() {
    return {
      obsRules: [
        (v) =>
          v.length <= 5000 || 'Observação deve conter menos de 5000 caracteres',
      ],
      form: false,
      dialog: false,
      loading: false,
      creditAnalysis: {
        id: null,
        firstAnalysis: '',
        firstScore: '',
        firstDecision: '',
        firstObs: '',
        firstDate: '',
        firstMaxValue: null,
        firstEstimateInc: null,
        firstIncDebtRatio: null,
        secondAnalysis: '',
        secondScore: '',
        secondDecision: '',
        secondObs: '',
        secondDate: '',
        secondMaxValue: null,
        secondEstimateInc: null,
        secondIncDebtRatio: null,
      },
      feedbacks: [
        { text: 'Pendente', value: 6 },
        {
          text: 'Aprovado',
          value: 3,
        },
        {
          text: 'Reprovado',
          value: 4,
        },
      ],
      stages: [
        {
          text: 'Não iniciada',
          value: 1,
        },
        {
          text: 'Em andamento',
          value: 2,
        },
        {
          text: 'Finalizada',
          value: 5,
        },
      ],
      propertyAddress: '',
    }
  },
  methods: {
    openDialog(item) {
      this.setUserPersmission('credito')
      if (this.permissions.canRead) {
        this.dialog = true
        this.propertyAddress = item.property.full_address
        const credit = item.credit
        this.creditAnalysis = {
          id: credit.id,
          firstAnalysis:
            credit.crd_analysis_01_sts !== null
              ? credit.crd_analysis_01_sts
              : 1,
          firstScore: credit.crd_score_01,
          firstDecision: credit.crd_decision_01_sts,
          firstObs: credit.crd_obs_01 ? credit.crd_obs_01 : '',
          firstDate: this.userDate(credit.crd_dt_decision_01),
          firstMaxValue: credit.ltv_max_value_01,
          firstEstimateInc: credit.estimated_inc_01,
          firstIncDebtRatio: credit.hh_inc_debt_ratio_01,
          secondAnalysis:
            credit.crd_analysis02_sts !== null ? credit.crd_analysis02_sts : 1,
          secondScore: credit.crd_score_02,
          secondDecision: credit.crd_decision_02_sts,
          secondObs: credit.crd_obs_02 ? credit.crd_obs_02 : '',
          secondDate: this.userDate(credit.crd_dt_decision_02),
          secondMaxValue: credit.ltv_max_value_02,
          secondEstimateInc: credit.estimated_inc_02,
          secondIncDebtRatio: credit.hh_inc_debt_ratio_02,
        }
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    updateCreditAnalysis() {
      this.loading = true
      const data = {
        id: this.creditAnalysis.id,
        crd_analysis_01_sts: this.creditAnalysis.firstAnalysis,
        crd_score_01: this.creditAnalysis.firstScore,
        crd_decision_01_sts: this.creditAnalysis.firstDecision,
        crd_obs_01: this.creditAnalysis.firstObs,
        crd_dt_decision_01: this.systemDate(this.creditAnalysis.firstDate),
        ltv_max_value_01: this.creditAnalysis.firstMaxValue,
        estimated_inc_01: this.creditAnalysis.firstEstimateInc,
        hh_inc_debt_ratio_01: this.creditAnalysis.firstIncDebtRatio,
        crd_analysis02_sts: this.creditAnalysis.secondAnalysis, //api está com erro de digitação o correto é crd_analysis_02_sts
        crd_score_02: this.creditAnalysis.secondScore,
        crd_decision_02_sts: this.creditAnalysis.secondDecision,
        crd_obs_02: this.creditAnalysis.secondObs,
        crd_dt_decision_02: this.systemDate(this.creditAnalysis.secondDate),
        ltv_max_value_02: this.creditAnalysis.secondMaxValue,
        estimated_inc_02: this.creditAnalysis.secondEstimateInc,
        hh_inc_debt_ratio_02: this.creditAnalysis.secondIncDebtRatio,
      }
      kc.put(`/credits/${data.id}`, data)
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
          this.closeDialog()
        })
    },
  },
}
</script>
