<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title
          title="Documentos"
          :subtitle="`${property.propertyAddress} - Número do Contribuinte: ${property.taxpayer_id}`"
        />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row dense>
          <v-col cols="12">
            <v-text-field
              disabled
              label="ID Customizado Keylegal"
              :value="protocol"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              disabled
              label="Número do Contribuinte"
              :value="property.taxpayer_id"
            />
          </v-col>
          <v-col cols="12">
            <v-select
              v-model="property.owner_documents_sts"
              label="Status da Documentação do Proponente"
              :items="options"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-btn
              outlined
              :loading="loadingDownload"
              block
              color="primary"
              @click="downloadDocuments"
              >Download Documentação Do Proponente</v-btn
            >
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          Fechar
        </v-btn>
        <v-btn
          color="primary"
          :disabled="
            !permissions.canWrite || property.owner_documents_sts === undefined
          "
          text
          :loading="loading"
          @click="updateDocuments"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess } from '@/shared/mixins'

export default {
  name: 'DocumentsDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess],
  data() {
    return {
      dialog: false,
      loading: false,
      loadingDownload: false,
      options: [
        {
          text: 'Pendente',
          value: 6,
        },
        {
          text: 'Completa',
          value: 7,
        },
      ],
      dateRules: [
        (v) => (!!v && v.length === 10) || 'Data inválida',
        (v) => dayjs(v, 'DD/MM/YYYY').isValid() || 'Data inválida',
        (v) => dayjs(v, 'DD/MM/YYYY').isAfter('01/01/1900') || 'Data inválida',
      ],
      property: {
        id: null,
        owner_documents_sts: null,
        propertyAddress: '',
        taxpayer_id: '',
      },
      protocol: '',
    }
  },
  methods: {
    openDialog(item) {
      this.setUserPersmission('documentos')
      if (this.permissions.canRead) {
        this.dialog = true
        this.protocol = item.protocol
        this.property = {
          id: item.property_id,
          property_dd_id: item.property.property_dd
            ? item.property.property_dd.id
            : null,
          taxpayer_id: item.property.taxpayer_id,
          propertyAddress: item.property.full_address,
          owner_documents_sts: item.property.property_dd
            ? item.property.property_dd.owner_documents_sts
            : undefined,
          taxpayer_id: item.property.taxpayer_id,
        }
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    downloadDocuments() {
      this.loadingDownload = true
      const data = {
        diligenceCustomId: this.protocol,
        documentTypes: this.getUserModulesValuesByTag('[keylegal]', true),
        zip: true,
        includeAdditionals: true,
      }
      kc.post(`opportunities/document`, data)
        .then((response) => {
          window.open(response.data, '_blank')
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text:
              error.response.status === 404
                ? 'Diligência não encontrada no Keylegal'
                : 'Diligência não possui documentos',
            color: error.response.status === 404 ? 'amber' : 'error',
          })
        })
        .finally(() => {
          this.loadingDownload = false
        })
    },
    updateDocuments() {
      this.loading = true
      kc.put(`/property_dd/${this.property.property_dd_id}`, {
        property_id: this.property.id,
        owner_documents_sts: this.property.owner_documents_sts,
      })
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
          this.closeDialog()
        })
    },
  },
}
</script>
