<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title title="Análise do Gestor" :subtitle="propertyAddress" />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Avaliação
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12">
            <v-select
              v-model="managerAnalysis.deal_apv_analysis_sts"
              label="Análise Gestor"
              :items="statusList"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-textarea
              v-model="managerAnalysis.deal_apv_obs"
              dense
              auto-grow
              counter
              rows="1"
              maxlength="5001"
              :rules="obsRules"
              label="Observação Gestor"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="managerAnalysis.deal_apv_analysis_dt"
              v-mask="'##/##/####'"
              label="Data Análise Gestor"
              :rules="permissions.canWrite ? dateRules : []"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          Fechar
        </v-btn>
        <v-btn
          color="primary"
          :disabled="!permissions.canWrite"
          text
          :loading="loading"
          @click="updateProperty"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import dayjs from 'dayjs'
import { mask } from 'vue-the-mask'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess, kcDate } from '@/shared/mixins'

export default {
  name: 'OwnerDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess, kcDate],
  data() {
    return {
      dialog: false,
      loading: false,
      obsRules: [
        (v) =>
          v.length <= 5000 || 'Observação deve conter menos de 5000 caracteres',
      ],
      dateRules: [
        (v) => (!!v && v.length === 10) || 'Data inválida',
        (v) => dayjs(v, 'DD/MM/YYYY').isValid() || 'Data inválida',
        (v) => dayjs(v, 'DD/MM/YYYY').isAfter('01/01/1900') || 'Data inválida',
      ],
      statusList: [
        { text: 'Não iniciada', value: 1 },
        { text: 'Em andamento', value: 2 },
        { text: 'Aprovada', value: 3 },
        { text: 'Reprovada', value: 4 },
      ],
      managerAnalysis: {
        id: null,
        deal_apv_analysis_sts: null,
        deal_apv_obs: '',
        deal_apv_analysis_dt: '',
      },
      propertyAddress: '',
    }
  },
  methods: {
    openDialog(item) {
      this.setUserPersmission('analise-garantia')
      if (this.permissions.canRead) {
        this.dialog = true

        this.managerAnalysis = {
          id: item.credit.id,
          deal_apv_analysis_sts: item.credit.deal_apv_analysis_sts,
          deal_apv_obs: item.credit.deal_apv_obs,
          deal_apv_analysis_dt: this.userDate(item.credit.deal_apv_analysis_dt),
        }
        this.propertyAddress = item.property.full_address
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    updateProperty() {
      this.loading = true
      const data = {
        deal_apv_analysis_sts: this.managerAnalysis.deal_apv_analysis_sts,
        deal_apv_obs: this.managerAnalysis.deal_apv_obs,
        deal_apv_analysis_dt: this.userDate(
          this.managerAnalysis.deal_apv_analysis_dt
        ),
      }

      const request = this.managerAnalysis.id
        ? kc.put(`/credits/${this.managerAnalysis.id}`, data)
        : kc.post(`/credits`, data)
      request
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com Sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
          this.closeDialog()
        })
    },
  },
}
</script>
