<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title
          title="Dados da Oportunidade"
          :subtitle="opportunity.property.full_address"
        />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Solicitação
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_requested_value"
              label="Valor do empréstimo"
              disabled
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_req_installment_01"
              label="Valor 1ª parcela"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_req_installment_last"
              label="Valor última parcela"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="opportunity.opt_req_installment_plan"
              label="Prazo Solicitação"
              :items="installmentPlans"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="opportunity.table_type_id"
              label="Tabela"
              :items="table"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-if="opportunity.opt_dream_value > 0"
              v-model="opportunity.opt_dream_value"
              label="Dream"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
            <span v-else class="ma-2">Imóvel nao possui dream</span>
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_requested_value"
              label="Valor requisitado"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_estimated_value"
              label="Valor estimado"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="opportunity.opt_requested_ltv"
              label="LTV"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="opportunity.opt_mortgage_sts"
              label="Quitado"
              :items="mortgageStatus"
              disabled
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Aprovação
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_approved_value"
              label="Valor do empréstimo"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_apv_installment_01"
              label="Valor 1ª parcela"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="opportunity.opt_apv_installment_plan"
              label="Prazo Aprovação"
              :items="installmentPlans"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="opportunity.opt_approved_ltv"
              v-mask="'#####'"
              label="LTV Aprovado"
              disabled
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Contratação
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_closed_value"
              label="Valor do empréstimo"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.opt_clo_installment_01"
              label="Valor 1ª parcela"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="opportunity.opt_clo_installment_plan"
              label="Prazo Contratação"
              :items="installmentPlans"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="opportunity.opt_closed_ltv"
              v-mask="'#####'"
              label="LTV Contratado"
              disabled
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Valores
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.iof_value"
              label="Valor do IOF"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.tac_value"
              label="Valor TAC"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.insurance_mip_value"
              label="Seguro mensal MIP"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.insurance_mip_perc"
              label="Seguro MIP (%)"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.insurance_dfi_value"
              label="Seguro mensal DFI"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.insurance_dfi_perc"
              label="Seguro DFI (%)"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.tx_adm_month_value"
              label="Taxa de Administração Mensal"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.interest_value"
              label="Juros Negociado"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.mora_value"
              label="Valor de Mora"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="opportunity.credit.multa_value"
              label="Valor de Multa"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Aceite
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-radio-group v-model="opportunity.opt_apv_borrower" row>
              <template v-slot:label>
                <div>Cliente aceitou proposta?</div>
              </template>
              <v-radio :value="0">
                <template v-slot:label>
                  <div>Não</div>
                </template>
              </v-radio>
              <v-radio :value="1">
                <template v-slot:label>
                  <div>Sim</div>
                </template>
              </v-radio>
            </v-radio-group>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          fechar
        </v-btn>
        <v-btn
          color="primary"
          text
          :loading="loading"
          :disabled="!permissions.canWrite"
          @click="updateOpportunity"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess } from '@/shared/mixins'

export default {
  name: 'OpportunityDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess],
  data() {
    return {
      loading: false,
      dialog: false,
      opportunity: {
        opt_requested_value: null,
        opt_req_installment_01: null,
        opt_req_installment_last: null,
        opt_req_installment_plan: null,
        table_type_id: null,
        opt_requested_ltv: null,
        opt_apv_borrower: false,
        opt_dream_value: null,
        opt_estimated_value: null,
        opt_mortgage_sts: null,
        property: {},
        credit: {
          tac_value: null,
          iof_value: null,
          insurance_mip_value: null,
          insurance_dfi_value: null,
          tx_adm_month_value: null,
          interest_value: null,
          mora_value: null,
          multa_value: null,
          insurance_mip_perc: null,
          insurance_dfi_perc: null,
        },
      },
      mortgageStatus: [
        {
          text: 'Não',
          value: false,
        },
        {
          text: 'Sim',
          value: true,
        },
      ],
      table: [
        { text: 'SAC', value: 1 },
        { text: 'PRICE', value: 2 },
      ],
      installmentPlans: [{ text: 'Sem parcelas', value: 0 }],
    }
  },
  methods: {
    getLtv({ opt_estimated_value, opt_requested_value, dream_value }) {
      if (!opt_estimated_value && !dream_value) return 0

      if (dream_value) {
        return Math.floor((opt_requested_value / dream_value) * 100).toFixed(0)
      }

      return Math.floor(
        (opt_requested_value / opt_estimated_value) * 100
      ).toFixed(0)
    },
    openDialog(item) {
      if (!item.credit) {
        item.credit = {
          tac_value: null,
          iof_value: null,
          insurance_mip_value: null,
          insurance_dfi_value: null,
          tx_adm_month_value: null,
          interest_value: null,
          mora_value: null,
          multa_value: null,
          insurance_mip_perc: null,
          insurance_dfi_perc: null,
        }
      }
      this.setUserPersmission('oportunidade')
      if (this.permissions.canRead) {
        for (let i = 60; i <= 240; i = i + 30) {
          this.installmentPlans.push({
            text: i,
            value: i,
          })
        }
        this.opportunity = {
          ...item,
        }
        this.opportunity.opt_requested_ltv = this.getLtv(this.opportunity)
        this.dialog = true
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    updateOpportunity() {
      this.loading = true

      let query = 'Select '

      for (const key in this.opportunity) {
        if (this.opportunity.hasOwnProperty(key)) {
          query += key + ', '
        }
      }

      kc.put(`/opportunities/${this.opportunity.id}`, this.opportunity)
        .then(() => {
          return kc.put(
            `/credits/${this.opportunity.credit.id}`,
            this.opportunity.credit
          )
        })
        .then(() => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
          this.closeDialog()
        })
    },
  },
}
</script>
