<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title
          title="Dados do Proponente e Fiduciantes"
          :subtitle="propertyAddress"
        />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row no-gutters>
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Lista Proponentes e Fiduciantes
              <v-btn
                x-small
                outlined
                class="mx-4"
                color="primary"
                @click="addOwner"
              >
                <v-icon left>fas fa-plus</v-icon>
                Adicionar Proponente
              </v-btn>
              <v-btn
                x-small
                outlined
                class="mx-4"
                color="primary"
                @click="addFiduciator"
              >
                <v-icon left>fas fa-plus</v-icon>
                Adicionar Fiduciante
              </v-btn>
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12">
            <v-virtual-scroll
              :bench="benched"
              :items="owners"
              height="80"
              item-height="40"
            >
              <template v-slot="{ item }">
                <v-list-item :key="item.id" dense>
                  <v-list-item-content class="overline">
                    {{ item.owner_name }}
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-btn icon>
                      <v-icon small color="primary" @click="editOwner(item)">
                        far fa-edit
                      </v-icon>
                    </v-btn>
                  </v-list-item-icon>
                </v-list-item>
                <v-divider></v-divider>
              </template>
            </v-virtual-scroll>
          </v-col>
        </v-row>
        <v-row v-if="isFiduciator" dense>
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Dados Pessoais
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="fiduciator.name"
              label="Nome"
              :disabled="fiduciator.id ? true : false"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`cpf-${fiduciator.id}`"
              v-model="fiduciator.cpf"
              v-mask="['###.###.###-##']"
              label="CPF"
              :disabled="fiduciator.id ? true : false"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="fiduciator.borrower_birthdate"
              v-mask="'##/##/####'"
              label="Data de nascimento"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-autocomplete
              v-model="fiduciator.profession"
              :items="professions"
              hide-no-data
              hide-selected
              item-text="desc"
              item-value="id"
              label="Profissão"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" />
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Contato
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="fiduciator.email"
              label="E-mail"
              :disabled="fiduciator.id ? true : false"
            />
          </v-col>
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Endereço
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="fiduciator.address.street"
              label="Logradouro"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="fiduciator.address.number"
              label="Número"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="fiduciator.address.complement"
              label="Complemento"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`cep-${fiduciator.id}`"
              v-model="fiduciator.address.zipcode"
              v-mask="['#####-###']"
              label="CEP"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="fiduciator.address.district"
              label="Bairro"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="fiduciator.address.city"
              label="Município"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="fiduciator.address.state"
              label="UF"
              :items="states"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            ></v-select>
          </v-col>
        </v-row>
        <v-row v-else dense>
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Dados Pessoais
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="owner.name"
              label="Nome"
              :disabled="owner.id ? true : false"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`cpf-${owner.id}`"
              v-model="owner.cpf"
              v-mask="['###.###.###-##']"
              label="CPF"
              :disabled="owner.id ? true : false"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="owner.borrower_civil_state_id"
              :items="civilStates"
              label="Estado civil"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="owner.borrower_birthdate"
              v-mask="'##/##/####'"
              label="Data de nascimento"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="owner.borrower_sex"
              :items="sexTypes"
              label="Sexo"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-autocomplete
              v-model="owner.profession"
              :items="professions"
              hide-no-data
              hide-selected
              item-text="desc"
              item-value="id"
              label="Profissão"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`company-${owner.id}`"
              v-model="owner.borrower_company_name"
              label="Nome da Empresa"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`admission-${owner.id}`"
              v-model="owner.borrower_admission_dt"
              v-mask="'##/##/####'"
              label="Data de Admissão"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="owner.borrower_income_value"
              label="Renda Mensal"
              :disabled="disabledIncomeValue && isEditOwner"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="owner.borrower_income_type_id"
              label="Fonte de Renda"
              :disabled="disabledIncomeTypeId && isEditOwner"
              :readonly="!permissions.canWrite"
              :items="incomeTypes"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="owner.borrower_credit_reason_id"
              :disabled="disabledCreditReasonId && isEditOwner"
              label="Finalidade do Crédito"
              :readonly="!permissions.canWrite"
              :items="creditReason"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6" />
          <v-col cols="6">
            <div class="mb-1">
              Proponente pretende compor renda com alguém?
            </div>
            <v-radio-group
              v-model="owner.borrower_income_comp"
              :disabled="disabledIncomeComp && isEditOwner"
            >
              <v-radio :value="true">
                <template v-slot:label>
                  <div>Sim</div>
                </template>
              </v-radio>
              <v-radio :value="false">
                <template v-slot:label>
                  <div>Não</div>
                </template>
              </v-radio>
            </v-radio-group>
          </v-col>
          <v-col cols="6">
            <div class="mb-1">
              Proponente reside no imóvel que está sendo oferecido como
              garantia?
            </div>
            <v-radio-group
              v-model="owner.borrower_address_check"
              :disabled="disabledAddressCheck && isEditOwner"
            >
              <v-radio :value="true">
                <template v-slot:label>
                  <div>Sim</div>
                </template>
              </v-radio>
              <v-radio :value="false">
                <template v-slot:label>
                  <div>Não</div>
                </template>
              </v-radio>
            </v-radio-group>
          </v-col>
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Contato
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="owner.email"
              label="E-mail"
              :disabled="owner.id ? true : false"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`cell-${owner.id}`"
              v-model="owner.cellPhone"
              v-mask="['(##) ####-####', '(##) #####-####']"
              :disabled="owner.id ? true : false"
              label="Celular"
            />
          </v-col>
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Endereço
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="owner.address.street"
              label="Logradouro"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="owner.address.number"
              label="Número"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="owner.address.complement"
              label="Complemento"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`cep-${owner.id}`"
              v-model="owner.address.zipcode"
              v-mask="['#####-###']"
              label="CEP"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="owner.address.district"
              label="Bairro"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="owner.address.city"
              label="Município"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="owner.address.state"
              label="UF"
              :items="states"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            ></v-select>
          </v-col>
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Dados Bancários
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-autocomplete
              v-model="owner.bank.institution"
              :items="banks"
              hide-no-data
              hide-selected
              item-text="short_name"
              item-value="code"
              label="Banco"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`agency-${owner.id}`"
              v-model="owner.bank.agency"
              v-mask="['####', '####-X', '####-XX']"
              label="Agência"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              :key="`account-${owner.id}`"
              v-model="owner.bank.account"
              v-mask="[
                '#####-X',
                '######-X',
                '#######-X',
                '########-X',
                '#########-X',
                '###########-X',
              ]"
              label="Conta Corrente"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6" />
          <v-col cols="12">
            <h1 class="body-1 font-weight-bold primary--text my-2">
              Marcações
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-checkbox
              v-model="owner.flag"
              label="Proponente Principal"
              disabled
            />
          </v-col>
          <v-col cols="6">
            <v-checkbox
              v-model="owner.borrower_prop_owner_flag"
              label="Proponente Dono do imóvel"
              disabled
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          Fechar
        </v-btn>
        <v-btn
          color="primary"
          :disabled="!permissions.canWrite"
          text
          :loading="loading"
          @click="updateOwner"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import states from '@/shared/constants/states.js'
import DialogTitle from '@/components/shared/DialogTitle'
import dayjs from 'dayjs'
import { moduleAccess, kcDate } from '@/shared/mixins'

export default {
  name: 'OwnerDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess, kcDate],
  props: {
    banks: {
      type: Array,
      required: true,
    },
    professions: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      dialog: false,
      benched: 0,
      states,
      owners: [],
      isFiduciator: false,
      owner: this.getOwnerObject(),
      fiduciator: this.getFiduciatorObject(),
      loading: false,
      propertyAddress: '',
      currentId: null,
      data: {},
      disabledIncomeTypeId: false,
      disabledCreditReasonId: false,
      disabledIncomeComp: false,
      disabledAddressCheck: false,
      disabledIncomeValue: false,
      isEditOwner: false,
      creditReason: [
        {
          value: 1,
          text: 'Pagar dívidas',
        },
        {
          value: 2,
          text: 'Comprar/reformar imóvel',
        },
        {
          value: 3,
          text: 'Abrir meu negócio',
        },
        {
          value: 4,
          text: 'Investir no meu negócio',
        },
        {
          value: 5,
          text: 'Adquirir bens',
        },
        {
          value: 6,
          text: 'Apenas pesquisando',
        },
        {
          value: 7,
          text: 'Outro motivo',
        },
      ],
      incomeTypes: [
        {
          value: 1,
          text: 'Assalariado(a)',
        },
        {
          value: 2,
          text: 'Autônomo(a)',
        },
        {
          value: 3,
          text: 'Profissional Liberal',
        },
        {
          value: 4,
          text: 'Empreendedor(a)',
        },
        {
          value: 5,
          text: 'Militar',
        },
        {
          value: 6,
          text: 'Servidor(a) Público',
        },
        {
          value: 7,
          text: 'Outro',
        },
      ],
      civilStates: [
        {
          value: 1,
          text: 'Solteiro(a)',
        },
        {
          value: 2,
          text: 'Casado(a)',
        },
        {
          value: 3,
          text: 'Divorciado(a)',
        },
        {
          value: 4,
          text: 'Viuvo(a)',
        },
      ],
      sexTypes: [
        {
          value: 1,
          text: 'Feminino',
        },
        {
          value: 2,
          text: 'Masculino',
        },
        {
          value: 3,
          text: 'Não-Binário',
        },
      ],
    }
  },

  methods: {
    openDialog(item) {
      this.isEditOwner = false
      this.setUserPersmission('proponente')
      if (this.permissions.canRead) {
        this.dialog = true
        this.owners = item.property.properties_owners
        this.propertyAddress = item.property.full_address
        this.property_id = item.property.id
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.owner = this.getOwnerObject()
      this.fiduciator = this.getFiduciatorObject()
      this.$emit('closed')
    },
    editOwner(item) {
      this.isEditOwner = true
      this.currentId = item.id
      if (item.borrower_prop_owner_flag == true && item.borrower_flag != true) {
        this.isFiduciator = true
      } else this.isFiduciator = false
      if (this.isFiduciator == false) {
        if (item.borrower_income_type_id) this.disabledIncomeTypeId = true
        else this.disabledIncomeTypeId = false
        if (item.borrower_credit_reason_id) this.disabledCreditReasonId = true
        else this.disabledCreditReasonId = false
        if (item.borrower_income_comp) this.disabledIncomeComp = true
        else this.disabledIncomeComp = false
        if (item.borrower_address_check) this.disabledAddressCheck = true
        else this.disabledAddressCheck = false
        if (item.borrower_income_value) this.disabledIncomeValue = true
        else this.disabledIncomeValue = false
        this.owner = {
          id: item.id,
          name: item.owner_name,
          email: item.owner_email,
          cellPhone: item.owner_cell_phone,
          cpf: item.owner_cpf,
          profession: item.borrower_profession_id,
          borrower_civil_state_id: item.borrower_civil_state_id,
          borrower_birthdate: this.userDate(item.borrower_birthdate),
          flag: item.borrower_flag,
          borrower_prop_owner_flag: item.borrower_prop_owner_flag,
          borrower_company_name: item.borrower_company_name,
          borrower_admission_dt: this.userDate(item.borrower_admission_dt),
          borrower_income_value: item.borrower_income_value,
          borrower_address_check: item.borrower_address_check,
          borrower_income_comp: item.borrower_income_comp,
          borrower_credit_reason_id: item.borrower_credit_reason_id,
          borrower_income_type_id: item.borrower_income_type_id,
          borrower_sex: item.borrower_sex,
          address: {
            street: item.borrower_home_address,
            number: item.borrower_home_number,
            complement: item.borrower_home_comp,
            zipcode: item.borrower_home_zipcode,
            district: item.borrower_home_district,
            city: item.borrower_home_city,
            state: item.borrower_home_state,
          },
          bank: {
            institution: item.borrower_bank,
            agency: item.borrower_bank_agency,
            account: item.borrower_bank_account,
          },
        }
      } else {
        this.fiduciator = {
          id: item.id,
          name: item.owner_name,
          email: item.owner_email,
          cellPhone: item.owner_cell_phone,
          borrower_prop_owner_flag: item.borrower_prop_owner_flag,
          cpf: item.owner_cpf,
          profession: item.borrower_profession_id,
          borrower_birthdate: this.userDate(item.borrower_birthdate),
          address: {
            street: item.borrower_home_address,
            number: item.borrower_home_number,
            complement: item.borrower_home_comp,
            zipcode: item.borrower_home_zipcode,
            district: item.borrower_home_district,
            city: item.borrower_home_city,
            state: item.borrower_home_state,
          },
        }
      }
    },
    addFiduciator() {
      this.isFiduciator = true
      this.fiduciator = this.getFiduciatorObject()
    },
    addOwner() {
      this.isFiduciator = false
      this.owner = this.getOwnerObject()
    },
    updateOwner() {
      this.loading = true
      if (this.isFiduciator) {
        this.data = {
          owner_name: this.fiduciator.name,
          owner_email: this.fiduciator.email,
          property_id: this.property_id,
          owner_cpf: this.cleanCPFMask(this.fiduciator.cpf),
          borrower_home_address: this.fiduciator.address.street,
          borrower_home_number: this.fiduciator.address.number,
          borrower_prop_owner_flag: this.fiduciator.borrower_prop_owner_flag,
          borrower_home_comp: this.fiduciator.address.complement,
          borrower_home_zipcode: this.fiduciator.address.zipcode
            ? this.fiduciator.address.zipcode.replace(/-/g, '')
            : null,
          borrower_home_district: this.fiduciator.address.district,
          borrower_home_city: this.fiduciator.address.city,
          borrower_home_state: this.fiduciator.address.state,
          borrower_profession_id: this.fiduciator.profession,
          borrower_birthdate: this.systemDate(
            this.fiduciator.borrower_birthdate
          ),
        }
      } else {
        this.data = {
          owner_name: this.owner.name,
          owner_email: this.owner.email,
          owner_cell_phone: this.owner.cellPhone,
          owner_cpf: this.cleanCPFMask(this.owner.cpf),
          property_id: this.property_id,
          borrower_bank: this.owner.bank.institution,
          borrower_bank_agency: this.owner.bank.agency
            ? this.owner.bank.agency.replace(/-/g, '')
            : null,
          borrower_bank_account: this.owner.bank.account
            ? this.owner.bank.account.replace(/-/g, '')
            : null,
          borrower_home_address: this.owner.address.street,
          borrower_home_number: this.owner.address.number,
          borrower_home_comp: this.owner.address.complement,
          borrower_home_zipcode: this.owner.address.zipcode
            ? this.owner.address.zipcode.replace(/-/g, '')
            : null,
          borrower_home_district: this.owner.address.district,
          borrower_home_city: this.owner.address.city,
          borrower_home_state: this.owner.address.state,
          borrower_profession_id: this.owner.profession,
          borrower_civil_state_id: this.owner.borrower_civil_state_id,
          borrower_birthdate: this.systemDate(this.owner.borrower_birthdate),
          borrower_prop_owner_flag: this.owner.borrower_prop_owner_flag
            ? true
            : false,
          borrower_company_name: this.owner.borrower_company_name,
          borrower_admission_dt: this.systemDate(
            this.owner.borrower_admission_dt
          ),
          borrower_income_value: this.owner.borrower_income_value,
          borrower_address_check: this.owner.borrower_address_check,
          borrower_income_comp: this.owner.borrower_income_comp,
          borrower_credit_reason_id: this.owner.borrower_credit_reason_id,
          borrower_sex: this.owner.borrower_sex,
          borrower_income_type_id: this.owner.borrower_income_type_id,
        }
      }

      const save = this.currentId
        ? kc.put(`/properties-owners/${this.currentId}`, this.data)
        : kc.post(`/properties-owners`, this.data)

      save
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
          this.closeDialog()
        })
    },
    getFiduciatorObject() {
      return {
        id: null,
        name: '',
        property_id: this.property_id,
        email: '',
        cpf: '',
        profession: '',
        borrower_birthdate: null,
        borrower_prop_owner_flag: true,
        address: {
          street: '',
          number: '',
          complement: '',
          zipcode: '',
          district: '',
          city: '',
          state: '',
        },
      }
    },
    getOwnerObject() {
      return {
        id: null,
        property_id: this.property_id,
        name: '',
        email: '',
        cellPhone: '',
        cpf: '',
        profession: '',
        flag: false,
        borrower_civil_state_id: null,
        borrower_birthdate: null,
        borrower_prop_owner_flag: false,
        borrower_company_name: '',
        borrower_admission_dt: null,
        borrower_income_value: null,
        borrower_address_check: false,
        borrower_income_comp: false,
        borrower_credit_reason_id: null,
        borrower_income_type_id: null,
        borrower_sex: null,
        address: {
          street: '',
          number: '',
          complement: '',
          zipcode: '',
          district: '',
          city: '',
          state: '',
        },
        bank: {
          institution: '',
          agency: '',
          account: '',
        },
      }
    },
    cleanCPFMask(cpf) {
      return cpf.replace(/[^\d]/g, '')
    },
    getDate(date) {
      //save
      return date ? dayjs(date, 'DD/MM/YYYY').format('YYYY-MM-DD') : null
    },
  },
}
</script>
