<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title title="Análise da Garantia" :subtitle="propertyAddress" />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Diligência Jurídica
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="propertyAnalysis.prop_analysis_sts"
              label="Análise Garantia"
              :items="statusList"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.dt_prop_analysis"
              v-mask="'##/##/####'"
              label="Data Análise Garantia"
              :rules="permissions.canWrite ? dateRules : []"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-textarea
              v-model="propertyAnalysis.prop_obs"
              dense
              counter
              auto-grow
              rows="1"
              :rules="textareaRules"
              maxlength="5001"
              label="Observação Análise Garantia"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Vistoria
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="propertyAnalysis.home_inspection_sts"
              label="Vistoria"
              :items="statusList"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.home_inspection_dt"
              v-mask="'##/##/####'"
              label="Data Resultado Vistoria"
              :rules="permissions.canWrite ? dateRules : []"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="propertyAnalysis.home_inspection_value"
              label="Valor Avaliação Imóvel"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-currency-field
              v-model="propertyAnalysis.home_inspection_valuetosell"
              label="Valor de Liquidação Forçada"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-textarea
              v-model="propertyAnalysis.home_inspection_obs"
              dense
              counter
              auto-grow
              :rules="textareaRules"
              maxlength="5001"
              rows="1"
              label="Observação Resultado Vistoria"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Garantia
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="propertyAnalysis.ct_obj_garantia"
              label="Objeto Garantia"
              :rules="textareaRules"
              maxlength="5001"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-textarea
              v-model="propertyAnalysis.ct_tit_aquisitivo"
              dense
              counter
              auto-grow
              rows="1"
              :rules="textareaRules"
              maxlength="5001"
              label="Titulo Aquisitivo"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.ct_cart_ri"
              label="Cartório de Registro de Imóveis"
              maxlength="101"
              :rules="registryRules"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.ct_matricula"
              label="Número da Matrícula"
              :rules="registrationRules"
              maxlength="31"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="propertyAnalysis.ct_insc_municip"
              label="Inscrição Municipal"
              maxlength="51"
              :rules="subscriptionRules"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-textarea
              v-model="propertyAnalysis.ct_adicional_text"
              dense
              auto-grow
              counter
              rows="1"
              label="Texto Complementar (Cláusula 6 - CCI)"
              :rules="textareaRules"
              maxlength="5001"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12">
            <h1 class="headline primary--text my-2">
              Contrato
            </h1>
            <v-divider></v-divider>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.ct_signin_dt"
              v-mask="'##/##/####'"
              label="Data Assinatura"
              :rules="permissions.canWrite ? dateRules : []"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.ct_cci_number"
              label="Número da CCI"
              maxlength="12"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.ct_register_date"
              v-mask="'##/##/####'"
              label="Data Registro Contrato"
              :rules="permissions.canWrite ? dateRules : []"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.ct_liquidation_dt"
              v-mask="'##/##/####'"
              label="Data Cessão"
              :rules="permissions.canWrite ? dateRules : []"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.borrower_credit_dt"
              v-mask="'##/##/####'"
              label="Data Liberaçao"
              :rules="permissions.canWrite ? dateRules : []"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="propertyAnalysis.ct_signin_dt_30"
              v-mask="'##/##/####'"
              label="Data Vencimento 1 Parcela"
              :rules="permissions.canWrite ? dateRules : []"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
            />
          </v-col>
          <v-col cols="12">
            <v-radio-group v-model="propertyAnalysis.ct_signature_type_id" row>
              <template v-slot:label>
                <div>Tipo de assinatura do tomador?</div>
              </template>
              <v-radio :value="1">
                <template v-slot:label>
                  <div>Digital</div>
                </template>
              </v-radio>
              <v-radio :value="2">
                <template v-slot:label>
                  <div>Fisica</div>
                </template>
              </v-radio>
            </v-radio-group>
          </v-col>
        </v-row>
        <v-row justify="center" justify-sm="center" class="mx-0 mt-3">
          <v-btn
            color="primary"
            text
            :loading="loading"
            :to="`/review-cci/${propertyAnalysis.property_id}`"
            >Revisar CCI</v-btn
          >
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="loading" @click="closeDialog">
          Fechar
        </v-btn>
        <v-btn
          color="primary"
          :disabled="!permissions.canWrite"
          text
          :loading="loading"
          @click="updateProperty"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import dayjs from 'dayjs'
import { mask } from 'vue-the-mask'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess, kcDate } from '@/shared/mixins'

export default {
  name: 'OwnerDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess, kcDate],
  data() {
    return {
      textareaRules: [
        (v) => v.length <= 5000 || 'Campo deve conter menos de 5000 caracteres',
      ],
      registryRules: [
        (v) => v.length <= 100 || 'Campo deve conter menos de 100 caracteres',
      ],
      registrationRules: [
        (v) => v.length <= 30 || 'Campo deve conter menos de 30 caracteres',
      ],
      subscriptionRules: [
        (v) => v.length <= 50 || 'Campo deve conter menos de 50 caracteres',
      ],
      dialog: false,
      loading: false,
      dateRules: [
        (v) => (!!v && v.length === 10) || 'Data inválida',
        (v) => dayjs(v, 'DD/MM/YYYY').isValid() || 'Data inválida',
        (v) => dayjs(v, 'DD/MM/YYYY').isAfter('01/01/1900') || 'Data inválida',
      ],
      statusList: [
        { text: 'Não iniciada', value: 1 },
        { text: 'Em andamento', value: 2 },
        { text: 'Aprovada', value: 3 },
        { text: 'Reprovada', value: 4 },
      ],
      signatureTypes: [
        {
          text: 'digital',
          value: 2,
        },
        {
          text: 'fisica',
          value: 1,
        },
      ],
      propertyAnalysis: {
        id: null,
        property_id: null,
        prop_analysis_sts: '',
        prop_obs: '',
        dt_prop_analysis: '',
        home_inspection_sts: '',
        home_inspection_obs: '',
        home_inspection_dt: '',
        home_inspection_value: '',
        home_inspection_valuetosell: '',
        ct_obj_garantia: '',
        ct_tit_aquisitivo: '',
        ct_cart_ri: '',
        ct_matricula: '',
        ct_insc_municip: '',
        ct_adicional_text: '',
        ct_signin_dt: '',
        ct_cci_number: '',
        ct_register_date: '',
        ct_liquidation_dt: '',
        borrower_credit_dt: '',
        ct_signature_type_id: '',
        ct_signin_dt_30: '',
      },
      propertyAddress: '',
    }
  },
  methods: {
    openDialog(item) {
      this.setUserPersmission('analise-garantia')
      if (this.permissions.canRead) {
        this.dialog = true

        this.propertyAnalysis.property_id = item.property_id

        if (!item.property.property_dd) return

        this.propertyAnalysis = {
          id: item.property.property_dd.id,
          property_id: item.property_id,
          prop_analysis_sts:
            item.property.property_dd.prop_analysis_sts !== null
              ? item.property.property_dd.prop_analysis_sts
              : 1,
          prop_obs: item.property.property_dd.prop_obs,
          dt_prop_analysis: this.userDate(
            item.property.property_dd.dt_prop_analysis
          ),
          home_inspection_sts:
            item.property.property_dd.home_inspection_sts !== null
              ? item.property.property_dd.home_inspection_sts
              : 1,
          home_inspection_obs: item.property.property_dd.home_inspection_obs,
          home_inspection_dt: this.userDate(
            item.property.property_dd.home_inspection_dt
          ),
          home_inspection_value:
            item.property.property_dd.home_inspection_value,
          home_inspection_valuetosell:
            item.property.property_dd.home_inspection_valuetosell,
          ct_obj_garantia: item.property.property_dd.ct_obj_garantia,
          ct_tit_aquisitivo: item.property.property_dd.ct_tit_aquisitivo,
          ct_cart_ri: item.property.property_dd.ct_cart_ri,
          ct_matricula: item.property.property_dd.ct_matricula,
          ct_insc_municip: item.property.property_dd.ct_insc_municip,
          ct_adicional_text: item.property.property_dd.ct_adicional_text,
          ct_signin_dt: this.userDate(item.property.property_dd.ct_signin_dt),
          ct_cci_number: item.property.property_dd.ct_cci_number,
          ct_register_date: this.userDate(
            item.property.property_dd.ct_register_date
          ),
          ct_liquidation_dt: this.userDate(
            item.property.property_dd.ct_liquidation_dt
          ),
          borrower_credit_dt: this.userDate(
            item.property.property_dd.borrower_credit_dt
          ),
          ct_signature_type_id: item.property.property_dd.ct_signature_type_id,
          ct_signin_dt_30: this.userDate(
            item.property.property_dd.ct_signin_dt_30
          ),
        }
        this.propertyAddress = item.property.full_address
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    updateProperty() {
      this.loading = true
      const data = {
        property_id: this.propertyAnalysis.property_id,
        prop_analysis_sts: this.propertyAnalysis.prop_analysis_sts,
        prop_obs: this.propertyAnalysis.prop_obs,
        dt_prop_analysis: this.systemDate(
          this.propertyAnalysis.dt_prop_analysis
        ),
        home_inspection_sts: this.propertyAnalysis.home_inspection_sts,
        home_inspection_obs: this.propertyAnalysis.home_inspection_obs,
        home_inspection_dt: this.systemDate(
          this.propertyAnalysis.home_inspection_dt
        ),
        home_inspection_value: this.propertyAnalysis.home_inspection_value,
        home_inspection_valuetosell: this.propertyAnalysis
          .home_inspection_valuetosell,
        ct_obj_garantia: this.propertyAnalysis.ct_obj_garantia,
        ct_tit_aquisitivo: this.propertyAnalysis.ct_tit_aquisitivo,
        ct_cart_ri: this.propertyAnalysis.ct_cart_ri,
        ct_matricula: this.propertyAnalysis.ct_matricula,
        ct_insc_municip: this.propertyAnalysis.ct_insc_municip,
        ct_adicional_text: this.propertyAnalysis.ct_adicional_text,
        ct_signin_dt: this.systemDate(this.propertyAnalysis.ct_signin_dt),
        ct_cci_number: this.propertyAnalysis.ct_cci_number,
        ct_register_date: this.systemDate(
          this.propertyAnalysis.ct_register_date
        ),
        ct_liquidation_dt: this.systemDate(
          this.propertyAnalysis.ct_liquidation_dt
        ),
        borrower_credit_dt: this.systemDate(
          this.propertyAnalysis.borrower_credit_dt
        ),
        ct_signature_type_id: this.propertyAnalysis.ct_signature_type_id,
        ct_signin_dt_30: this.systemDate(this.propertyAnalysis.ct_signin_dt_30),
      }

      const request = this.propertyAnalysis.id
        ? kc.put(`/property_dd/${this.propertyAnalysis.id}`, data)
        : kc.post(`/property_dd`, data)
      request
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com Sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
          this.closeDialog()
        })
    },
  },
}
</script>
