<template>
  <v-dialog v-model="dialog" persistent fullscreen>
    <v-card class="kc-border">
      <v-card-title class="headline primary white--text">
        <dialog-title title="Concierge" :subtitle="propertyAddress" />
        <v-btn icon dark @click="dialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row v-if="isLoadingData" dense justify="center" class="mt-4">
          <v-progress-circular color="primary" size="50" indeterminate />
        </v-row>
        <v-row v-else dense>
          <v-col v-for="el in opportunityStages" :key="el.id" cols="12">
            <v-select
              v-model="el.opportunity_stage_status_id"
              :items="status"
              item-text="desc"
              item-value="id"
              :label="el.desc"
              :loading="isLoading"
              :disabled="isLoading"
              :readonly="!permissions.canWrite"
              :hint="permissions.canWrite === false ? 'Somente Leitura' : ''"
              @change="updateStatus(el)"
            >
            </v-select>
            <v-row v-if="el.subStatus && el.subStatus.length > 0">
              <v-chip-group
                v-model="el.opportunity_stage_substatus_id"
                column
                @change="updateSubStatus(el)"
              >
                <v-chip
                  v-for="stat in el.subStatus"
                  :key="stat.id"
                  active-class="primary"
                  class="ma-1"
                  draggable
                  :value="stat.id"
                >
                  {{ stat.desc }}
                </v-chip>
              </v-chip-group>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text :loading="isLoading" @click="closeDialog">
          Fechar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { kc } from '@/api'
import DialogTitle from '@/components/shared/DialogTitle'
import { moduleAccess } from '@/shared/mixins'

export default {
  name: 'StatusDialog',
  components: {
    DialogTitle,
  },
  mixins: [moduleAccess],
  data() {
    return {
      dialog: false,
      isLoadingData: false,
      isLoading: false,
      opportunity: {},
      propertyAddress: '',
      opportunityStages: [],
      protocol: '',
      status: [
        {
          id: 1,
          desc: 'Não iniciado',
        },
        {
          id: 2,
          desc: 'Em andamento',
        },
        {
          id: 3,
          desc: 'Aprovado',
        },
        {
          id: 4,
          desc: 'Recusado',
        },
        {
          id: 5,
          desc: 'Aprovado Proponente',
        },
        {
          id: 6,
          desc: 'Recusado/Desistência Proponente',
        },
      ],
    }
  },
  methods: {
    openDialog(item) {
      this.setUserPersmission('concierge')

      this.loadOpportunity(item.id)

      if (this.permissions.canRead) {
        this.dialog = true
        this.opportunity = { ...item }
        this.propertyAddress = item.property.full_address
      } else {
        this.$store.commit('showSnackbar', {
          text: 'Usuário não possui acesso ao modal.',
          timeout: 5000,
          color: 'error',
        })
      }
    },
    closeDialog() {
      this.dialog = false
      this.$emit('closed')
    },
    getSelectedSubStatus(stages) {
      if (!stages) return null

      const stage = stages.find((s) => {
        return s.headLight === 'yellow'
      })

      if (stage) return stage.id
      else return null
    },
    loadOpportunity(id) {
      this.isLoadingData = true
      kc.get(`/opportunities/${id}`)
        .then((res) => {
          this.opportunityStages = res.data.opportunity_stages
          this.opportunityStages = this.opportunityStages.map((opportunity) => {
            opportunity.opportunity_stage_substatus_id = this.getSelectedSubStatus(
              opportunity.subStatus
            )
            return opportunity
          })
        })
        .finally(() => {
          this.isLoadingData = false
        })
    },
    updateSubStatus(opportunityStage) {
      this.isLoading = true

      const data = {
        //id do status em que o stage se encontra
        opportunity_stage_status_id:
          opportunityStage.opportunity_stage_status_id,
        opportunity_stage_substatus_id:
          opportunityStage.opportunity_stage_substatus_id,
      }

      kc.put(`/opportunities/status/${opportunityStage.id}`, data)
        .then((response) => {
          this.loadOpportunity(this.opportunity.id)
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            color: 'error',
          })
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    updateStatus(opportunityStage) {
      this.isLoading = true
      //id do stage
      kc.put(`/opportunities/status/${opportunityStage.id}`, {
        //id do status em que o stage se encontra
        opportunity_stage_status_id:
          opportunityStage.opportunity_stage_status_id,
        opportunity_stage_substatus_id: null,
        //opportunityStage.opportunity_stage_substatus_id,
      })
        .then((response) => {
          this.loadOpportunity(this.opportunity.id)
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            color: 'error',
          })
        })
        .finally(() => {
          this.isLoading = false
        })
    },
  },
}
</script>
