<template>
  <v-container>
    <v-row justify="center" class="my-3">
      <v-col
        v-for="(route, index) in routes"
        :key="index"
        cols="12"
        sm="6"
        md="4"
      >
        <v-hover v-slot:default="{ hover }">
          <v-card
            min-height="180"
            min-width="180"
            :elevation="hover ? 16 : 2"
            class="fill-height kc-border kc-diligence"
            outlined
            :to="route.path"
          >
            <v-card-title class="justify-center my-4">
              <v-icon x-large color="white">
                {{ route.icon }}
              </v-icon>
            </v-card-title>
            <v-card-text class="title text-center white--text">
              {{ route.title }}
            </v-card-text>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Admin',
  data() {
    return {
      //novas rotas de admin devem ser adicionadas aqui
      routes: [
        {
          title: 'Recursos',
          path: '/resources',
          icon: 'fas fa-id-card-alt',
        },
        {
          title: 'Módulos',
          path: '/modules',
          icon: 'fas fa-user-lock',
        },
        {
          title: 'Perfis',
          path: '/profiles',
          icon: 'fas fa-users',
        },
        {
          title: 'Usuários',
          path: '/users',
          icon: 'far fa-user',
        },
        {
          title: 'Empresas',
          path: '/companies',
          icon: 'far fa-building',
        },
        // {
        //   title: 'Parâmetros do Sistema',
        //   path: '/setup',
        //   icon: 'fas fa-cogs',
        // },
        {
          title: 'Cadastro de Cidades',
          path: '/cities',
          icon: 'fas fa-globe-americas',
        },
        {
          title: 'Permissões',
          path: '/permissions',
          icon: 'fab fa-aws',
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.kc-diligence {
  background: transparent
    linear-gradient(
      60deg,
      var(--v-primary-base) 0%,
      var(--v-primary-lighten1) 100%
    )
    0% 0%;
  cursor: pointer;
}
</style>
