<template>
  <v-container>
    <v-row>
      <v-col>
        <v-form v-model="form" @submit.prevent>
          <vuetify-google-autocomplete
            id="map"
            ref="autocomplete"
            v-model.trim="selectedCity"
            label="Cidade"
            placeholder="Cadastre uma cidade"
            :rules="cityRules"
            types="(cities)"
            country="BR"
            :fields="placeFields"
            @placechanged="getAddressData"
          >
            <template v-slot:prepend-inner>
              <v-icon left>
                $vuetify.icons.ps_geo
              </v-icon>
            </template>
          </vuetify-google-autocomplete>
        </v-form>
      </v-col>
    </v-row>
    <v-row v-if="selectedCity && !loading">
      <v-col>
        <v-card class="mx-auto pt-2" max-width="500" max-height="125">
          <span class="ml-4 mt-6"
            >Deseja adicionar a cidade {{ selectedCity }}?</span
          >
          <v-card-text right>
            <v-chip color="red" text-color="white" @click="dontSave">
              Não
            </v-chip>

            <v-chip
              class="ml-2"
              color="green"
              outlined
              :loading="loading"
              @click="save"
            >
              Sim
            </v-chip>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="cities.length > 0 && !loading">
      <v-col cols="12">
        <v-list>
          <v-subheader>
            <v-text-field v-model="filteredCity" label="Filtrar cidade" />
          </v-subheader>
          <v-list-item v-for="city in filteredCities" :key="city.id">
            <v-list-item-content>
              <v-list-item-title v-text="city.description"></v-list-item-title>
            </v-list-item-content>
            <v-list-item-icon>
              <v-switch
                v-model="city.enabled"
                inset
                flat
                :color="city.enabled ? 'success' : 'error'"
                :loading="city.loading"
                @change="update(city)"
              />
            </v-list-item-icon>
            <v-list-item-icon>
              <v-icon right class="mt-5" @click="deleteCity(city)"
                >fas fa-trash</v-icon
              >
            </v-list-item-icon>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
    <v-row v-else justify="center">
      <v-progress-circular
        :size="100"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </v-row>
  </v-container>
</template>

<script>
import { kc } from '@/api'
import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete'
export default {
  name: 'Cities',
  components: {
    VuetifyGoogleAutocomplete,
  },
  data() {
    return {
      placeFields: [
        'address_component',
        'adr_address',
        'business_status',
        'formatted_address',
        'geometry',
        'icon',
        'name',
        'photo',
        'place_id',
        'plus_code',
        'type',
        'url',
        'utc_offset_minutes',
        'vicinity',
      ],
      typesAutocomplete: ['cities'],
      form: false,
      cityRules: [
        (v) => !!v || 'Digite um nome de uma cidade',
        (v) => !!v.trim() || 'Digite um nome de uma cidade',
      ],
      cities: [],
      selectedCity: '',
      filteredCity: '',
      address: '',
      addressRules: [(v) => !!v || 'Endereço inválido'],
      loading: false,
    }
  },
  computed: {
    filteredCities() {
      if (this.filteredCity)
        return this.cities.filter((city) =>
          city.description
            .toLowerCase()
            .includes(this.filteredCity.toLowerCase())
        )
      else return this.cities
    },
  },
  created() {
    this.loadCities()
  },
  methods: {
    getAddressData(addressData, placeResultData) {
      this.selectedCity = addressData.locality
    },
    toggleLoading(city) {
      city.loading = !city.loading
      this.cities.splice(
        this.cities.findIndex((c) => c.id == city.id),
        1,
        city
      )
    },
    loadCities() {
      kc.get('/permitted-cities')
        .then((res) => {
          this.cities = res.data
        })
        .catch(() => {
          this.$store.commit('showSnackbar', {
            text: 'Erro ao carregar cidades',
            color: 'error',
          })
        })
    },
    dontSave() {
      this.selectedCity = ''
    },
    save() {
      if (this.form) {
        this.loading = true
        const data = {
          description: this.selectedCity.split(',')[0],
          enabled: true,
        }
        kc.post('/permitted-cities', data)
          .then((res) => {
            this.cities.unshift(res.data)
            this.$store.commit('showSnackbar', {
              text: 'Cidade cadastrada com sucesso',
              color: 'success',
            })
            this.selectedCity = ''
            this.loading = false
          })
          .catch(() => {
            this.$store.commit('showSnackbar', {
              text: 'Erro ao cadastrar cidade',
              color: 'error',
            })
          })
      }
    },
    update(city) {
      this.toggleLoading(city)
      const data = {
        description: city.description,
        enabled: city.enabled,
      }
      kc.put(`/permitted-cities/${city.id}`, data)
        .then((res) => {
          const elementIndex = this.cities.findIndex(
            (city) => city.id == res.data.id
          )

          if (elementIndex > -1) this.cities.splice(elementIndex, 1, res.data)

          this.$store.commit('showSnackbar', {
            text: 'Cidade editada com sucesso',
            color: 'success',
          })
        })
        .catch(() => {
          this.$store.commit('showSnackbar', {
            text: 'Erro ao editar cidade',
            color: 'error',
          })
        })
    },
    deleteCity(city) {
      console.log(city)
      if (confirm('Deseja excluir a cidade ' + city.description)) {
        this.loading = true
        kc.delete(`/permitted-cities/${city.id}`)
          .then((res) => {
            this.cities.splice(
              this.cities.findIndex((city) => city.id == res.data),
              1
            )
            this.$store.commit('showSnackbar', {
              text: 'Cidade deletada com sucesso',
              color: 'success',
            })
            this.loading = false
          })
          .catch(() => {
            this.$store.commit('showSnackbar', {
              text: 'Erro ao deletar cidade',
              color: 'error',
            })
            this.loading = false
          })
      }
    },
  },
}
</script>
