<template>
  <div class="text-center my-5 mx-12">
    <div class="text-right">
      <v-btn text large color="primary" @click="create">
        Cadastrar Empresa
        <v-icon right dark>
          fas fa-plus
        </v-icon>
      </v-btn>
    </div>
    <!-- TABLE -->
    <v-data-table
      :headers="headers"
      :items="companies"
      :items-per-page="10"
      class="elevation-2"
      :loading="isLoading"
      @page-count="pagination.totalItems = $event"
    >
      <template v-slot:[`item.created_at`]="{ item }">
        {{ item.created_at | newDate }}
      </template>
      <template v-slot:[`item.updated_at`]="{ item }">
        {{ item.updated_at | newDate }}
      </template>
      <template v-slot:[`item.update`]="{ item }">
        <v-btn icon @click="update(item)">
          <v-icon small color="primary">
            far fa-edit
          </v-icon>
        </v-btn>
      </template>
      <!-- <template v-slot:[`item.theme`]="{ item }">
        <v-btn icon :to="`/themes/${item.id}`">
          <v-icon small color="primary">
            fas fa-palette
          </v-icon>
        </v-btn>
      </template> -->
      <template v-slot:[`item.delete`]="{ item }">
        <v-btn icon @click="deleteConfirm(item.id)">
          <v-icon small color="primary">
            far fa-trash-alt
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <!--  <v-footer
      fixed
      app
      color="white"
    >
      <v-row
        justify="center"
        class="mb-6"
      >
        <v-btn
          color="primary"
          rounded
          height="40"
          bottom
          @click.stop="create"
        >
          Cadastrar Empresa
        </v-btn>
      </v-row>
    </v-footer> -->
    <!--  CREATE MODAL -->
    <v-dialog
      v-model="registerModel"
      persistent
      width="500px"
      class="text-right"
    >
      <v-card class="kc-border">
        <v-card-title class="justify-center primary">
          <h3 class="title white--text">
            Cadastro de Empresa
          </h3>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="form" lazy-validation>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="newCompany.name"
                    label="Nome"
                    :rules="fieldRules"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        fas fa-user
                      </v-icon>
                    </template>
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="newCompany.cnpj"
                    v-mask="'##.###.###/####-##'"
                    label="CNPJ"
                    :rules="cnpjRules"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        fas fa-file-alt
                      </v-icon>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
              <v-spacer />
              <v-row justify="center" justify-md="end">
                <v-btn
                  color="primary"
                  text
                  class="kc-border mx-1"
                  @click="registerModel = false"
                >
                  Fechar
                </v-btn>
                <v-btn
                  color="primary"
                  text
                  class="kc-border"
                  :class="!form ? 'disabled' : ''"
                  @click="saveCompany"
                >
                  Salvar
                </v-btn>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { kc } from '@/api'
import Vue from 'vue'
import validateCnpj from '@/shared/util/validateCnpj'
import { kcDate } from '@/shared/mixins'

export default {
  mixins: [kcDate],
  data() {
    return {
      form: false,
      isLoading: false,
      showPassword: false,
      search: '',
      pagination: {
        page: 1,
        pages: 1,
        rowsPerPage: 10,
        totalItems: 0,
      },
      headers: [
        {
          text: 'ID',
          align: 'center',
          value: 'id',
        },
        {
          text: 'Nome',
          align: 'center',
          value: 'name',
        },
        {
          text: 'CNPJ',
          align: 'center',
          value: 'cnpj',
        },
        {
          text: 'Criado em',
          align: 'center',
          value: 'created_at',
        },
        {
          text: 'Editado em',
          align: 'center',
          value: 'updated_at',
        },
        {
          text: 'Atualizar',
          align: 'center',
          value: 'update',
        },
        // {
        //   text: 'Tema',
        //   align: 'center',
        //   value: 'theme',
        // },
        {
          text: 'Excluir',
          align: 'center',
          value: 'delete',
        },
      ],
      companies: [],
      registerModel: false,
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
      cnpjRules: [(v) => validateCnpj(v) || 'CNPJ inválido'],
      newCompany: {
        name: '',
        cnpj: '',
      },
    }
  },
  beforeMount() {
    this.getCompanies()
  },
  methods: {
    getCompanies() {
      this.isLoading = true
      kc.get(`/companies`)
        .then((response) => {
          this.companies = response.data
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    create(item) {
      ;(this.newCompany = {
        name: '',
        cnpj: '',
      }),
        (this.registerModel = true)
    },
    update(item) {
      ;(this.newCompany = { ...item }), (this.registerModel = true)
    },
    saveCompany() {
      let request = !this.newCompany.id
        ? kc.post('/companies', {
            ...this.newCompany,
          })
        : kc.put(`/companies/${this.newCompany.id}`, {
            name: this.newCompany.name,
            cnpj: this.newCompany.cnpj,
          })
      request
        .then((response) => {
          this.registerModel = false
          const index = this.companies.findIndex(
            (el) => el.id == response.data.id
          )
          if (index > -1) {
            Vue.set(this.companies, index, {
              ...response.data,
            })
          } else {
            this.companies.unshift(response.data)
          }
          this.newCompany = {
            name: '',
            cnpj: '',
          }
          this.$store.commit('showSnackbar', {
            text: 'Cadastrado com Sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
    },
    deleteCompany(id) {
      kc.delete(`/companies/${id}`)
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Excluído com Sucesso',
            timeout: 3000,
            color: 'success',
          })
          this.companies.splice(
            this.companies.findIndex((el) => el.id == id),
            1
          )
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
    },
    deleteConfirm(id) {
      if (confirm('Deseja deletar a empresa?')) {
        this.deleteCompany(id)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.required-field {
  font-size: 1.2rem;
}

.v-data-table ::v-deep th + th {
  border-left: 1px solid #dddddd !important;
}
::v-deep td + td {
  border-left: 1px solid #dddddd;
}

.v-data-table ::v-deep thead tr:last-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--v-primary-base) !important;
  border-bottom-color: var(--v-primary-base) !important;
}

.v-data-table {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px !important;
}

.v-data-table
  ::v-deep
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: var(--v-primary-base) !important;
}

.v-pagination ::v-deep button.v-pagination__navigation {
  border: 1px solid var(--v-primary-base);
  width: 3.2rem;
  height: 3.2rem;
  margin: 25px;
}

.v-pagination ::v-deep .theme--light.v-icon {
  font-size: 1.4rem;
  color: var(--v-primary-base) !important;
}

.v-data-table ::v-deep tbody tr:nth-of-type(odd) {
  background-color: #f4f7f9 !important;
  border-collapse: collapse !important;
}
.table ::v-deep .table thead {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tbody tr:not(:last-child) {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tfoot tr {
  border-top: solid 1px #dddddd;
}
</style>
