<template>
  <v-container>
    <v-row>
      <v-col id="dashboardContainer" cols="12" />
      <v-col cols="12" class="primary--text">
        <h1 class="title">
          Dashboards
        </h1>
        <v-list>
          <template v-for="(item, index) in dashboards">
            <v-list-item :key="index">
              <v-list-item-content>
                <v-list-item-title v-text="item.dashboard_name" />
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon @click="getUrl(item.dashboard_id)">
                  <v-icon color="primary">
                    fas fa-eye
                  </v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
            <v-divider
              v-if="index + 1 < dashboards.length"
              :key="`divider${index}`"
            />
          </template>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { embedDashboard } from 'amazon-quicksight-embedding-sdk'
import { kc } from '@/api'
export default {
  name: 'Dashboards',
  data() {
    return {
      dashboard: {},
      dashboards: [],
    }
  },
  created() {
    kc.get('/dashboards')
      .then((response) => {
        this.dashboards = response.data
      })
      .catch(() => {
        this.$store.commit('showSnackbar', {
          text: 'Erro ao carregar dashboard!',
        })
      })
  },
  methods: {
    getUrl(id) {
      kc.get(`/dashboards/${id}`)
        .then((response) => {
          this.loadDash(response.data)
        })
        .catch(() => {
          this.$store.commit('showSnackbar', {
            text: 'Erro ao carregar dashboard!',
          })
        })
    },
    loadDash(url) {
      const height = this.$vuetify.breakpoint.xs ? '500' : 'AutoFit'
      const options = {
        url: url,
        container: document.getElementById('dashboardContainer'),
        scrolling: 'no',
        height: height,
        locale: 'en-US',
        footerPaddingEnabled: true,
      }

      if (this.dashboard.container) {
        const parent = this.dashboard.container
        while (parent.firstChild) {
          parent.firstChild.remove()
        }
      }

      this.dashboard = embedDashboard(options)
    },
  },
}
</script>
