<template>
  <v-container fluid fill-height class="justify-center text-center">
    <v-col cols="12" sm="10" md="8" lg="7" xl="6">
      <v-card class="transparent" flat>
        <p class="headline primary--text font-weight-bold">
          Ops! Você Não Tem Acesso á Esta Tela.
        </p>
        <v-img :src="require('../assets/forbidden.svg')" />
      </v-card>
    </v-col>
  </v-container>
</template>

<script>
export default {}
</script>
