<template>
  <v-container>
    <v-row justify="center" class="my-3">
      <v-col
        v-for="(route, index) in userRoutes"
        :key="index"
        cols="12"
        sm="6"
        md="4"
      >
        <v-hover v-slot:default="{ hover }">
          <v-card
            min-height="180"
            min-width="180"
            :elevation="hover ? 16 : 2"
            class="fill-height kc-border kc-diligence"
            outlined
            :to="route.path"
          >
            <v-card-title class="justify-center my-4">
              <v-icon x-large color="white">
                {{ route.icon }}
              </v-icon>
            </v-card-title>
            <v-card-text class="title text-center white--text">
              {{ route.title }}
            </v-card-text>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      //novas rotas de usuarios devem ser adicionadas aqui
      routes: [
        {
          title: 'Oportunidades',
          path: '/opportunities',
          name: 'opportunities',
          icon: 'fas fa-suitcase',
        },
        {
          title: 'Administrador',
          path: '/admin',
          name: 'admin',
          icon: 'fas fa-user',
        },
        {
          title: 'Dashboards',
          path: '/dashboards',
          name: 'dashboards',
          icon: 'fas fa-chart-pie',
        },
        {
          title: 'Cadastro de oportunidades',
          path: '/register-opportunity',
          name: 'register-opportunity',
          icon: 'fas fa-wallet',
        },
        {
          title: 'Cadastro de Taxas',
          path: '/taxes',
          name: 'taxes',
          icon: 'fas fa-percentage',
        },
        {
          title: 'Cadastro de Mídias Sociais',
          path: '/social-media',
          name: 'social-media',
          icon: 'fas fa-users',
        },
        {
          title: 'Cadastro de FAQ',
          path: '/faq',
          name: 'social-media',
          icon: 'fas fa-question-circle',
        },
        /* {
          title: 'Análise de Crédito',
          path: '/status-tracking',
          icon: 'fas fa-chart-bar',
        }, */
      ],
      userRoutes: [],
      user: JSON.parse(localStorage.user),
    }
  },
  computed: {
    menuView() {
      return this.menus.filter((el) => !el.needAdmin || this.user.admin)
    },
  },
  beforeMount() {
    // TODO Implementar ACL
    this.userRoutes = this.routes
    // this.userRoutes = this.routes.filter((route) => {
    //   return this.user.resources.some((resource) => {
    //     return route.name === resource
    //   })
    // })
  },
}
</script>

<style lang="scss" scoped>
.kc-diligence {
  background: transparent
    linear-gradient(
      60deg,
      var(--v-primary-base) 0%,
      var(--v-primary-lighten1) 100%
    )
    0% 0%;
  cursor: pointer;
}
</style>
