<template>
  <v-container fluid fill-height class="primary">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-card flat justify="center" align="center" class="ma-5 transparent">
          <v-img
            alt="Application logo"
            :src="require('../assets/logo.svg')"
            contain
            height="128px"
          />
        </v-card>
        <v-card class="elevation-7 pa-5 kc-border">
          <v-card-text class="py-0">
            <div class="text-center mt-4">
              <span class="headline font-weight-bold"> Seja bem-vindo.</span>
              <p class="subtitle-1 font-weight-bold mb-8">
                Faça o login para acessar o sistema.
              </p>
            </div>
            <v-form v-model="valid">
              <v-text-field
                v-model="userName"
                label="Qual o seu email?"
                type="text"
                :rules="emailRules"
              />
              <v-text-field
                v-model="password"
                label="Qual é a sua senha?"
                :rules="passwordRules"
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                @click:append="showPassword = !showPassword"
                @keyup.enter="login()"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-row dense>
              <v-col cols="12" class="text-center">
                <v-btn
                  :loading="loading"
                  class="kc-button ps-button font-weight-bold"
                  :class="{ primary: valid, grey: !valid, disabled: !valid }"
                  @click="login"
                >
                  entrar
                </v-btn>
              </v-col>
              <v-col>
                <v-btn text block class="text-center" @click="forgot">
                  <span class="text-capitalize text--secondary">
                    Esqueceu sua senha?
                    <span class="primary--text">Clique aqui</span>
                  </span>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { auth as kc } from '@/api'

export default {
  name: 'Login',
  data() {
    return {
      valid: false,
      emailRules: [
        (v) => !!v || 'E-mail é obrigatório',
        (v) =>
          /^[A-Za-z0-9_@./#&+-]+@[A-Za-z0-9_@./#&+-]+\..{2,3}(.{2,3})?$/.test(
            v
          ) || 'E-mail deve ser válido',
      ],
      passwordRules: [
        (v) => !!v || 'Senha é obrigatória',
        (v) => v.length >= 4 || 'Senha deve ter no miní­mo 6 caracteres',
      ],
      showPassword: false,
      loading: false,
      userName: '',
      password: '',
    }
  },
  methods: {
    login() {
      if (this.valid) {
        this.loading = true
        const credentials = {
          userName: this.userName,
          password: this.password,
        }

        kc.post('/auth/login', credentials)
          .then((response) => {
            if (response.data) {
              this.$store.commit('login', response.data)
              this.$store.commit('user', response.data)
            }
            this.$router.push('/home')
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text:
                error.response.status === 401
                  ? 'Email e/ou senha inválidos'
                  : error,
              color: 'error',
            })
          })
          .finally(() => {
            this.loading = false
          })
      }
    },
    forgot() {
      this.$router.push('/reset')
    },
  },
}
</script>

<style scoped>
.kc-button {
  height: 48px !important;
  width: 200px;
}
</style>
