<template>
  <div class="text-center my-5 mx-12">
    <div class="text-right">
      <v-btn text large color="primary" @click="modal = true">
        Cadastrar Módulo
        <v-icon right dark>
          fas fa-plus
        </v-icon>
      </v-btn>
    </div>
    <!-- TABLE -->
    <v-data-table
      :headers="headers"
      :items="modules"
      :items-per-page="10"
      :loading="isLoading"
      class="elevation-2"
      :footer-props="{
        'items-per-page-text': 'Linhas por página',
        'page-text': '{0} de {1}',
        'items-per-page-all-text': 'Todos',
      }"
      @page-count="pagination.totalItems = $event"
    >
      <template v-slot:[`item.created_at`]="{ item }">
        {{ item.created_at | newDate }}
      </template>
      <template v-slot:[`item.updated_at`]="{ item }">
        {{ item.updated_at | newDate }}
      </template>
      <template v-slot:[`item.update`]="{ item }">
        <v-btn icon @click="openModal(item)">
          <v-icon small color="primary">
            far fa-edit
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.delete`]="{ item }">
        <v-btn icon @click="deleteModule(item.id)">
          <v-icon small color="primary">
            far fa-trash-alt
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <div class="text-right">
      <v-dialog v-model="modal" persistent width="500px">
        <v-card class="kc-border">
          <v-card-title class="justify-center primary">
            <h3 class="title white--text">
              {{ module.id ? 'Atualizar Módulo' : 'Cadastrar Módulo' }}
            </h3>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-form ref="form" v-model="form" lazy-validation>
                <v-row>
                  <v-col cols="12">
                    <v-text-field v-model="module.name" :rules="fieldRules">
                      <template v-slot:label>
                        Nome<span class="error--text required-field">*</span>
                      </template>
                      <template v-slot:prepend-inner>
                        <v-icon class="mr-2 mt-1" small>
                          fas fa-cog
                        </v-icon>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-spacer />
                <v-row justify="center" justify-md="end">
                  <v-btn
                    color="primary"
                    text
                    class="kc-border mx-1"
                    :loading="isLoading"
                    @click="closeModal"
                  >
                    Fechar
                  </v-btn>
                  <v-btn
                    color="primary"
                    text
                    class="kc-border"
                    :class="!form ? 'disabled' : ''"
                    :loading="isLoading"
                    @click="saveOrUpdateModule(module)"
                  >
                    Salvar
                  </v-btn>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import { kc } from '@/api'
import { kcDate } from '@/shared/mixins'
export default {
  name: 'Modules',
  mixins: [kcDate],
  data() {
    return {
      modules: [],
      module: {
        id: null,
        name: '',
      },
      isLoading: true,
      modal: false,
      form: true,
      pagination: {
        page: 1,
        pages: 1,
        rowsPerPage: 10,
        totalItems: 0,
      },
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
      headers: [
        {
          text: 'ID',
          align: 'center',
          value: 'id',
        },
        {
          text: 'Name',
          align: 'center',
          value: 'name',
        },
        {
          text: 'Criado em',
          align: 'center',
          value: 'created_at',
        },
        {
          text: 'Editado em',
          align: 'center',
          value: 'updated_at',
        },
        {
          text: 'Atualizar',
          align: 'center',
          value: 'update',
        },
        {
          text: 'Excluir',
          align: 'center',
          value: 'delete',
        },
      ],
    }
  },
  beforeMount() {
    this.getModules()
  },
  methods: {
    getModules() {
      kc.get(`/acl/modules`)
        .then((response) => {
          this.modules = response.data
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    openModal(module) {
      this.module = { ...module }
      this.modal = true
    },
    closeModal() {
      this.module = {
        id: null,
        name: '',
      }
      this.$refs.form.reset()
      this.modal = false
    },
    saveOrUpdateModule(module) {
      if (this.$refs.form.validate()) {
        this.isLoading = true
        //seleciona a resquest correta de acordo com a existencia ou não do id
        const request = module.id
          ? kc.put(`/acl/modules/${module.id}`, { name: module.name })
          : kc.post(`/acl/modules`, { name: module.name })

        request
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'Módulo salvo com sucesso',
              color: 'success',
            })
            if (module.id == null) {
              //se foi Save, adiciona o response ao array
              this.modules.push(response.data)
            } else {
              //se foi Update, atualiza o elemento no array
              this.modules[
                this.modules.findIndex((el) => el.id == module.id)
              ].name = module.name
            }
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              color: 'primary',
            })
          })
          .finally(() => {
            this.isLoading = false
            this.closeModal()
          })
      }
    },
    deleteModule(id) {
      /*   this.$store.dispatch('confirmDialog', { show: true }).then((response) => {
        if (response) { */
      if (confirm('Deseja excluir esse módulo?')) {
        kc.delete(`/acl/modules/${id}`)
          .then((response) => {
            this.modules.splice(
              this.modules.findIndex((el) => el.id == response.data),
              1
            )
            this.$store.commit('showSnackbar', {
              text: 'Excluído com Sucesso',
              timeout: 3000,
              color: 'success',
            })
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text:
                error.response.status == 412
                  ? 'Existem perfis utilizando esse módulo'
                  : error,
              timeout: 3000,
              color: 'error',
            })
          })
      }
      /*    }
      }) */
    },
  },
}
</script>

<style lang="scss" scoped>
.required-field {
  font-size: 1.2rem;
}

.v-data-table ::v-deep th + th {
  border-left: 1px solid #dddddd !important;
}
::v-deep td + td {
  border-left: 1px solid #dddddd;
}

.v-data-table ::v-deep thead tr:last-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--v-primary-base) !important;
  border-bottom-color: var(--v-primary-base) !important;
}

.v-data-table {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px !important;
}

.v-data-table
  ::v-deep
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: var(--v-primary-base) !important;
}

.v-pagination ::v-deep button.v-pagination__navigation {
  border: 1px solid var(--v-primary-base);
  width: 3.2rem;
  height: 3.2rem;
  margin: 25px;
}

.v-pagination ::v-deep .theme--light.v-icon {
  font-size: 1.4rem;
  color: var(--v-primary-base) !important;
}

.v-data-table ::v-deep tbody tr:nth-of-type(odd) {
  background-color: #f4f7f9 !important;
  border-collapse: collapse !important;
}
.table ::v-deep .table thead {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tbody tr:not(:last-child) {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tfoot tr {
  border-top: solid 1px #dddddd;
}
</style>
