<template>
  <div>
    <v-card class="ma-8 kc-border">
      <v-data-table
        :headers="headers"
        :items="opportunities"
        :expanded.sync="expanded"
        item-key="id"
        show-expand
        :loading="loading"
        multi-sort
      >
        <template v-slot:top>
          <v-row class="px-5">
            <v-col class="col-2">
              <v-text-field
                v-model="filteredBorrower"
                label="Proponente"
                single-line
                clearable
              />
            </v-col>
            <v-col class="col-3">
              <v-text-field
                v-model="filteredAddress"
                label="Endereço"
                single-line
                clearable
              />
            </v-col>
            <v-col class="col-3">
              <v-text-field
                v-model="filteredProtocol"
                label="Protocolo"
                single-line
                clearable
              />
            </v-col>
            <!-- <v-col class="col-3">
              <v-text-field
                v-model="filteredBroker"
                label="Corretor"
                single-line
                clearable
              />
            </v-col> -->
            <v-col class="col-md-1">
              <v-btn large text color="primary" @click="loadFilteredData()">
                <v-icon>fas fa-filter</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-toolbar flat>
            <v-toolbar-title class="primary--text">
              Oportunidades
            </v-toolbar-title>
          </v-toolbar>
        </template>
        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <v-row>
              <v-col>
                <v-card outlined rounded>
                  <v-card-title
                    >Oportunidade: {{ item.id }} -
                    {{ item.protocol }}</v-card-title
                  >
                  <v-card-text>
                    <v-row>
                      <v-chip-group column>
                        <v-chip class="ma-1" draggable>
                          Status da documentação do proponente:
                          {{
                            item.property.property_dd.owner_documents_sts !==
                            null
                              ? getDocumentStatus(
                                  item.property.property_dd.owner_documents_sts
                                )
                              : 'Não iniciada'
                          }}
                        </v-chip>
                        <v-chip class="ma-1" draggable>
                          Análise de crédito preliminar:
                          {{
                            item.credit.crd_analysis_01_sts !== null
                              ? item.credit.crd_analysis_01.desc
                              : 'Não iniciada'
                          }}
                        </v-chip>
                        <v-chip class="ma-1" draggable>
                          Análise de crédito final:
                          {{
                            item.credit.crd_analysis02 !== null
                              ? item.credit.crd_analysis02.desc
                              : 'Não iniciada'
                          }}
                        </v-chip>
                        <v-chip class="ma-1" draggable>
                          Análise garantia:
                          {{
                            item.property.property_dd.prop_analysis !== null
                              ? item.property.property_dd.prop_analysis.desc
                              : 'Não iniciada'
                          }}
                        </v-chip>
                        <v-chip class="ma-1" draggable>
                          Análise gestor:
                          {{
                            item.credit.deal_apv_analysis_sts !== null
                              ? item.credit.deal_apv_analysis_sts
                              : 'Não iniciada'
                          }}
                        </v-chip>
                        <v-chip class="ma-1" draggable>
                          Análise comitê 01:
                          {{
                            item.credit.cmt_analysis_01 !== null
                              ? item.credit.cmt_analysis_01.desc
                              : 'Não iniciada'
                          }}
                        </v-chip>
                        <v-chip class="ma-1" draggable>
                          Análise comitê 02:
                          {{
                            item.credit.cmt_analysis_02 !== null
                              ? item.credit.cmt_analysis_02.desc
                              : 'Não iniciada'
                          }}
                        </v-chip>
                      </v-chip-group>
                    </v-row>
                  </v-card-text>
                  <!-- <v-card-actions>
                    <v-btn
                      small
                      color="primary"
                      @click="
                        $refs.opportunityDialog.openDialog(item)
                        highlight(item)
                      "
                    >
                      <v-icon left small>fas fa-ellipsis-v</v-icon>
                      Dados da oportunidade
                    </v-btn>
                    <v-btn
                      small
                      color="primary"
                      @click="
                        $refs.documentsDialog.openDialog(item)
                        highlight(item)
                      "
                    >
                      <v-icon left>fas fa-file-alt</v-icon>
                      Documentos
                    </v-btn>
                    <v-btn
                      small
                      color="primary"
                      @click="
                        $refs.creditDialog.openDialog(item)
                        highlight(item)
                      "
                    >
                      <v-icon left>fas fa-credit-card</v-icon>
                      Análise de crédito
                    </v-btn>
                    <v-btn
                      small
                      color="primary"
                      @click="
                        $refs.propertyDialog.openDialog(item)
                        highlight(item)
                      "
                    >
                      <v-icon left>fas fa-home</v-icon>
                      Análise da Garantia
                    </v-btn>
                    <v-btn
                      small
                      color="primary"
                      @click="
                        $refs.managerDialog.openDialog(item)
                        highlight(item)
                      "
                    >
                      <v-icon left>fas fa-user-tie</v-icon>
                      Análise do Gestor
                    </v-btn>
                    <v-btn
                      small
                      color="primary"
                      @click="
                        $refs.boardDialog.openDialog(item)
                        highlight(item)
                      "
                    >
                      <v-icon left>fas fa-users</v-icon>
                      Dados do comitê
                    </v-btn>
                    <v-btn
                      small
                      color="primary"
                      @click="
                        $refs.statusDialog.openDialog(item)
                        highlight(item)
                      "
                    >
                      <v-icon left>fas fa-suitcase</v-icon>
                      Concierge
                    </v-btn>
                  </v-card-actions> -->
                </v-card>
              </v-col>
            </v-row>
          </td>
        </template>
        <template v-slot:item="{ item }">
          <tr
            class="text-center"
            :class="item.id === itemToHighlight ? 'deep-purple lighten-5' : ''"
          >
            <td>
              <span class="d-block">
                {{ item.protocol ? item.protocol : '-----' | uppercase }}
              </span>
              <span>
                {{ userDateTime(item.created_at) }}
              </span>
            </td>
            <!-- <td>
              <span
                @click="
                  $refs.brokerDialog.openDialog(item)
                  highlight(item)
                "
              >
                {{
                  item.property.broker
                    ? item.property.broker.name
                    : '-----' | uppercase
                }}
              </span>
            </td> -->
            <td>
              <span
                @click="
                  $refs.addressDialog.openDialog(item)
                  highlight(item)
                "
              >
                {{
                  `${item.property.prop_address}, ${item.property.prop_number} - ${item.property.prop_comp}`
                    | uppercase
                }}
              </span>
            </td>
            <td>
              <span
                @click="
                  $refs.ownerDialog.openDialog(item)
                  highlight(item)
                "
              >
                {{
                  item.property.properties_owners !== undefined &&
                  item.property.properties_owners[0].owner_name !== null
                    ? `${item.property.properties_owners[0].owner_name}`
                    : '-----' | uppercase
                }}
              </span>
            </td>
            <td>
              <v-btn
                icon
                color="primary"
                @click="
                  $refs.opportunityDialog.openDialog(item)
                  highlight(item)
                "
              >
                <v-icon>fas fa-ellipsis-v</v-icon>
              </v-btn>
            </td>
            <td>
              <v-btn
                icon
                color="primary"
                @click="
                  $refs.documentsDialog.openDialog(item)
                  highlight(item)
                "
              >
                <v-icon>fas fa-file-alt</v-icon>
              </v-btn>
            </td>
            <td>
              <v-btn
                icon
                color="primary"
                @click="
                  $refs.creditDialog.openDialog(item)
                  highlight(item)
                "
              >
                <v-icon>fas fa-credit-card</v-icon>
              </v-btn>
            </td>
            <td>
              <v-btn
                icon
                color="primary"
                @click="
                  $refs.propertyDialog.openDialog(item)
                  highlight(item)
                "
              >
                <v-icon>fas fa-home</v-icon>
              </v-btn>
            </td>
            <td>
              <v-btn
                icon
                color="primary"
                @click="
                  $refs.managerDialog.openDialog(item)
                  highlight(item)
                "
              >
                <v-icon>fas fa-user-tie</v-icon>
              </v-btn>
            </td>
            <td>
              <v-btn
                icon
                color="primary"
                @click="
                  $refs.boardDialog.openDialog(item)
                  highlight(item)
                "
              >
                <v-icon>fas fa-users</v-icon>
              </v-btn>
            </td>
            <td>
              <v-btn
                icon
                color="primary"
                @click="
                  $refs.statusDialog.openDialog(item)
                  highlight(item)
                "
              >
                <v-icon>fas fa-suitcase</v-icon>
              </v-btn>
            </td>
            <td>
              <v-btn icon @click="expand(item, index)">
                <v-icon>
                  fas fa-chevron-down
                </v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
    <broker-dialog ref="brokerDialog" @closed="dialogClosed" />
    <address-dialog ref="addressDialog" @closed="dialogClosed" />
    <owner-dialog
      ref="ownerDialog"
      :professions="professions"
      :banks="banks"
      @closed="dialogClosed"
    />
    <opportunity-dialog ref="opportunityDialog" @closed="dialogClosed" />
    <property-analysis-dialog ref="propertyDialog" @closed="dialogClosed" />
    <credit-analysis-dialog ref="creditDialog" @closed="dialogClosed" />
    <board-analysis-dialog ref="boardDialog" @closed="dialogClosed" />
    <documents-dialog ref="documentsDialog" @closed="dialogClosed" />
    <status-dialog ref="statusDialog" @closed="dialogClosed" />
    <manager-dialog ref="managerDialog" @closed="dialogClosed" />
  </div>
</template>

<script>
import BrokerDialog from '@/components/opportunities/BrokerDialog'
import AddressDialog from '@/components/opportunities/AddressDialog'
import OwnerDialog from '@/components/opportunities/OwnerDialog'
import OpportunityDialog from '@/components/opportunities/OpportunityDialog'
import PropertyAnalysisDialog from '@/components/opportunities/PropertyAnalysisDialog'
import CreditAnalysisDialog from '@/components/opportunities/CreditAnalysisDialog'
import BoardAnalysisDialog from '@/components/opportunities/BoardAnalysisDialog'
import DocumentsDialog from '@/components/opportunities/DocumentsDialog'
import StatusDialog from '@/components/opportunities/StatusDialog'
import ManagerDialog from '@/components/opportunities/ManagerDialog'

import { kc } from '@/api'
import { kcDate } from '@/shared/mixins'

export default {
  filters: {
    uppercase(value) {
      if (value) {
        return value.toUpperCase()
      }
    },
  },
  components: {
    BrokerDialog,
    AddressDialog,
    OwnerDialog,
    OpportunityDialog,
    PropertyAnalysisDialog,
    CreditAnalysisDialog,
    BoardAnalysisDialog,
    DocumentsDialog,
    StatusDialog,
    ManagerDialog,
  },
  mixins: [kcDate],
  data() {
    return {
      expanded: [],
      singleExpand: false,
      itemToHighlight: null,
      headers: [
        {
          text: 'ID',
          value: 'protocol',
          align: 'center',
        },
        // { text: 'Corretor', value: 'broker', align: 'center' },
        { text: 'Garantia', value: 'address', align: 'center' },
        { text: 'Proponentes e Fiduciantes', value: 'owner', align: 'center' },
        {
          text: 'Oportunidade',
          value: 'opportunityData',
          align: 'center',
        },
        { text: 'Documentos', value: 'documents', align: 'center' },
        { text: 'Análise Crédito', value: 'credit', align: 'center' },
        {
          text: 'Análise Garantia',
          value: 'propertyAnalysis',
          align: 'center',
        },
        {
          text: 'Análise Gestor',
          value: 'managerAnalysis',
          align: 'center',
        },
        { text: 'Comitê', value: 'boardAnalysis', align: 'center' },
        { text: 'Concierge', value: 'negociation', align: 'center' },
        { text: '', value: 'data-table-expand', align: 'center' },
      ],
      opportunities: [],
      loading: true,
      banks: [],
      professions: [],
      filteredBorrower: '',
      filteredAddress: '',
      filteredProtocol: '',
      // filteredBroker: '',
    }
  },
  beforeMount() {
    this.loadData()
    kc.get(`/bank-codes`).then((response) => {
      this.banks = response.data
      this.banks = this.banks.sort((a, b) => {
        return a.short_name.localeCompare(b.short_name)
      })
    })
    kc.get(`/professions`).then((response) => {
      this.professions = response.data
      this.professions = this.professions.sort((a, b) => {
        return a.desc.localeCompare(b.desc)
      })
    })
  },
  methods: {
    loadData() {
      this.loading = true
      kc.get(`/opportunities`)
        .then((response) => {
          this.opportunities = this.setPropertyFullAddress(response.data)
          if (this.$route.query.protocol) {
            this.setHighlightByQuery(this.$route.query.protocol)
          }
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
        })
    },
    getDocumentStatus(status) {
      if (status == 6) {
        return 'Pendente'
      } else if (status == 7) {
        return 'Completa'
      }
    },
    loadFilteredData() {
      this.loading = true
      if (
        // this.filteredBroker ||
        this.filteredAddress ||
        this.filteredProtocol ||
        this.filteredBorrower
      ) {
        kc.get(
          `/opportunities/?borrower=${
            this.filteredBorrower ? this.filteredBorrower : ''
          }&address=${
            this.filteredAddress ? this.filteredAddress : ''
          }&protocol=${this.filteredProtocol ? this.filteredProtocol : ''}`
        )
          .then((response) => {
            this.opportunities = this.setPropertyFullAddress(response.data)
            if (this.$route.query.protocol) {
              this.setHighlightByQuery(this.$route.query.protocol)
            }
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              timeout: 3000,
              color: 'error',
            })
          })
          .finally(() => {
            this.loading = false
          })
      } else {
        // this.filteredBroker = ''
        this.filteredAddress = ''
        this.filteredProtocol = ''
        this.filteredBorrower = ''
        this.loadData()
      }
    },
    dialogClosed() {
      this.loadFilteredData()
    },
    expand(item) {
      if (this.expanded.length == 0) {
        this.expanded.push(item)
      } else {
        if (this.expanded.some((elm) => elm.id == item.id)) {
          this.expanded = this.expanded.filter((elm) => elm.id != item.id)
        } else {
          this.expanded.push(item)
        }
      }
    },
    highlight(item) {
      this.itemToHighlight = item.id
    },
    setHighlightByQuery(protocol) {
      const oldIndex = this.opportunities.findIndex(
        (el) => el.protocol === protocol
      )
      if (oldIndex !== -1) {
        const newIndex = 0
        this.opportunities.splice(
          newIndex,
          0,
          this.opportunities.splice(oldIndex, 1)[0]
        )
        this.highlight(this.opportunities[0])
      }
    },
    setPropertyFullAddress(opportunities) {
      opportunities.map((opportunity) => {
        opportunity.property.full_address = `${opportunity.property.prop_address}, ${opportunity.property.prop_number} - ${opportunity.property.prop_district},  ${opportunity.property.prop_city} -  ${opportunity.property.prop_comp}`
      })
      return opportunities
    },
  },
}
</script>
