<template>
  <div class="text-center my-5 mx-12">
    <div class="text-right">
      <v-btn text large color="primary" to="/profiles/cadastre">
        Cadastrar Perfil
        <v-icon right dark>
          fas fa-plus
        </v-icon>
      </v-btn>
    </div>
    <!-- TABLE -->
    <v-data-table
      :headers="headers"
      :items="profiles"
      :items-per-page="10"
      :loading="isLoading"
      class="elevation-2"
      :footer-props="{
        'items-per-page-text': 'Linhas por página',
        'page-text': '{0} de {1}',
        'items-per-page-all-text': 'Todos',
      }"
      @page-count="pagination.totalItems = $event"
    >
      <template v-slot:[`item.id`]="{ item }">
        {{ item.id }}
      </template>
      <template v-slot:[`item.name`]="{ item }">
        {{ item.name }}
      </template>
      <template v-slot:[`item.update`]="{ item }">
        <v-btn icon :to="`/profiles/cadastre/${item.id}`">
          <v-icon small color="primary">
            far fa-edit
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.delete`]="{ item }">
        <v-btn icon @click="deleteConfirm(item.id)">
          <v-icon small color="primary">
            far fa-trash-alt
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <!-- <v-footer
      fixed
      app
      color="white"
    >
      <v-row
        justify="center"
        class="mb-6"
      >
        <v-btn
          color="primary"
          rounded
          height="40"
          bottom
          to="/profiles/cadastre"
        >
          Cadastrar Perfil
        </v-btn>
      </v-row>
    </v-footer> -->
  </div>
</template>
<script>
import { kc } from '@/api'

export default {
  name: 'Profiles',
  data() {
    return {
      form: false,
      isLoading: false,
      pagination: {
        page: 1,
        pages: 1,
        rowsPerPage: 10,
        totalItems: 0,
      },
      headers: [
        {
          text: 'ID',
          align: 'center',
          value: 'id',
        },
        {
          text: 'Nome',
          align: 'center',
          value: 'name',
        },
        {
          text: 'Atualizar',
          align: 'center',
          value: 'update',
        },
        {
          text: 'Excluir',
          align: 'center',
          value: 'delete',
        },
      ],
      profiles: [],
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
      cnpjRules: [(v) => validateCnpj(v) || 'CNPJ inválido'],
    }
  },
  beforeMount() {
    this.isLoading = true

    kc.get('/acl/roles')
      .then((response) => {
        this.profiles = response.data
      })
      .finally(() => {
        this.isLoading = false
      })
  },
  methods: {
    deleteProfile(id) {
      kc.delete(`/acl/roles/${id}`)
        .then((response) => {
          this.profiles.splice(
            this.profiles.findIndex((el) => el.id == response.data),
            1
          )
          this.$store.commit('showSnackbar', {
            text: 'Perfil excluído com sucesso',
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text:
              error.response.status == 412
                ? 'Existem usuários associados a esse perfil!'
                : error,
            color: 'error',
          })
        })
    },
    deleteConfirm(id) {
      if (confirm('Deseja deletar o Perfil?')) {
        this.deleteProfile(id)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.required-field {
  font-size: 1.2rem;
}

.v-data-table ::v-deep th + th {
  border-left: 1px solid #dddddd !important;
}
::v-deep td + td {
  border-left: 1px solid #dddddd;
}

.v-data-table ::v-deep thead tr:last-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--v-primary-base) !important;
  border-bottom-color: var(--v-primary-base) !important;
}

.v-data-table {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px !important;
}

.v-data-table
  ::v-deep
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: var(--v-primary-base) !important;
}

.v-pagination ::v-deep button.v-pagination__navigation {
  border: 1px solid var(--v-primary-base);
  width: 3.2rem;
  height: 3.2rem;
  margin: 25px;
}

.v-pagination ::v-deep .theme--light.v-icon {
  font-size: 1.4rem;
  color: var(--v-primary-base) !important;
}

.v-data-table ::v-deep tbody tr:nth-of-type(odd) {
  background-color: #f4f7f9 !important;
  border-collapse: collapse !important;
}
.table ::v-deep .table thead {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tbody tr:not(:last-child) {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tfoot tr {
  border-top: solid 1px #dddddd;
}
</style>
