<template>
  <div class="text-center my-5 mx-12">
    <v-card class="kc-border" elevation="2">
      <v-card-title class="justify-center pt-5">
        <h3 class="title primary--text title font-weight-bold">
          {{ profile.id ? 'Atualizar Perfil' : 'Cadastrar Perfil' }}
        </h3>
      </v-card-title>
      <v-divider />
      <v-card-text>
        <v-container>
          <v-form v-model="form" @submit.prevent>
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="profile.name" :rules="fieldRules">
                  <template v-slot:label>
                    Nome<span class="error--text required-field">*</span>
                  </template>
                </v-text-field>
              </v-col>
              <!-- <v-col cols="12">
                <v-text-field
                  v-model="profile.guard_name"
                  label="Guard"
                />
              </v-col> -->
            </v-row>
            <v-spacer />
            <v-row justify="center" justify-md="end">
              <v-btn
                color="primary"
                text
                class="kc-border mr-2"
                :to="`/profiles`"
              >
                Voltar
              </v-btn>
              <v-btn
                color="primary"
                text
                class="kc-border"
                :class="!form ? 'disabled' : ''"
                @click="saveOrUpdate"
              >
                Salvar
              </v-btn>
            </v-row>
          </v-form>
        </v-container>
        <div v-if="this.$route.params.id">
          <v-divider class="my-5" />
          <v-row>
            <v-col>
              <v-row justify="center">
                <span class="subtitle-1 primary--text">
                  Recursos do Perfil
                </span>
              </v-row>
              <v-row>
                <v-col
                  v-for="(resource, index) in resources"
                  :key="resource.id"
                  cols="3"
                >
                  <v-checkbox
                    v-model="resource.value"
                    dense
                    hide-details
                    color="primary"
                    :label="resource.name"
                    :readonly="resource.isLoading"
                    @change="updateResource(resource, index)"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-row justify="center">
                <span class="subtitle-1 primary--text">
                  Módulos do Perfil
                </span>
              </v-row>

              <v-row>
                <v-col v-for="(module, index) in modules" :key="index" cols="3">
                  <v-checkbox
                    v-model="module.value"
                    dense
                    hide-details
                    color="primary"
                    :label="module.name"
                    :readonly="module.isLoading"
                    @change="updateModule(module, index)"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-row justify="center">
                <span class="subtitle-1 primary--text">
                  Permissões do Perfil
                </span>
              </v-row>

              <v-row>
                <v-col
                  v-for="(permission, index) in permissions"
                  :key="permission.id"
                  cols="3"
                >
                  <v-checkbox
                    v-model="permission.value"
                    dense
                    hide-details
                    color="primary"
                    :label="permission.name"
                    :readonly="permission.isLoading"
                    @change="updatePermission(permission, index)"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { kc } from '@/api'
export default {
  name: 'ProfilesCadastre',
  data() {
    return {
      form: false,
      profile: {
        name: '',
      },
      resources: [],
      modules: [],
      permissions: [],
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
    }
  },
  mounted() {
    this.loadProfileData()
  },
  methods: {
    loadProfileData() {
      if (this.$route.params.id) {
        //get profile data
        kc.get(`/acl/roles/${this.$route.params.id}`).then((response) => {
          this.profile = {
            ...response.data,
            resources: [],
            modules: [],
            permissions: [],
          }
          Promise.all([
            kc.get(`/acl/role-resources/${this.profile.id}`),
            kc.get(`/acl/role-modules/${this.profile.id}`),
            kc.get(`/acl/role-permissions/${this.profile.id}`),
          ]).then(([a, b, c]) => {
            this.profile.resources = a.data
            this.profile.modules = b.data
            this.profile.permissions = c.data

            Promise.all([
              kc.get(`/acl/resources`),
              kc.get(`/acl/modules`),
              kc.get(`/acl/permissions`),
            ]).then(([a, b, c]) => {
              if (a.data) {
                this.resources = a.data.map((resource) => ({
                  ...resource,
                  value: false,
                  isLoading: false,
                }))

                this.toggleOptions(
                  this.profile.resources,
                  this.resources,
                  'resource_id'
                )
              }
              if (b.data) {
                this.modules = b.data.map((module) => ({
                  ...module,
                  value: false,
                  isLoading: false,
                }))

                this.toggleOptions(
                  this.profile.modules,
                  this.modules,
                  'module_id'
                )
              }
              if (c.data) {
                this.permissions = c.data.map((permission) => ({
                  ...permission,
                  value: false,
                  isLoading: false,
                }))

                this.toggleOptions(
                  this.profile.permissions,
                  this.permissions,
                  'permission_id'
                )
              }
            })
          })
        })
      }
    },
    toggleOptions(options, sources, key) {
      for (const option of options) {
        let index = sources.findIndex((source) => source.id == option[key])
        if (sources[index]) sources[index].value = true
      }
    },
    saveOrUpdate() {
      const isUpdate = this.$route.params.id ? true : false
      const request = isUpdate
        ? kc.put(`/acl/roles/${this.profile.id}`, { name: this.profile.name })
        : kc.post('/acl/roles', this.profile)

      request
        .then((response) => {
          this.profile = response.data
          this.$store.commit('showSnackbar', {
            text: 'Perfil salvo com sucesso',
          })
          if (!isUpdate && this.profile.id !== undefined) {
            this.$router.push(`/profiles/cadastre/${this.profile.id}`)
            this.loadProfileData()
          } else if (!isUpdate && this.profile.id == undefined) {
            this.$router.push(`/profiles`)
          }
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            color: 'error',
          })
        })
    },
    updateResource(resource, index) {
      resource.isLoading = true
      const data = {
        role_id: this.profile.id,
        resource_id: resource.id,
      }
      const request = !resource.value
        ? kc.put(`/acl/role-resources/delete`, data)
        : kc.post(`/acl/role-resources`, data)

      request
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: `${!resource.value ? 'Excluído' : 'Cadastrado'} com sucesso`,
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          resource.value = !resource.value
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          resource.isLoading = false
        })
    },
    updateModule(module, index) {
      module.isLoading = true
      const data = {
        role_id: this.profile.id,
        module_id: module.id,
      }
      const request = !module.value
        ? kc.put(`/acl/role-modules/delete`, data)
        : kc.post(`/acl/role-modules`, data)

      request
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: `${!module.value ? 'Excluído' : 'Cadastrado'} com sucesso`,
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          module.value = !module.value
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          module.isLoading = false
        })
    },
    updatePermission(permission, index) {
      permission.isLoading = true

      const data = {
        role_id: this.profile.id,
        permission_id: permission.id,
        permission_type_id: 2,
      }

      if (!permission.value) delete data.permission_type_id

      const request = !permission.value
        ? kc.put(`/acl/role-permissions/delete`, data)
        : kc.post(`/acl/role-permissions`, data)

      request
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: `${!module.value ? 'Excluído' : 'Cadastrado'} com sucesso`,
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          permission.value = !permission.value
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          permission.isLoading = false
        })
    },
  },
}
</script>

<style lang="scss" scoped></style>
