<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col cols="12" sm="8">
        <v-form ref="form" v-model="form">
          <v-row v-if="step == 1" no-gutters>
            <v-col cols="12">
              <p class="primary--text title font-weight-bold">
                Cadastro de oportunidades
              </p>
            </v-col>
            <v-col cols="12" class="pa-2">
              <v-select
                v-model="propertyType"
                label="Tipo do imóvel"
                :items="properties"
                item-text="desc"
                item-value="id"
                :rules="propertyTypeRules"
              >
                <template v-slot:prepend-inner>
                  <v-icon left>
                    $vuetify.icons.ps_building
                  </v-icon>
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" class="pa-2">
              <vuetify-google-autocomplete
                id="map"
                ref="autocomplete"
                v-model="address"
                label="Digite o endereço"
                :rules="addressRules"
                types="address"
                :fields="placeFields"
                country="BR"
                placeholder=""
                @placechanged="getAddressData"
              >
                <template v-slot:prepend-inner>
                  <v-icon left>
                    $vuetify.icons.ps_geo
                  </v-icon>
                </template>
              </vuetify-google-autocomplete>
            </v-col>
            <v-col cols="6" class="pa-2">
              <v-text-field
                v-model="place.streetNumber"
                label="Número"
                :rules="fieldRules"
                @change="reloadAdress(place)"
              >
                <template v-slot:prepend-inner>
                  <v-icon left>
                    $vuetify.icons.kc_bandeira
                  </v-icon>
                </template>
              </v-text-field>
            </v-col>
            <v-col cols="6" class="pa-2">
              <v-text-field
                v-model.trim="suggestion"
                label="Complemento"
                :rules="complementRules"
              >
                <template v-slot:prepend-inner>
                  <v-icon left>
                    $vuetify.icons.ps_target
                  </v-icon>
                </template>
              </v-text-field>
            </v-col>
            <v-col cols="6" class="pa-2">
              <v-currency-field
                v-model.trim="size"
                label="Área útil"
                :rules="sizeRules"
              >
                <template v-slot:prepend-inner>
                  <v-icon left>
                    $vuetify.icons.ps_gauge
                  </v-icon>
                </template>
              </v-currency-field>
            </v-col>
            <v-col cols="6" class="pa-2">
              <v-currency-field
                v-model="price"
                label="Valor estimado do imóvel"
                height="34"
                :rules="priceRules"
              >
                <template v-slot:prepend-inner>
                  <v-icon left> $vuetify.icons.ps_coin </v-icon>
                </template>
              </v-currency-field>
            </v-col>

            <v-row
              v-if="propertyType && propertyType == 3"
              justify="center"
              dense
            >
              <v-col cols="10" sm="8">
                <v-alert
                  border="right"
                  colored-border
                  type="error"
                  elevation="2"
                >
                  No momento só estamos aceitando apartamentos
                </v-alert>
              </v-col>
            </v-row>
            <v-row
              v-if="place.city && place.city != 'São Paulo'"
              justify="center"
              dense
            >
              <v-col cols="12" sm="8">
                <v-alert
                  border="right"
                  colored-border
                  type="error"
                  elevation="2"
                >
                  No momento, não foi possível concluir a sua solicitação, o
                  imóvel encontra-se fora da área de cobertura do produto. Em
                  breve, expandiremos para mais locais. Por favor, aguarde!
                </v-alert>
              </v-col>
            </v-row>
          </v-row>
          <v-row v-else-if="step == 2" justify="center" dense>
            <v-col
              v-for="(el, index) in complements"
              :key="index"
              cols="6"
              class="d-flex justify-center"
            >
              <v-btn
                outlined
                rounded
                color="primary"
                min-width="150"
                @click="setComplement(el)"
              >
                {{ el.complemento }}
              </v-btn>
            </v-col>
          </v-row>
          <v-row v-else-if="step == 3" no-gutters>
            <v-col cols="12">
              <p class="primary--text title font-weight-bold">
                Dados da garantia
              </p>
            </v-col>
            <v-col v-if="dreamPrice > 0" cols="12">
              <p class="primary--text subtitle-1 font-weight-bold">
                Valor do dream {{ dreamPrice | currency }}
              </p>
            </v-col>
            <v-col cols="6" class="mt-6">
              <span class="body-2">
                O imóvel está quitado?
              </span>
              <v-radio-group v-model="user.financing" row>
                <v-radio label="Sim" :value="true" />

                <v-radio label="Não" :value="false" />

                <v-alert
                  v-if="user.financing == false"
                  border="right"
                  colored-border
                  type="error"
                  elevation="2"
                  class="mt-4"
                >
                  No momento estamos aceitando somente imoveis quitados.
                </v-alert>
              </v-radio-group>
            </v-col>
            <v-col cols="6" class="mt-6">
              <span class="body-2">Selecione o tipo de tabela</span>
              <v-radio-group
                v-model="table"
                row
                @change="getInstallments(loanValue)"
              >
                <v-radio label="Sac" :value="1"></v-radio>
                <v-radio label="Price" :value="2"></v-radio>
              </v-radio-group>
            </v-col>
            <v-col cols="6" class="pr-2 mt-6">
              <v-currency-field
                v-model="loanValue"
                :rules="fieldRules"
                label="Valor do empréstimo"
                :error-messages="isLoanValue"
                @input="getInstallments(loanValue)"
              >
                <template v-slot:prepend-inner>
                  <v-icon left>
                    $vuetify.icons.ps_coin
                  </v-icon>
                </template>
              </v-currency-field>
            </v-col>
            <v-col cols="6" class="mt-6">
              <v-text-field
                v-model="sliderPayment"
                label="Prazo para pagamento"
                :rules="paymentRules"
                @input="getInstallments(sliderPayment)"
              >
                <template v-slot:prepend-inner>
                  <v-icon left>
                    $vuetify.icons.kc_calendario
                  </v-icon>
                </template>
              </v-text-field>
            </v-col>
            <installments
              v-if="
                installments.price.firstInstallment > 0 ||
                installments.price.value > 0
              "
              :installments="installments"
              class="mt-6"
            />
            <v-col cols="12">
              <p class="primary--text title pt-8 font-weight-bold">
                Dados Pessoais
              </p>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="user.cpf"
                v-mask="'###.###.###-##'"
                :rules="cpfRules"
                label="CPF"
              >
                <template v-slot:prepend-inner>
                  <v-icon class="mr-2 mt-1" small>
                    $vuetify.icons.ps_identification
                  </v-icon>
                </template>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field v-model="user.name" label="Nome" :rules="nameRules">
                <template v-slot:prepend-inner>
                  <v-icon class="mr-2 mt-1" small>
                    $vuetify.icons.ps_user
                  </v-icon>
                </template>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="user.email"
                label="E-mail"
                :rules="emailRules"
              >
                <template v-slot:prepend-inner>
                  <v-icon class="mr-2 mt-1" small>
                    $vuetify.icons.ps_email
                  </v-icon>
                </template>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="user.phone"
                v-mask="['(##) #####-####', '(##) ####-####']"
                label="Telefone"
                :rules="phoneRules"
              >
                <template v-slot:prepend-inner>
                  <v-icon class="mr-2 mt-1" small>
                    $vuetify.icons.ps_phone
                  </v-icon>
                </template>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <span class="body-2">
                Proponente é o proprietário do imóvel?
              </span>
              <v-row>
                <v-col>
                  <v-radio-group v-model="user.borrower_prop_owner_flag" row>
                    <v-radio label="Sim" :value="true" />

                    <v-radio label="Não" :value="false" />
                  </v-radio-group>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <p class="primary--text title pt-8 font-weight-bold">
                Outras informações
              </p>
            </v-col>
            <v-col cols="12">
              <p class="body-2">
                Qual a finalidade do empréstimo?
              </p>
              <v-select
                v-model="user.borrower_credit_reason"
                placeholder="Selecione"
                :items="creditReason"
                :rules="fieldRules"
              >
              </v-select>
            </v-col>
            <v-col cols="12">
              <p class="body-2">
                Qual renda mensal será utilizada para pagar o empréstimo?
              </p>
              <v-currency-field
                v-model="user.borrower_income_value"
                placeholder="Digite o valor em Reais..."
                :rules="currencyRules"
              >
              </v-currency-field>
            </v-col>
            <v-col cols="12">
              <p class="body-2">
                Qual a fonte de renda do proponente?
              </p>
              <v-select
                v-model="user.borrower_income_type"
                placeholder="Selecione"
                :items="incomeTypes"
                :rules="fieldRules"
              >
              </v-select>
            </v-col>
            <v-col cols="12">
              <p class="body-2">
                Proponente pretende compor renda com alguém?
              </p>
              <v-row>
                <v-radio-group
                  v-model="user.borrower_income_comp"
                  row
                  class="ma-0 pa-0"
                  :rules="radioRules"
                >
                  <v-col cols="6" md="12">
                    <v-radio label="Sim" :value="true" />
                  </v-col>
                  <v-col cols="6" md="12">
                    <v-radio label="Não" :value="false" />
                  </v-col>
                </v-radio-group>
              </v-row>
            </v-col>
            <v-col cols="12">
              <p class="body-2">
                Proponente reside no imóvel que está sendo oferecido como
                garantia?
              </p>
              <v-row>
                <v-radio-group
                  v-model="user.borrower_address_check"
                  row
                  :rules="radioRules"
                  class="ma-0 pa-0"
                >
                  <v-col cols="6" md="12">
                    <v-radio label="Sim" :value="true" />
                  </v-col>
                  <v-col cols="6" md="12">
                    <v-radio label="Não" :value="false" />
                  </v-col>
                </v-radio-group>
              </v-row>
            </v-col>
          </v-row>
          <v-row v-if="step == 3" justify="space-around" class="my-4">
            <v-btn
              class="primary"
              :disabled="!form || user.financing == false"
              height="40"
              bottom
              rounded
              depressed
              :loading="loading"
              @click="register"
            >
              Cadastrar
            </v-btn>
          </v-row>
          <v-row v-else justify="space-around" class="my-4">
            <v-btn
              class="primary"
              height="40"
              bottom
              :disabled="!form"
              rounded
              depressed
              :loading="loading"
              @click="next"
            >
              {{ step === 2 ? 'Nenhuma das opções' : 'Próximo' }}
            </v-btn>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { kc } from '@/api'
import {
  validate as validateCPF,
  format as formatCPF,
} from 'gerador-validador-cpf'
import Installments from '@/components/registerOpportunity/Installments'
import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete'
import short from 'short-uuid'

import geocode from '@/shared/maps/geocoder'
import transformers from '@/shared/maps/transformers'

export default {
  components: {
    VuetifyGoogleAutocomplete,
    Installments,
  },
  filters: {
    currency(v) {
      return v.toLocaleString('pt-BR', {
        style: 'currency',
        currency: 'BRL',
        minimumFractionDigits: 0,
        maximumFractionDigits: 0,
      })
    },
  },
  data() {
    return {
      placeFields: [
        'address_component',
        'adr_address',
        'business_status',
        'formatted_address',
        'geometry',
        'icon',
        'name',
        'photo',
        'place_id',
        'plus_code',
        'type',
        'url',
        'utc_offset_minutes',
        'vicinity',
      ],
      slider: 0,
      dreamPrice: 0,
      sliderPayment: 60,
      max: 0,
      min: 0,
      suggestion: '',
      loanValue: 0,
      price: 0,
      maxPayment: 240,
      minPayment: 30,
      table: 1,
      complement: {},
      propertyType: '',
      installments: {
        months: 60,
        price: { firstInstallment: 0, lastInstallment: 0 },
      },
      loading: false,
      loadingInstallments: false,
      form: false,
      address: '',
      place: {},
      step: 1,
      complements: [],
      size: null,
      currencyRules: [
        (v) => !!v || 'Campo obrigatório',
        () => this.user.borrower_income_value > 0 || 'Campo obrigatório',
      ],
      radioRules: [(v) => v != null || 'Campo obrigatório'],
      addressRules: [(v) => !!v || 'Endereço inválido'],
      fieldRules: [(v) => !!v || 'Campo obrigatório'],
      propertyTypeRules: [
        (v) => !!v || 'Campo obrigatório',
        (v) => v < 3 || 'No momento só estamos aceitando apartamentos e casas',
      ],
      priceRules: [
        () => !!this.price || 'Valor obrigatório',
        () => this.price >= 170000 || 'Valor deve ser maior que R$ 170.000,00',
        () =>
          this.price <= 8000000 || 'Valor deve ser menor que R$ 8.000.000,00',
      ],
      paymentRules: [
        () => !!this.sliderPayment || 'Prazo obrigatório',
        () =>
          this.sliderPayment >= 30 ||
          `Prazo deve ser maior que ${this.minPayment}`,
        () =>
          this.sliderPayment <= 240 ||
          `Prazo deve ser menor que ${this.maxPayment}`,
      ],
      cpfRules: [
        (v) => !!v || 'Campo é obrigatório',
        (v) => (!!v && validateCPF(v)) || 'CPF é inválido',
      ],
      emailRules: [
        (v) => !!v || 'E-mail é obrigatório',
        (v) =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          'E-mail não é válido',
      ],
      nameRules: [
        (v) => !!v || 'Campo é obrigatório',
        (v) =>
          /^[-A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/.test(v) ||
          'Valor inválido',
      ],
      phoneRules: [
        (v) => !!v || 'Campo é obrigatório',
        (v) => (!!v && v.length > 13) || 'Valor inválido',
      ],
      sizeRules: [
        () => !!this.size || 'Valor obrigatório',
        () => this.size >= 10 || 'Valor deve ser maior que 10,00',
        () => this.size <= 10000 || 'Valor deve ser menor que 10.000,00',
      ],
      creditReason: [],
      incomeTypes: [],
      panel: [0, 1],
      user: { financing: true },
      properties: [],
      property: {},
      teste: {},
    }
  },
  computed: {
    complementRules() {
      let rules = []

      if (this.propertyType == 2) {
        const rule_required = (v) => !!v || 'Campo obrigatório'
        const rule_regex = (v) =>
          /^[-0-9-A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/.test(v) ||
          'Valor inválido'
        rules.push(rule_required, rule_regex)
      } else {
        rules = []
      }

      return rules
    },
    isLoanValue() {
      const errors = []
      if (this.loanValue > this.max)
        errors.push(
          `Valor deve ser menor que ${this.$options.filters.currency(this.max)}`
        )
      if (this.loanValue < this.min)
        errors.push(
          `Valor deve ser maior que ${this.$options.filters.currency(this.min)}`
        )
      return errors
    },
  },
  beforeMount() {
    kc.get('/property-types').then((res) => {
      this.properties = res.data
    })

    kc.get('/borrower-credit-reasons').then((res) => {
      for (let reason of res.data) {
        this.creditReason.push({
          value: reason.id,
          text: reason.desc,
        })
      }
    })

    kc.get('/borrower-income-types').then((res) => {
      for (let type of res.data) {
        this.incomeTypes.push({
          value: type.id,
          text: type.desc,
        })
      }
    })
  },
  methods: {
    limit(value) {
      return Math.floor((this.max / 100) * value)
    },
    loanValueMax(prop) {
      const contribuinte = prop.complement.numero_contribuinte_keycash
        ? prop.complement.numero_contribuinte_keycash
        : null
      if (contribuinte) {
        kc.post('/dream', {
          contribuinte: `${contribuinte}`,
        }).then((response) => {
          const { dream_price, min, max } = response.data
          this.dreamPrice = dream_price
          this.slider = Math.floor(dream_price) / 2
          this.min = Math.floor(min)
          this.max = Math.floor(max)
          this.getInstallments(this.slider)
        })
      } else {
        this.min = 100000
        this.max = (60 * this.price) / 100
        this.slider = this.max / 2
        this.getInstallments(this.slider)
      }
    },
    getInstallments() {
      this.loadingInstallments = true

      if (this.loanValue) {
        const fetchInstallments = (table) => {
          if (table === 1) {
            // sac
            return kc.post('/opportunities/calc-sac', {
              loanAmount: this.loanValue,
              applicationTime: parseInt(this.sliderPayment),
            })
          } else {
            // price
            return kc.post('/opportunities/calc-price', {
              loanAmount: this.loanValue,
              applicationTime: parseInt(this.sliderPayment),
              tax: 0.0082,
            })
          }
        }

        fetchInstallments(this.table)
          .then((response) => {
            this.installments = {
              months: this.sliderPayment,
              price: response.data,
            }
          })
          .finally(() => {
            this.loadingInstallments = false
          })
      }
    },
    getAddressData(addressData, placeResultData) {
      this.place = transformers.autocompleteTransform(
        addressData,
        placeResultData
      )

      const fullAddress = `${this.place.streetName}, ${this.place.streetNumber} - ${this.place.city} - ${this.place.state}`

      geocode(fullAddress)
        .then((response) => {
          this.place = transformers.geacoderTranform(response)
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text:
              error === 'ZERO_RESULTS: No results found'
                ? 'Nenhum resultado encontrado'
                : error,
            color: 'error',
          })
        })
    },
    reloadAdress(place) {
      const fullAddress = `${place.streetName}, ${place.streetNumber} - ${place.city} - ${place.state}`

      geocode(fullAddress)
        .then((response) => {
          this.place = transformers.geacoderTranform(response)
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text:
              error === 'ZERO_RESULTS: No results found'
                ? 'Nenhum resultado encontrado'
                : error,
            color: 'error',
          })
        })
    },

    register() {
      this.loading = true
      this.propValidate().then((response) => {
        if (response.data == false) {
          kc.post('opportunities/structure', this.getPayload())
            .then((response) => {
              this.$store.commit('showSnackbar', {
                text: 'Empréstimo solicitado com sucesso',
                timeout: 3000,
                color: 'success',
              })
              this.loading = false
              this.$router.push(
                `/register-success/${response.data.opportunity.id}`
              )
            })
            .catch((error) => {
              this.$store.commit('showSnackbar', {
                text: error,
                timeout: 3000,
                color: 'error',
              })
            })
        } else {
          this.$store.commit('showSnackbar', {
            text: 'Imovel já existe como garantia',
            color: 'error',
          })
        }
      })
    },
    propValidate() {
      this.loading = true
      const dataValidate = {
        prop_address: this.place.streetName,
        prop_number: this.place.streetNumber,
        prop_comp: this.complement.complemento
          ? this.complement.complemento
          : this.complement,
        prop_zipcode: this.place.zipcode,
        prop_district: this.place.district,
        prop_city: this.place.city,
        prop_state: this.place.state,
        taxpayer_id: this.complement.numero_contribuinte_keycash,
      }
      return kc.post('/properties/validate', dataValidate)
    },
    getPayload() {
      return {
        property: {
          prop_address: this.place.streetName,
          prop_number: this.place.streetNumber,
          prop_comp: this.complement.complemento
            ? this.complement.complemento
            : this.complement,
          prop_zipcode: this.place.zipcode,
          prop_district: this.place.district,
          prop_city: this.place.city,
          prop_state: this.place.state,
          taxpayer_id: this.complement.numero_contribuinte_keycash,
          dream_value: this.dreamPrice,
          size: this.size,
          company_id: 1,
          estimated_value: this.price,
          prop_type_id: 0,
          building_id: 0,
          prop_analysis_sts: 0,
          prop_obs: '',
          dt_prop_analysis: '',
          home_inspection_sts: 1,
          home_inspection_obs: '',
          home_inspection_dt: '',
          home_inspection_value: 0,
          home_inspection_valuetosell: 0,
          opt_mortgage_sts: true,
          ct_obj_garantia: '',
          ct_tit_aquisitivo: '',
          ct_cart_ri: '',
          ct_matricula: '',
          ct_insc_municip: '',
          ct_adicional_text: '',
        },
        propertyOwners: [
          {
            owner_name: this.user.name,
            owner_email: this.user.email,
            owner_cell_phone: this.user.phone,
            owner_cpf: formatCPF(this.user.cpf, 'digits'),
            borrower_flag: true,
            borrower_prop_owner_flag: this.user.borrower_prop_owner_flag,
            financing: this.user.financing,
            borrower_income_value: this.user.borrower_income_value,
            borrower_credit_reason_id: this.user.borrower_credit_reason,
            borrower_income_type_id: this.user.borrower_income_type,
            borrower_income_comp: this.user.borrower_income_comp,
            borrower_address_check: this.user.borrower_address_check,
            owner_documents_sts: 1,
            borrower_bank: null,
            borrower_bank_agency: null,
            borrower_bank_account: null,
            borrower_home_address: '',
            borrower_home_number: null,
            borrower_home_comp: '',
            borrower_home_zipcode: null,
            borrower_home_district: '',
            borrower_home_city: '',
            borrower_home_state: '',
            borrower_fiduciator_flag: true,
          },
        ],
        opportunity: {
          protocol: short('0123456789ABCDEFGHIJKLMNOPQRSTUVWYXZ').new(),
          loan_amount: this.loanValue,
          opt_requested_value: this.loanValue,
          table: this.table,
          first_installment_value: this.installments.price.firstInstallment,
          opt_req_installment_plan: this.installments.months,
          opt_req_installment_01: this.installments.price.firstInstallment,
          opt_req_installment_last: this.installments.price.lastInstallment,
          opt_dream_value: this.dreamPrice,
          opt_estimated_value: this.price,
          opt_mortgage_sts: this.financing,
          opt_requested_value: null,
          opt_requested_ltv: null,
          opt_approved_value: null,
          opt_apv_installment_01: null,
          opt_apv_installment_plan: null,
          opt_approved_ltv: null,
          opt_closed_value: null,
          opt_clo_installment_01: null,
          opt_clo_installment_plan: null,
          opt_closed_ltv: null,
          opt_apv_borrower: true,
          tax1: 10,
          table_type_id: 1,
        },
      }
    },
    getComplements(comp) {
      const data = {
        place_id: this.place.placeId,
        complemento: comp,
        street_name: this.place.streetName,
        street_number: this.place.streetNumber,
      }

      kc.post('/unit-suggestion', data).then((response) => {
        this.complements = response.data
        if (this.complements.length == 0) {
          //se não tiver suggestion salva com input do user
          this.complement = this.suggestion
          this.save()
        } else {
          //verifica se o input do user existe nas sugestões
          const aux = this.complements.find((el) => el.complemento == comp)
          //se existir faz o match e salva

          if (aux) {
            this.complement = aux
            this.save()
            //se não renderiza a tela com as sugestões
          } else {
            this.step = 2
          }
        }
      })
    },
    save() {
      this.loading = true
      this.propValidate().then((response) => {
        if (response.data == false) {
          const complement = this.complement.numero_contribuinte_keycash
            ? this.complement
            : { complemento: this.complement }
          const property = {
            ...this.place,
            complement,
            price: this.price,
            propertyType: this.propertyType,
          }
          this.step = 3

          this.loanValueMax(property)
          this.loading = false
        } else {
          this.step = 1
          this.$store.commit('showSnackbar', {
            text: 'Imovel já existe como garantia',
            color: 'error',
          })
          this.loading = false
        }
      })
    },
    next() {
      this.loading = true
      if (this.step == 1) {
        // Só aceitamos imoveis de SP
        if (this.place && this.place.city == 'São Paulo')
          this.getComplements(this.suggestion)
      } else if (this.step == 2) {
        if (this.complement && !this.complement.numero_contribuinte_keycash) {
          this.complement = this.suggestion
        }
        this.save()
        this.loading = false
      }
    },
    setComplement(complement) {
      this.complement = complement
      this.next()
    },
  },
}
</script>

<style lang="scss" scoped></style>
