<template>
  <v-container fluid fill-height class="primary">
    <v-row justify="center" align="center" style="width: 100%;">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-card
          flat
          justify="center"
          align="center"
          class="ma-4 transparent pb-8 mb-8"
        >
          <img
            alt="Application logo"
            :src="require('../assets/logo.svg')"
            contain
            height="128px"
          />
        </v-card>
        <v-card
          v-if="step == 1"
          key="step-1"
          class="elevation-7 pa-5 kc-border"
        >
          <v-card-text class="py-0">
            <p class="headline text-center font-weight-bold mt-4 mb-8">
              Redefina sua senha:
            </p>
            <v-form v-model="codeForm" @submit.prevent>
              <v-text-field
                v-model="resetEmail"
                label="E-mail"
                type="text"
                :rules="emailRules"
                @keyup.enter="sendCode()"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-row dense>
              <v-col cols="12" class="text-center">
                <v-btn
                  class="kc-border kc-button font-weight-bold"
                  color="primary"
                  min-width="200"
                  :loading="loadingCode"
                  :class="!codeForm ? 'disabled' : ''"
                  @click="sendCode"
                >
                  Enviar código
                </v-btn>
              </v-col>
              <v-col>
                <v-btn text block class="text-center" to="/login">
                  <span class="text-capitalize text--secondary">
                    Já possui login?
                    <span class="primary--text">Fazer login</span>
                  </span>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
        <v-card
          v-else-if="step == 2"
          key="step-2"
          class="elevation-7 pa-5 kc-border"
        >
          <v-card-text class="py-0">
            <p class="headline text-center font-weight-bold mt-4 mb-8">
              Redefina sua senha:
            </p>
            <v-form v-model="resetForm" @submit.prevent>
              <v-text-field
                v-model="code"
                label="Código"
                type="text"
                :rules="codeRules"
              />
              <v-text-field
                v-model="email"
                label="E-mail"
                type="text"
                :rules="emailRules"
              />
              <v-text-field
                v-model="password"
                label="Nova senha"
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                :rules="passwordRules"
                @click:append="showPassword = !showPassword"
                @keyup.enter="reset()"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-row dense>
              <v-col cols="12" class="text-center">
                <v-btn
                  class="kc-border kc-button font-weight-bold"
                  min-width="200"
                  :loading="loading"
                  :class="!resetForm ? 'disabled' : ''"
                  @click="reset"
                >
                  Alterar senha
                </v-btn>
              </v-col>
              <v-col>
                <v-btn text block class="text-center" to="/login">
                  <span class="text-capitalize text--secondary">
                    Já possui login?
                    <span class="primary--text">Fazer login</span>
                  </span>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { auth as kc } from '@/api'

export default {
  name: 'Reset',
  data() {
    return {
      codeForm: false,
      resetForm: false,
      step: 1,
      code: '',
      email: '',
      password: '',
      resetEmail: '',
      showPassword: false,
      valid: false,
      codeRules: [
        (v) => !!v || 'Digite o código',
        (v) => v.length === 6 || 'Código inválido',
      ],
      emailRules: [
        (v) => !!v || 'E-mail é obrigatório',
        (v) =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          'E-mail não é válido',
      ],
      passwordRules: [
        (v) => !!v || 'Senha é obrigatório',
        (v) => v.length >= 6 || 'Senha não pode ser inferior a seis caracteres',
        (v) =>
          v.length <= 16 ||
          'Senha não pode ser superior a dezesseis caracteres',
        (v) =>
          /(?=.*[!@#$%^&*])/.test(v) ||
          `Senha deve conter ao menos um caractere especial`,
        (v) =>
          /(?=.*?[a-z])/.test(v) ||
          'Senha deve ter ao menos um caractere minúsculo',
        (v) =>
          /(?=.*?[A-Z])/.test(v) ||
          'Senha deve ter ao menos um caractere maiúsculo',
        (v) => /(?=.*?[0-9])/.test(v) || 'Senha deve ter ao menos um número',
      ],
      loading: false,
      loadingCode: false,
    }
  },
  methods: {
    sendCode() {
      this.loadingCode = true
      kc.post('/auth/send-code', { email: this.resetEmail })
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'E-mail enviado com sucesso.',
            timeout: 3000,
            color: 'success',
          })
          this.step = 2
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text:
              error.response.status === 401 ? 'Email não cadastrado' : error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loadingCode = false
        })
    },
    reset() {
      this.loading = true

      let credentials = {
        verificationCode: this.code,
        userName: this.email,
        newPassword: this.password,
      }

      kc.post('/auth/reset', credentials)
        .then((response) => {
          this.$router.push('/login')
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error.response.data,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
}
</script>

<style scoped>
.kc-button {
  height: 48px !important;
}
</style>
