<template>
  <v-container fluid>
    <v-row v-if="loading" justify="center">
      <v-progress-circular color="primary" size="50" indeterminate />
    </v-row>
    <v-row v-if="!loading" class="mb-10">
      <v-col cols="12" md="6">
        <v-expansion-panels v-model="panel" multiple class="kc-border">
          <v-expansion-panel
            v-for="(owner, index) in proponentWithFiduciators"
            :key="index"
            class="my-2 kc-border"
          >
            <v-expansion-panel-header>
              <h3 class="title primary--text">
                Proponente - {{ owner.owner_name }}
              </h3>
              <template v-slot:actions>
                <v-icon color="black" small>
                  fas fa-caret-down
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content eager>
              <v-form ref="dateForm" v-model="dateForm" lazy-validation>
                <v-row>
                  <v-col cols="8">
                    <v-text-field
                      label="Nome"
                      disabled
                      :value="owner.owner_name"
                    />
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      label="CPF"
                      disabled
                      :value="owner.owner_cpf"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-text-field
                      v-mask="'##/##/####'"
                      :rules="dateRules"
                      disabled
                      label="Data de Nascimento"
                      prepend-icon="fas fa-calendar-alt"
                      :value="owner.borrower_birthdate"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      :items="civilStates"
                      label="Estado civil"
                      disabled
                      :value="owner.civilState"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      label="E-mail"
                      disabled
                      :value="owner.owner_email"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="4">
                    <v-autocomplete
                      :items="banks"
                      hide-no-data
                      hide-selected
                      item-text="short_name"
                      item-value="code"
                      label="Banco"
                      disabled
                      :value="owner.bankCode"
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-mask="['####', '####-X', '####-XX']"
                      label="Agência"
                      disabled
                      :value="owner.agency"
                    />
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      v-mask="[
                        '#####-X',
                        '######-X',
                        '#######-X',
                        '########-X',
                        '#########-X',
                        '###########-X',
                      ]"
                      label="Conta Corrente"
                      disabled
                      :value="owner.account"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="4">
                    <v-text-field
                      v-mask="['#####-###']"
                      label="CEP"
                      disabled
                      :value="owner.borrower_home_zipcode"
                    />
                  </v-col>
                  <v-col cols="8">
                    <v-text-field
                      label="Logradouro"
                      disabled
                      :value="owner.borrower_home_address"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="4">
                    <v-text-field
                      label="Número"
                      type="number"
                      disabled
                      :value="owner.borrower_home_number"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      label="Bairro"
                      disabled
                      :value="owner.borrower_home_district"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-text-field
                      label="Município"
                      disabled
                      :value="owner.borrower_home_city"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-select
                      disabled
                      label="UF"
                      :items="states"
                      :value="owner.borrower_home_state"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-form>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel class="my-2 kc-border">
            <v-expansion-panel-header>
              <h3 class="title primary--text">Oportunidade</h3>
              <template v-slot:actions>
                <v-icon color="black" small>
                  fas fa-caret-down
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content eager>
              <v-form ref="dateForm" v-model="dateForm" lazy-validation>
                <v-row>
                  <v-col cols="6">
                    <v-currency-field
                      label="Valor do empréstimo"
                      :value="opt.opt_closed_value"
                      disabled
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-select
                      label="Prazo Contratação"
                      :items="installmentPlans"
                      :value="opt.opt_clo_installment_plan"
                      disabled
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-currency-field
                      label="Valor do IOF"
                      disabled
                      :value="opt.credit.iof_value"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-currency-field
                      label="Valor TAC"
                      disabled
                      :value="opt.credit.tac_value"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-currency-field
                      label="Valor do Seguro MIP"
                      disabled
                      :value="opt.credit.insurance_mip_value"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-currency-field
                      label="Valor do Seguro DFI"
                      disabled
                      :value="opt.credit.insurance_dfi_value"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-currency-field
                      label="Taxa de Administração Mensal"
                      disabled
                      :value="opt.credit.tx_adm_month_value"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-currency-field
                      label="Juros Negociado"
                      disabled
                      :value="opt.credit.interest_value"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-currency-field
                      label="Valor requisitado"
                      disabled
                      :value="opt.opt_requested_value"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-select
                      label="Prazo Solicitação"
                      :items="installmentPlans"
                      disabled
                      :value="opt.opt_req_installment_plan"
                    />
                  </v-col>
                </v-row>
              </v-form>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel class="my-2 kc-border">
            <v-expansion-panel-header>
              <h3 class="title primary--text">Garantia</h3>
              <template v-slot:actions>
                <v-icon color="black" small>
                  fas fa-caret-down
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content eager>
              <v-form ref="dateForm" v-model="dateForm" lazy-validation>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      disabled
                      label="Objeto Garantia"
                      maxlength="15"
                      :value="property.ct_obj_garantia"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-textarea
                      disabled
                      counter
                      dense
                      auto-grow
                      rows="1"
                      label="Titulo Aquisitivo"
                      :value="property.ct_tit_aquisitivo"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-text-field
                      label="Cartório de Registro de Imóveis"
                      maxlength="10"
                      disabled
                      :value="property.ct_cart_ri"
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      label="Número da Matrícula"
                      disabled
                      :value="property.ct_matricula"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="8">
                    <v-text-field
                      label="Inscrição Municipal"
                      maxlength="15"
                      disabled
                      :value="property.ct_insc_municip"
                    />
                  </v-col>
                  <v-col cols="4">
                    <v-currency-field
                      label="Valor Avaliação Imóvel"
                      disabled
                      :value="property.home_inspection_value"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-textarea
                      dense
                      auto-grow
                      counter
                      rows="1"
                      label="Texto Complementar (Cláusula 6 - CCI)"
                      disabled
                      :value="property.ct_adicional_text"
                    />
                  </v-col>
                </v-row>
              </v-form>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-row justify="center" justify-sm="end" class="mx-0 mt-3">
          <v-btn
            large
            width="150"
            :loading="saveLoading"
            color="primary"
            @click="generateCCI()"
          >
            <v-icon left>
              fas fa-file-import
            </v-icon>
            Emitir CCI
          </v-btn>
        </v-row>
      </v-col>
      <v-col cols="12" md="6"></v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mask } from 'vue-the-mask'
import states from '@/shared/constants/states.js'
import { kc } from '@/api'
import dayjs from 'dayjs'

export default {
  directives: {
    mask,
  },
  data() {
    return {
      dateForm: true,
      loadingStatus: true,
      loadingDocument: true,
      saveLoading: false,
      loading: true,
      states,
      panel: [0],
      document: {},
      title: 'Revisar CCI',
      dateRules: [
        (v) => (!!v && v.length === 10) || 'Data inválida',
        (v) => dayjs(v, 'DD/MM/YYYY').isValid() || 'Data inválida',
        (v) => dayjs(v, 'DD/MM/YYYY').isAfter('01/01/1900') || 'Data inválida',
      ],
      documentStatus: [],
      civilStates: [
        {
          value: 1,
          text: 'Solteiro(a)',
        },
        {
          value: 2,
          text: 'Casado(a)',
        },
        {
          value: 3,
          text: 'Divorciado(a)',
        },
        {
          value: 4,
          text: 'Viuvo(a)',
        },
      ],
      installmentPlans: [{ text: 'Sem parcelas', value: 0 }],
      banks: [],
      professions: [],
      proponentWithFiduciators: [],
      opt: {
        opt_closed_value: '',
        opt_clo_installment_plan: '',
        credit: {
          iof_value: '',
          tac_value: '',
          insurance_mip_value: '',
          insurance_dfi_value: '',
          tx_adm_month_value: '',
          interest_value: '',
        },
        opt_requested_value: '',
        opt_req_installment_plan: '',
      },
      property: {
        ct_obj_garantia: '',
        ct_tit_aquisitivo: '',
        ct_cart_ri: '',
        ct_matricula: '',
        ct_insc_municip: '',
        home_inspection_value: '',
        ct_adicional_text: '',
      },
      opportunityId: '',
    }
  },
  created() {
    this.getInstallmentPlans()
    this.getBanks()
    this.opportunityId = this.$route.params.opportunityId

    this.loading = true
    kc.get(`/banker/cci-fields/${this.opportunityId}`)
      .then((response) => {
        this.opt.opt_closed_value = response.data.opt_closed_value
        this.opt.opt_clo_installment_plan =
          response.data.opt_clo_installment_plan
        this.opt.credit.iof_value = response.data.iof_value
        this.opt.credit.tac_value = response.data.tac_value
        this.opt.credit.insurance_mip_value = response.data.insurance_mip_value
        this.opt.credit.insurance_dfi_value = response.data.insurance_dfi_value
        this.opt.credit.tx_adm_month_value = response.data.tx_adm_month_value
        this.opt.credit.interest_value = response.data.interest_value
        this.opt.opt_requested_value = response.data.opt_closed_value
        this.opt.opt_req_installment_plan =
          response.data.opt_clo_installment_plan

        this.property.ct_obj_garantia = response.data.ct_obj_garantia
        this.property.ct_tit_aquisitivo = response.data.ct_tit_aquisitivo
        this.property.ct_cart_ri = response.data.ct_cart_ri
        this.property.ct_matricula = response.data.ct_matricula
        this.property.ct_insc_municip = response.data.ct_insc_municip
        this.property.home_inspection_value =
          response.data.home_inspection_value
        this.property.ct_adicional_text = response.data.ct_adicional_text

        this.proponentWithFiduciators = response.data.proponentWithFiduciators

        this.loading = false
      })
      .catch(() => {
        this.$store.commit('showSnackbar', {
          text: 'Verifique o preechimento dos campos da CCI!',
        })
      })
  },
  methods: {
    getInstallmentPlans() {
      for (let i = 60; i <= 240; i = i + 30) {
        this.installmentPlans.push({
          text: i,
          value: i,
        })
      }
      this.loading = false
    },
    getBanks() {
      kc.get(`/properties-owners/bank-codes`).then((response) => {
        this.banks = response.data
        this.loading = false
        this.banks = this.banks.sort((a, b) => {
          return a.short_name.localeCompare(b.short_name)
        })
      })
    },
    generateCCI() {
      console.log('Função a implementar')
    },
  },
}
</script>
