<template>
  <div class="text-center my-5 mx-12">
    <div class="text-right">
      <v-btn text large color="primary" @click="openModal">
        Cadastrar Parâmetro
        <v-icon right dark>
          fas fa-plus
        </v-icon>
      </v-btn>
    </div>
    <!-- TABLE -->
    <v-data-table
      :headers="headers"
      :items="setups"
      :items-per-page="10"
      class="elevation-2"
      :loading="isLoading"
      @page-count="pagination.totalItems = $event"
    >
      <template v-slot:[`item.created_at`]="{ item }">
        {{ item.created_at | newDate }}
      </template>
      <template v-slot:[`item.updated_at`]="{ item }">
        {{ item.updated_at | newDate }}
      </template>
      <template v-slot:[`item.update`]="{ item }">
        <v-btn icon @click="openModal(item)">
          <v-icon small color="primary">
            far fa-edit
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.delete`]="{ item }">
        <v-btn icon @click="deleteSetup(item.id)">
          <v-icon small color="primary">
            far fa-trash-alt
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="modal" persistent width="500px">
      <v-card class="kc-border">
        <v-card-title class="justify-center primary">
          <h3 class="title white--text">
            Cadastro de Usuário
          </h3>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="form" lazy-validation>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field
                    v-model="setup.field_name"
                    label="Nome"
                    :rules="fieldRules"
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="setup.value"
                    label="Valor"
                    :rules="fieldRules"
                  />
                </v-col>
              </v-row>
              <v-spacer />
              <v-row justify="center" justify-md="end">
                <v-btn
                  outlined
                  color="error"
                  class="kc-border mr-1"
                  @click="closeModal"
                >
                  Fechar
                </v-btn>
                <v-btn
                  outlined
                  color="primary"
                  class="kc-border"
                  :disabled="!form"
                  :loading="updateLoading"
                  @click="updateSetup(setup)"
                >
                  Salvar
                </v-btn>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { kc } from '@/api'
import { kcDate } from '@/shared/mixins'

export default {
  name: 'Setup',
  mixins: [kcDate],
  data() {
    return {
      isLoading: true,
      updateLoading: false,
      setups: [],
      headers: [
        {
          text: 'ID',
          value: 'id',
        },
        { text: 'Nome do Campo', value: 'field_name', align: 'center' },
        { text: 'Valor do Campo', value: 'value', align: 'center' },
        { text: 'Criado em', value: 'created_at', align: 'center' },
        { text: 'Atualizado em', value: 'updated_at', align: 'center' },
        { text: 'Atualizar', value: 'update', align: 'center' },
        { text: 'Excluir', value: 'delete', align: 'center' },
      ],
      pagination: {
        page: 1,
        pages: 1,
        rowsPerPage: 10,
        totalItems: 0,
      },
      form: true,
      modal: false,
      setup: {
        id: null,
        field_name: '',
        value: '',
      },
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
    }
  },
  beforeMount() {
    kc.get(`/setup`)
      .then((response) => {
        this.setups = response.data
      })
      .catch((error) => {
        this.$store.commit('showSnackbar', {
          text: error,
          timeout: 3000,
          color: 'error',
        })
      })
      .finally(() => {
        this.isLoading = false
      })
  },
  methods: {
    openModal(setup = null) {
      if (setup === null) {
        this.setup = {
          id: null,
          field_name: '',
          value: '',
        }
      } else {
        this.setup = { ...setup }
      }
      this.modal = true
    },
    closeModal() {
      this.setup = {
        id: null,
        field_name: '',
        value: '',
      }
      this.$refs.form.reset()
      this.modal = false
    },
    updateSetup(setup) {
      this.updateLoading = true
      const isEdit = setup.id !== undefined
      const { field_name, value } = setup
      const request = isEdit
        ? kc.put(`/setup/${setup.id}`, { field_name, value })
        : kc.post(`/setup`, { field_name, value })

      request
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Atualizado com sucesso!',
            timeout: 3000,
            color: 'success',
          })
          if (isEdit) {
            this.setups.splice(
              this.setups.findIndex((el) => el.id === response.data.id),
              1,
              response.data
            )
          } else {
            this.setups.unshift(response.data)
          }
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.updateLoading = false
          this.closeModal()
        })
    },
    deleteSetup(id) {
      if (confirm('Deseja excluir esse Parâmetro?')) {
        kc.delete(`/setup/${id}`)
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'Excluído com sucesso!',
              timeout: 3000,
              color: 'success',
            })
            this.setups.splice(
              this.setups.findIndex((el) => el.id === id),
              1
            )
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              timeout: 3000,
              color: 'error',
            })
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.v-data-table ::v-deep th + th {
  border-left: 1px solid #dddddd !important;
}
::v-deep td + td {
  border-left: 1px solid #dddddd;
}

.v-data-table ::v-deep thead tr:last-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--v-primary-base) !important;
  border-bottom-color: var(--v-primary-base) !important;
}

.v-data-table {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px !important;
}

.v-data-table
  ::v-deep
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: var(--v-primary-base) !important;
}

.v-pagination ::v-deep button.v-pagination__navigation {
  border: 1px solid var(--v-primary-base);
  width: 3.2rem;
  height: 3.2rem;
  margin: 25px;
}

.v-pagination ::v-deep .theme--light.v-icon {
  font-size: 1.4rem;
  color: var(--v-primary-base) !important;
}

.v-data-table ::v-deep tbody tr:nth-of-type(odd) {
  background-color: #f4f7f9 !important;
  border-collapse: collapse !important;
}
.table ::v-deep .table thead {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tbody tr:not(:last-child) {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tfoot tr {
  border-top: solid 1px #dddddd;
}
</style>
