<template>
  <div class="text-center my-5 mx-12">
    <div class="text-right">
      <v-btn text large color="primary" @click="modal = true">
        Cadastrar Mídias Sociais
        <v-icon right dark>
          fas fa-plus
        </v-icon>
      </v-btn>
    </div>
    <v-data-table
      :headers="headers"
      :items="socialMedia"
      :items-per-page="10"
      :loading="isLoading"
      class="elevation-2"
      :footer-props="{
        'items-per-page-text': 'Linhas por página',
        'page-text': '{0} de {1}',
        'items-per-page-all-text': 'Todos',
      }"
      @page-count="pagination.totalItems = $event"
    >
      <template v-slot:[`item.update`]="{ item }">
        <v-btn icon @click="openModal(item)">
          <v-icon small color="primary">
            far fa-edit
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.delete`]="{ item }">
        <v-btn icon @click="deleteMedia(item.id)">
          <v-icon small color="primary">
            far fa-trash-alt
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <div class="text-right">
      <v-dialog v-model="modal" persistent width="500px">
        <v-card class="kc-border">
          <v-card-title class="justify-center primary">
            <h3 class="title white--text">
              {{
                media.id ? 'Atualizar Mídia Social' : 'Cadastrar Mídia Social'
              }}
            </h3>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-form ref="form" v-model="form" lazy-validation>
                <v-row>
                  <v-col cols="12">
                    <v-text-field v-model="media.title" :rules="fieldRules">
                      <template v-slot:label>
                        Texto<span class="error--text required-field">*</span>
                      </template>
                      <template v-slot:prepend-inner>
                        <v-icon class="mr-2 mt-1" small>
                          fas fa-heading
                        </v-icon>
                      </template>
                    </v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field v-model="media.icon" :rules="fieldRules">
                      <template v-slot:label>
                        Ícone<span class="error--text required-field">*</span>
                      </template>
                      <template v-slot:prepend-inner>
                        <v-icon class="mr-2 mt-1" small>
                          fas fa-icons
                        </v-icon>
                      </template>
                    </v-text-field>
                    <a href="https://materialdesignicons.com/" target="_blank"
                      ><span>Biblioteca de ícones</span></a
                    >
                  </v-col>
                  <v-col cols="12">
                    <v-text-field v-model="media.link" :rules="fieldRules">
                      <template v-slot:label>
                        Link<span class="error--text required-field">*</span>
                      </template>
                      <template v-slot:prepend-inner>
                        <v-icon class="mr-2 mt-1" small>
                          fas fa-link
                        </v-icon>
                      </template>
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-spacer />
                <v-row justify="center" justify-md="end">
                  <v-btn
                    color="primary"
                    text
                    class="kc-border mx-1"
                    :loading="isLoading"
                    @click="closeModal"
                  >
                    Fechar
                  </v-btn>
                  <v-btn
                    color="primary"
                    text
                    class="kc-border"
                    :class="!form ? 'disabled' : ''"
                    :loading="isLoading"
                    @click="saveOrUpdateMedia(media)"
                  >
                    Salvar
                  </v-btn>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import { kc as website } from '@/api'
import { kcDate } from '@/shared/mixins'
export default {
  name: 'SocialMedia',
  mixins: [kcDate],
  data() {
    return {
      socialMedia: [],
      media: {
        id: null,
        title: '',
        link: '',
        icon: '',
      },
      isLoading: true,
      modal: false,
      form: true,
      pagination: {
        page: 1,
        pages: 1,
        rowsPerPage: 10,
        totalItems: 0,
      },
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
      headers: [
        {
          text: 'ID',
          align: 'center',
          value: 'id',
        },
        {
          text: 'Texto',
          align: 'center',
          value: 'title',
        },
        {
          text: 'Link',
          align: 'center',
          value: 'link',
        },
        {
          text: 'Ícone',
          align: 'center',
          value: 'icon',
        },
        {
          text: 'Atualizar',
          align: 'center',
          value: 'update',
        },
        {
          text: 'Excluir',
          align: 'center',
          value: 'delete',
        },
      ],
    }
  },
  beforeMount() {
    this.getSocialMedia()
  },
  methods: {
    getSocialMedia() {
      website
        .get(`/social-media`)
        .then((response) => {
          this.socialMedia = response.data
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    openModal(media) {
      this.media = { ...media }
      this.modal = true
    },
    closeModal() {
      this.media = {
        id: null,
        title: '',
        link: '',
        icon: '',
      }
      this.$refs.form.reset()
      this.modal = false
    },
    saveOrUpdateMedia(media) {
      if (this.$refs.form.validate()) {
        const data = {
          title: media.title,
          link: media.link,
          icon: media.icon,
        }
        this.isLoading = true
        // seleciona a resquest correta de acordo com a existencia ou não do id
        const request = media.id
          ? website.put(`/social-media/${media.id}`, data)
          : website.post(`/social-media`, data)

        request
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'Mídia Social salvo com sucesso',
              color: 'success',
            })
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              color: 'primary',
            })
          })
          .finally(() => {
            this.isLoading = false
            this.closeModal()
            this.getSocialMedia()
          })
      }
    },
    deleteMedia(id) {
      if (confirm('Deseja excluir essa Mídia Social?')) {
        website
          .delete(`/social-media/${id}`)
          .then((response) => {
            this.socialMedia.splice(
              this.socialMedia.findIndex((el) => el.id == response.data),
              1
            )
            this.$store.commit('showSnackbar', {
              text: 'Excluído com Sucesso',
              timeout: 3000,
              color: 'success',
            })
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text:
                error.response.status == 412
                  ? 'Existem perfis utilizando essa Mídia Social'
                  : error,
              timeout: 3000,
              color: 'error',
            })
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.required-field {
  font-size: 1.2rem;
}

.v-data-table ::v-deep th + th {
  border-left: 1px solid #dddddd !important;
}
::v-deep td + td {
  border-left: 1px solid #dddddd;
}

.v-data-table ::v-deep thead tr:last-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--v-primary-base) !important;
  border-bottom-color: var(--v-primary-base) !important;
}

.v-data-table {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px !important;
}

.v-data-table
  ::v-deep
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: var(--v-primary-base) !important;
}

.v-pagination ::v-deep button.v-pagination__navigation {
  border: 1px solid var(--v-primary-base);
  width: 3.2rem;
  height: 3.2rem;
  margin: 25px;
}

.v-pagination ::v-deep .theme--light.v-icon {
  font-size: 1.4rem;
  color: var(--v-primary-base) !important;
}

.v-data-table ::v-deep tbody tr:nth-of-type(odd) {
  background-color: #f4f7f9 !important;
  border-collapse: collapse !important;
}
.table ::v-deep .table thead {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tbody tr:not(:last-child) {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tfoot tr {
  border-top: solid 1px #dddddd;
}
</style>
