<template>
  <div class="text-center my-5 mx-12">
    <v-data-table
      show-expand
      single-expand
      :headers="headings"
      :items="opportunities"
      :items-per-page="10"
      :loading="isLoading"
      class="elevation-2"
      :footer-props="{
        'items-per-page-text': 'Linhas por página',
        'page-text': '{0} de {1}',
        'items-per-page-all-text': 'Todos',
      }"
      @page-count="pagination.totalItems = $event"
    >
      <template v-slot:[`item.address`]="{ item }">
        <span>{{
          `${item.property.prop_address}, ${item.property.prop_number} - ${item.property.prop_comp}`
        }}</span>
      </template>
      <template v-slot:[`item.created_at`]="{ item }">
        {{ item.created_at | newDate }}
      </template>
      <template v-slot:[`item.updated_at`]="{ item }">
        {{ item.updated_at | newDate }}
      </template>
      <template v-slot:[`item.instalments_value`]="{ item }">
        {{ item.instalments_value | currency }}
      </template>
      <template v-slot:[`item.update`]="{ item }">
        <v-btn icon @click="openDialog(item)">
          <v-icon small color="primary">
            far fa-edit
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.delete`]="{ item }">
        <v-btn icon @click="deleteProposal(item)">
          <v-icon small color="primary">
            far fa-trash-alt
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          <v-row class="fill-height" dense>
            <v-col v-for="el in item.opportunity_stages" :key="el.id" cols="12">
              <v-select
                v-model="el.opportunity_stage_status_id"
                :items="status"
                item-text="desc"
                item-value="id"
                :label="el.desc"
                :loading="isLoading"
                :disabled="isLoading"
                @change="updateStatus(el)"
              />
            </v-col>
          </v-row>
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog">
      <v-card class="kc-border">
        <v-card-title class="title white--text primary">
          <v-row justify="center">
            Atualizar Proposta
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-form ref="statusForm" v-model="statusForm" lazy-validation>
            <v-row>
              <v-col cols="4">
                <v-text-field
                  v-model="proposalToUpdate.property_id"
                  label="Id da propriedade"
                  :rules="fieldRules"
                />
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="proposalToUpdate.credit_value"
                  label="Valor do crédito"
                  :rules="fieldRules"
                />
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="proposalToUpdate.table_type_id"
                  label="Id da tabela"
                  :rules="fieldRules"
                />
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="proposalToUpdate.instalments"
                  label="Número de parcelas"
                  :rules="fieldRules"
                />
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="proposalToUpdate.instalments_value"
                  label="Valor das parcelas"
                  :rules="fieldRules"
                />
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="proposalToUpdate.tax1"
                  label="Taxa"
                  :rules="fieldRules"
                />
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="proposalToUpdate.protocol"
                  label="Protocolo"
                  :rules="fieldRules"
                />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters justify="center" justify-md="end">
            <v-btn
              width="100"
              color="primary"
              text
              class="kc-border mx-1"
              :loading="isLoading"
              @click="dialog = false"
            >
              cancelar
            </v-btn>
            <v-btn
              width="100"
              color="primary"
              text
              class="kc-border"
              :class="!statusForm ? 'disabled' : ''"
              :loading="isLoading"
              @click="updateProposal"
            >
              salvar
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { kc } from '@/api'
import { kcDate } from '@/shared/mixins'
export default {
  name: 'StatusTracking',
  filters: {
    currency(v) {
      return v.toLocaleString('pt-BR', {
        style: 'currency',
        currency: 'BRL',
        minimumFractionDigits: 0,
        maximumFractionDigits: 0,
      })
    },
  },
  mixins: [kcDate],
  data() {
    /* Dados do modelo:
      id (int)
      property_id (int)
      credit_value (double)
      table_type_id (int)
      instalments (int)
      instalments_value (double)
      simulation_status_id (int)
      tax1 (double)
      protocol (int)
      file_path (varchar)
      created_at
      updated_at
      */
    return {
      isLoading: true,
      dialog: false,
      statusForm: true,
      opportunities: [],
      proposalToUpdate: {},
      status: [
        {
          id: 1,
          desc: 'Em andamento',
        },
        {
          id: 2,
          desc: 'Aprovado',
        },
        {
          id: 3,
          desc: 'Recusado',
        },
      ],
      pagination: {
        page: 1,
        pages: 1,
        rowsPerPage: 10,
        totalItems: 0,
      },
      headings: [
        {
          text: 'Logradouro',
          align: 'center',
          value: 'address',
        },
        {
          text: 'Tipo da tabela',
          align: 'center',
          value: 'table_type_id',
        },
        {
          text: 'Prestações',
          align: 'center',
          value: 'opt_req_installment_plan',
        },
        {
          text: 'Valor das prestações',
          align: 'center',
          value: 'opt_req_installment_01',
        },
        {
          text: 'Taxa',
          align: 'center',
          value: 'tax1',
        },
        {
          text: 'Criado em',
          align: 'center',
          value: 'created_at',
        },
        {
          text: 'Editado em',
          align: 'center',
          value: 'updated_at',
        },
        {
          text: 'Atualizar proposta',
          align: 'center',
          value: 'update',
        },
        {
          text: 'Excluir',
          align: 'center',
          value: 'delete',
        },
        {
          text: 'Status',
          value: 'data-table-expand',
        },
      ],
      fieldRules: [(v) => !!v || 'Campo obrigatório'],
    }
  },
  beforeMount() {
    kc.get(`/opportunities`)
      .then((response) => {
        this.opportunities = response.data
      })
      .catch((error) => {
        console.log(error)
      })
      .finally(() => {
        this.isLoading = false
      })
  },
  methods: {
    openDialog(item) {
      this.proposalToUpdate = {
        ...item,
      }
      this.dialog = true
      if (this.$refs.statusForm) {
        this.$refs.statusForm.resetValidation()
      }
    },
    deleteProposal(item) {
      if (confirm()) {
        this.isLoading = true
        kc.delete(`/opportunities/${item.id}`)
          .then((response) => {
            //atualiza o array de propostas
            this.opportunities.splice(
              this.opportunities.findIndex((el) => el.id == response.data),
              1
            )
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              color: 'error',
            })
          })
          .finally(() => {
            this.isLoading = false
          })
      }
    },
    updateProposal() {
      this.isLoading = true
      const data = {
        property_id: this.proposalToUpdate.property_id,
        credit_value: this.proposalToUpdate.credit_value,
        table_type_id: this.proposalToUpdate.table_type_id,
        instalments: this.proposalToUpdate.instalments,
        instalments_value: this.proposalToUpdate.instalments_value,
        tax1: this.proposalToUpdate.tax1,
        protocol: this.proposalToUpdate.protocol,
      }
      kc.put(`/opportunities/${this.proposalToUpdate.id}`, data)
        .then((response) => {
          //atualiza o array de propostas
          this.opportunities.splice(
            this.opportunities.findIndex((el) => el.id == response.data.id),
            1,
            response.data
          )
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            color: 'error',
          })
        })
        .finally(() => {
          this.dialog = false
          this.isLoading = false
        })
    },
    updateStatus(opportunityStage) {
      this.isLoading = true
      //id do stage
      kc.put(`/opportunities/status/${opportunityStage.id}`, {
        //id do status em que o stage se encontra
        opportunity_stage_status_id:
          opportunityStage.opportunity_stage_status_id,
      })
        .then((response) => {})
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            color: 'error',
          })
        })
        .finally(() => {
          this.isLoading = false
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.v-data-table ::v-deep th + th {
  border-left: 1px solid #dddddd !important;
}
::v-deep td + td {
  border-left: 1px solid #dddddd;
}

.v-data-table ::v-deep thead tr:last-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--v-primary-base) !important;
  border-bottom-color: var(--v-primary-base) !important;
}

.v-data-table {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px !important;
}

.v-data-table
  ::v-deep
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: var(--v-primary-base) !important;
}

.v-pagination ::v-deep button.v-pagination__navigation {
  border: 1px solid var(--v-primary-base);
  width: 3.2rem;
  height: 3.2rem;
  margin: 25px;
}

.v-pagination ::v-deep .theme--light.v-icon {
  font-size: 1.4rem;
  color: var(--v-primary-base) !important;
}

.v-data-table ::v-deep tbody tr:nth-of-type(odd) {
  background-color: #f4f7f9 !important;
  border-collapse: collapse !important;
}
.table ::v-deep .table thead {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tbody tr:not(:last-child) {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tfoot tr {
  border-top: solid 1px #dddddd;
}
</style>
