<template>
  <div class="text-center my-5 mx-12">
    <div class="text-right">
      <v-btn text large color="primary" @click="openCreateModal">
        Cadastrar Tema
        <v-icon right dark>
          fas fa-plus
        </v-icon>
      </v-btn>
    </div>
    <v-data-table
      :headers="headers"
      :items="themes"
      :items-per-page="10"
      :loading="loading"
      class="elevation-2"
      @page-count="pagination.totalItems = $event"
    >
      <template v-slot:[`item.value`]="{ item }">
        <v-row justify="center" align="center">
          <v-icon
            left
            small
            :color="item.value"
            :style="'border: 1px solid #000; border-radius: 100%'"
          >
            fas fa-circle </v-icon
          >{{ item.value }}
        </v-row>
      </template>
      <template v-slot:[`item.update`]="{ item }">
        <v-btn icon @click="updateTheme(item)">
          <v-icon small color="primary">
            far fa-edit
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.delete`]="{ item }">
        <v-btn icon @click="deleteTheme(item.id)">
          <v-icon small color="primary">
            far fa-trash-alt
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <!--  CREATE/UPDATE MODAL -->
    <v-dialog v-model="createModal" width="500px" class="text-right" eager>
      <v-card class="kc-border">
        <v-card-title class="justify-center primary">
          <h3 class="title white--text">
            {{ newTheme.id ? 'Atualizar Tema' : 'Cadastro de Tema' }}
          </h3>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="form" lazy-validation>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field
                    v-model="newTheme.tag"
                    label="Tag"
                    :rules="fieldRules"
                    readonly
                  />
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="newTheme.attribute"
                    label="Atributo"
                    :items="attributes"
                    :rules="fieldRules"
                  />
                </v-col>
                <v-col cols="12">
                  <v-row justify="center">
                    <v-color-picker
                      v-model="newTheme.value"
                      mode="hexa"
                      hide-mode-switch
                    />
                  </v-row>
                </v-col>
              </v-row>
              <v-spacer />
              <v-row justify="center" justify-md="end">
                <v-btn
                  color="primary"
                  text
                  class="kc-border mr-1"
                  :loading="loading"
                  @click="createModal = false"
                >
                  Fechar
                </v-btn>
                <v-btn
                  color="primary"
                  text
                  class="kc-border"
                  :class="!form ? 'disabled' : ''"
                  :loading="loading"
                  @click="saveUpdateTheme"
                >
                  Salvar
                </v-btn>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- <v-footer
      fixed
      app
      color="#ffffff"
    >
      <v-row
        justify="center"
        class="mb-6"
      >
        <v-btn
          color="primary"
          rounded
          height="40"
          bottom
          @click="openCreateModal"
        >
          Cadastrar Tema
        </v-btn>
      </v-row>
    </v-footer> -->
  </div>
</template>

<script>
import { kc as api } from '@/api'
import Vue from 'vue'
export default {
  name: 'Themes',
  data() {
    return {
      companie: {},
      themes: [],
      attributes: [
        'primary',
        'secondary',
        'tertiary',
        'success',
        'error',
        'accent',
        'gradient1',
        'gradient2',
        'header',
        'disabled',
      ],
      newTheme: {},
      loading: true,
      createModal: false,
      form: true,
      pagination: {
        page: 1,
        pages: 1,
        rowsPerPage: 10,
        totalItems: 0,
      },
      headers: [
        {
          text: 'ID',
          align: 'center',
          value: 'id',
        },
        {
          text: 'Atributo',
          align: 'center',
          value: 'attribute',
        },
        {
          text: 'Valor',
          align: 'center',
          value: 'value',
        },
        {
          text: 'Atualizar',
          align: 'center',
          value: 'update',
        },
        {
          text: 'Excluir',
          align: 'center',
          value: 'delete',
        },
      ],
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
    }
  },
  watch: {
    'newTheme.value'(value) {
      // temporary fix while there is no way to disable the alpha channel in the colorpicker component: https://github.com/vuetifyjs/vuetify/issues/9590
      if (value.toString().match(/#[a-zA-Z0-9]{8}/)) {
        this.newTheme.value = value.substr(0, 7)
      }
    },
  },
  beforeMount() {
    api
      .get(`/companies/${this.$route.params.id}`)
      .then((response) => {
        this.companie = response.data
        return api.get(`/themes/by-tag/${response.data.name}`)
      })
      .then((response) => {
        this.themes = response.data
      })
      .catch((error) => {
        this.$store.commit('showSnackbar', {
          text: error,
          timeout: 3000,
          color: 'error',
        })
      })
      .finally(() => {
        this.loading = false
        this.newTheme = {
          tag: this.companie.name,
          attribute: null,
          value: '',
        }
      })
  },
  methods: {
    openCreateModal() {
      this.createModal = true
      this.$refs.form.resetValidation()
    },
    saveUpdateTheme() {
      if (this.$refs.form.validate()) {
        this.loading = true
        const payload = {
          tag: this.newTheme.tag,
          attribute: this.newTheme.attribute,
          value: this.newTheme.value,
        }

        const request = this.newTheme.id
          ? api.put(`/themes/${this.newTheme.id}`, payload)
          : api.post(`/themes`, payload)
        request
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'cadastrado com sucesso',
              timeout: 3000,
              color: 'success',
            })
            if (this.newTheme.id == undefined) {
              this.themes.unshift(response.data)
            } else {
              const index = this.themes.findIndex(
                (el) => el.id == this.newTheme.id
              )
              Vue.set(this.themes, index, { ...response.data })
            }
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              timeout: 3000,
              color: 'error',
            })
          })
          .finally(() => {
            this.loading = false
            this.createModal = false
            this.newTheme = {
              tag: this.companie.name,
              attribute: null,
              value: '',
            }
          })
      }
    },
    updateTheme(theme) {
      this.newTheme = { ...theme }
      this.openCreateModal()
    },
    deleteTheme(id) {
      api
        .delete(`/themes/${id}`)
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'excluído com sucesso',
            timeout: 3000,
            color: 'success',
          })
          this.themes.splice(
            this.themes.findIndex((el) => el.id == id),
            1
          )
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.v-data-table ::v-deep th + th {
  border-left: 1px solid #dddddd !important;
}
::v-deep td + td {
  border-left: 1px solid #dddddd;
}

.v-data-table ::v-deep thead tr:last-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--v-primary-base) !important;
  border-bottom-color: var(--v-primary-base) !important;
}

.v-data-table {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px !important;
}

.v-data-table
  ::v-deep
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: var(--v-primary-base) !important;
}

.v-pagination ::v-deep button.v-pagination__navigation {
  border: 1px solid var(--v-primary-base);
  width: 3.2rem;
  height: 3.2rem;
  margin: 25px;
}

.v-pagination ::v-deep .theme--light.v-icon {
  font-size: 1.4rem;
  color: var(--v-primary-base) !important;
}

.v-data-table ::v-deep tbody tr:nth-of-type(odd) {
  background-color: #f4f7f9 !important;
  border-collapse: collapse !important;
}
.table ::v-deep .table thead {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tbody tr:not(:last-child) {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tfoot tr {
  border-top: solid 1px #dddddd;
}
</style>
