<template>
  <div class="text-center my-5 mx-12">
    <div class="text-right">
      <v-btn text large color="primary" @click="create">
        Cadastrar Usuário
        <v-icon right dark>
          fas fa-plus
        </v-icon>
      </v-btn>
    </div>
    <!-- TABLE -->
    <v-data-table
      :headers="headers"
      :items="users"
      :items-per-page="10"
      class="elevation-2"
      :loading="isLoading"
      @page-count="pagination.totalItems = $event"
    >
      <template v-slot:[`item.validationEmail`]="{ item }">
        <v-btn icon @click="validationEmail(item.email)">
          <v-icon small color="primary">
            far fa-envelope
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.update`]="{ item }">
        <v-btn icon :to="`/users-update/${item.id}`">
          <v-icon small color="primary">
            far fa-edit
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.delete`]="{ item }">
        <v-btn icon @click="deleteConfirm(item.id)">
          <v-icon small color="primary">
            far fa-trash-alt
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:[`item.enabled`]="{ item }">
        <v-row justify="center" align="center" class="ml-1">
          <v-switch
            v-model="item.enabled"
            color="primary"
            inset
            :loading="enableLoading[getItemIndex(item.id)]"
            :disabled="enableLoading[getItemIndex(item.id)]"
            @change="enableDisable(item, $event)"
          />
        </v-row>
      </template>
    </v-data-table>
    <!-- <v-footer
      fixed
      app
      color="#ffffff"
    >
      <v-row
        justify="center"
        class="mb-6"
      >
        <v-btn
          color="primary"
          rounded
          height="40"
          bottom
          @click.stop="create"
        >
          Cadastrar Usuário
        </v-btn>
      </v-row>
    </v-footer> -->
    <!--  CREATE MODAL -->
    <v-dialog
      v-model="registerModel"
      persistent
      width="500px"
      class="text-right"
    >
      <v-card class="kc-border">
        <v-card-title class="justify-center primary">
          <h3 class="title white--text">
            Cadastro de Usuário
          </h3>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="form" lazy-validation>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field
                    v-model="newUser.name"
                    label="Nome"
                    :rules="fieldRules"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        fas fa-user
                      </v-icon>
                    </template>
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="newUser.email"
                    label="Email"
                    :rules="fieldRules"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        fas fa-envelope
                      </v-icon>
                    </template>
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="newUser.role"
                    label="Perfil"
                    :items="roles"
                    item-text="name"
                    item-value="id"
                    :rules="fieldRules"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        fas fa-user
                      </v-icon>
                    </template>
                  </v-select>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="newUser.company_id"
                    label="Empresa"
                    prepend-inner-icon="fas fa-building"
                    :items="companies"
                    item-text="name"
                    item-value="id"
                    :rules="fieldRules"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        fas fa-building
                      </v-icon>
                    </template>
                  </v-select>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="newUser.password"
                    label="Senha"
                    :rules="passwordRules"
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                    @click:append="showPassword = !showPassword"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        fas fa-lock
                      </v-icon>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
              <v-spacer />
              <v-row justify="center" justify-md="end">
                <v-btn
                  color="primary"
                  text
                  class="kc-border mr-1"
                  @click="registerModel = false"
                >
                  Fechar
                </v-btn>
                <v-btn
                  color="primary"
                  text
                  class="kc-border"
                  :class="!form ? 'disabled' : ''"
                  @click="saveUser"
                >
                  Salvar
                </v-btn>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { kc } from '@/api'
import Vue from 'vue'
export default {
  data() {
    return {
      form: false,
      isLoading: false,
      enableLoading: [],
      showPassword: false,
      search: '',
      pagination: {
        page: 1,
        pages: 1,
        rowsPerPage: 10,
        totalItems: 0,
      },
      headers: [
        {
          text: 'ID',
          align: 'center',
          value: 'id',
        },
        {
          text: 'Nome',
          align: 'center',
          value: 'name',
        },
        {
          text: 'Email',
          align: 'center',
          value: 'email',
        },
        {
          text: 'Atualizar',
          align: 'center',
          value: 'update',
        },
        {
          text: 'Excluir',
          align: 'center',
          value: 'delete',
        },
        {
          text: 'Reenviar email',
          align: 'center',
          value: 'validationEmail',
        },
        {
          text: 'Ativo',
          align: 'center',
          value: 'enabled',
        },
      ],
      users: [],
      companies: [],
      roles: [],
      registerModel: false,
      updateModel: false,
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
      passwordRules: [
        (v) => !!v || 'Senha é obrigatório',
        (v) =>
          (!!v && v.length >= 6) ||
          'Senha não pode ser inferior a seis caracteres',
        (v) =>
          (!!v && v.length <= 16) ||
          'Senha não pode ser superior a dezesseis caracteres',
        (v) =>
          /(?=.*[!@#$%^&*])/.test(v) ||
          `Senha deve conter ao menos um caractere especial`,
        (v) =>
          /(?=.*?[a-z])/.test(v) ||
          'Senha deve ter ao menos um caractere minúsculo',
        (v) =>
          /(?=.*?[A-Z])/.test(v) ||
          'Senha deve ter ao menos um caractere maiúsculo',
        (v) => /(?=.*?[0-9])/.test(v) || 'Senha deve ter ao menos um número',
      ],
      newUser: {
        name: '',
        email: '',
        password: '',
        company_id: '',
        role: null,
      },
    }
  },
  beforeMount() {
    this.isLoading = true
    Promise.all([kc.get(`/users`), kc.get(`/companies`), kc.get(`/acl/roles`)])
      .then(([users, companies, roles]) => {
        this.users = users.data
        this.companies = companies.data
        this.roles = roles.data
      })
      .finally(() => {
        this.isLoading = false
        //preenche o array usado para controlar o loading dos switchs
        this.enableLoading = Array(this.users.length).fill(false)
      })
  },
  methods: {
    create() {
      this.newUser = {
        name: '',
        email: '',
        password: '',
        company_id: '',
      }
      this.registerModel = true
    },
    saveUser() {
      // TODO Implementar api correta com role
      //kc.post('/users', {
      kc.post('/auth/register', {
        name: this.newUser.name,
        userName: this.newUser.email,
        password: this.newUser.password,
        company_id: this.newUser.company_id,
      })
        .then((response) => {
          this.users.unshift(response.data)
          //acrescenta mais um boolean no array referente ao switch do novo user
          this.enableLoading.push(false)
          return kc.post(`/acl/user-roles`, {
            role_id: this.newUser.role,
            user_id: response.data.id,
          })
        })
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Cadastrado com Sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.registerModel = false
          this.newUser = {
            name: '',
            email: '',
            password: '',
            company_id: '',
          }
        })
    },
    deleteUser(id) {
      kc.delete(`/users/${id}`)
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Excluído com Sucesso',
            timeout: 3000,
            color: 'success',
          })
          const index = this.getItemIndex(id)
          //remove o user o array de users
          this.users.splice(index, 1)
          //remove o boolean que controla o switch desse user
          this.enableLoading.splice(index, 1)
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
    },
    deleteConfirm(id) {
      if (confirm('Deseja deletar o usuario?')) {
        this.deleteUser(id)
      }
    },
    getItemIndex(id) {
      return this.users.findIndex((el) => el.id == id)
    },
    enableDisable(item, value) {
      const { email } = item
      const index = this.getItemIndex(item.id)
      //coloca o switch especifico em loading
      this.enableLoading.splice(index, 1, true)

      //disable pede user_email e enable pede email
      const request = !value
        ? kc.put(`/users/disable`, { email })
        : kc.put(`/users/enable`, { email })
      request
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: value
              ? 'Usuário ativado com sucesso'
              : 'Usuário desativado com sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          //tira o switch especifico de loading
          this.enableLoading.splice(index, 1, false)
        })
    },
    validationEmail(item) {
      kc.put(`/users/resend-confirmation`, {
        email: item,
      })
        .then((response) => {
          this.$store.commit('showSnackbar', {
            text: 'Enviado com Sucesso',
            timeout: 3000,
            color: 'success',
          })
        })
        .catch((error) => {
          if (error.response.status == 400) {
            this.$store.commit('showSnackbar', {
              text: 'E-mail de confirmação já enviado',
              timeout: 3000,
              color: 'error',
            })
          } else {
            this.$store.commit('showSnackbar', {
              text: error,
              timeout: 3000,
              color: 'error',
            })
          }
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.v-data-table ::v-deep th + th {
  border-left: 1px solid #dddddd !important;
}
::v-deep td + td {
  border-left: 1px solid #dddddd;
}

.v-data-table ::v-deep thead tr:last-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: var(--v-primary-base) !important;
  border-bottom-color: var(--v-primary-base) !important;
}

.v-data-table {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 10px !important;
}

.v-data-table
  ::v-deep
  .v-data-table-header
  th.sortable
  .v-data-table-header__icon {
  color: var(--v-primary-base) !important;
}

.v-pagination ::v-deep button.v-pagination__navigation {
  border: 1px solid var(--v-primary-base);
  width: 3.2rem;
  height: 3.2rem;
  margin: 25px;
}

.v-pagination ::v-deep .theme--light.v-icon {
  font-size: 1.4rem;
  color: var(--v-primary-base) !important;
}

.v-data-table ::v-deep tbody tr:nth-of-type(odd) {
  background-color: #f4f7f9 !important;
  border-collapse: collapse !important;
}
.table ::v-deep .table thead {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tbody tr:not(:last-child) {
  border-bottom: solid 1px #dddddd;
}
.table ::v-deep .table tfoot tr {
  border-top: solid 1px #dddddd;
}
</style>
