<template>
  <div class="text-center my-5 mx-12">
    <v-row v-if="loading" justify="center">
      <v-progress-circular :size="50" color="primary" indeterminate />
    </v-row>
    <v-card v-else class="elevation-2 kc-border px-10 py-5 mx-12">
      <v-card-title class="justify-center pt-5">
        <span class="title primary--text">Atualizar Usuário</span>
      </v-card-title>

      <v-card-text>
        <v-row>
          <v-col>
            <v-form ref="form" v-model="form" lazy-validation>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field
                    v-model="user.name"
                    label="Nome"
                    :rules="fieldRules"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        fas fa-user
                      </v-icon>
                    </template>
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    v-model="user.company_id"
                    label="Empresa"
                    prepend-inner-icon="fas fa-building"
                    :items="companies"
                    item-text="name"
                    item-value="id"
                    :rules="fieldRules"
                  >
                    <template v-slot:prepend-inner>
                      <v-icon class="mr-2 mt-1" small>
                        far fa-building
                      </v-icon>
                    </template>
                  </v-select>
                </v-col>
              </v-row>
            </v-form>
          </v-col>
        </v-row>
        <v-row justify="center" justify-md="end">
          <v-btn
            color="primary"
            text
            class="kc-border mr-2"
            :loading="saveLoading"
            :to="`/users`"
          >
            Voltar
          </v-btn>
          <v-btn
            color="primary"
            text
            class="kc-border"
            :class="!form ? 'disabled' : ''"
            :loading="saveLoading"
            @click="updateUser(user)"
          >
            Salvar
          </v-btn>
        </v-row>
        <v-divider class="my-5" />
        <v-row>
          <v-col>
            <v-row justify="center">
              <span class="subtitle-1 primary--text">
                Perfis de Usuário
              </span>
            </v-row>
            <v-row>
              <v-col v-for="role in roles" :key="role.id">
                <v-checkbox
                  v-model="role.value"
                  dense
                  hide-details
                  color="primary"
                  :label="role.name"
                  :disabled="roleLoading"
                  @change="updateRole(role)"
                />
              </v-col>
              <v-progress-linear v-show="roleLoading" indeterminate />
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { kc } from '@/api'
export default {
  name: 'UsersUpdate',
  data() {
    return {
      user: {
        name: '',
        company_id: null,
        opt_in: true,
        avatar_path: '',
        role: [],
      },
      currentCompany: null,
      roles: [],
      form: false,
      settingForm: false,
      fieldRules: [(v) => !!v || 'Campo é obrigatório'],
      loading: true,
      roleLoading: false,
      saveLoading: false,
      companies: [],
    }
  },
  beforeMount() {
    this.getUserData(this.$route.params.id)
    this.getRoles()
    this.getCompanies()
  },
  methods: {
    updateRole(role) {
      this.roleLoading = true
      const data = {
        user_id: this.user.id,
        role_id: role.id,
      }
      if (!role.value) {
        //exclui associação
        kc.put(`/acl/user-roles/delete`, data)
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'Excluído com Sucesso',
              timeout: 3000,
              color: 'success',
            })
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              timeout: 3000,
              color: 'error',
            })
          })
          .finally(() => {
            this.roleLoading = false
          })
      } else {
        //adiciona associação
        kc.post(`/acl/user-roles`, data)
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'Registrado com Sucesso',
              timeout: 3000,
              color: 'success',
            })
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              timeout: 3000,
              color: 'error',
            })
          })
          .finally(() => {
            this.roleLoading = false
          })
      }
    },
    getUserData(id) {
      kc.get(`/users/${id}`)
        .then((response) => {
          //carrega id, name, email,company_id,company e createdAt do user
          this.user = {
            ...response.data,
            role: [],
          }
          return kc.get(`companies/${this.user.company_id}`)
        })
        .then((response) => {
          this.currentCompany = response.data

          return kc.get(`/acl/user-roles/${id}`)
        })
        .then((response) => {
          //carreta as roles do user
          response.data.map((userRole) => {
            this.user.role.push({
              ...userRole.role,
            })
          })
          this.user.role.map((el) => {
            let aux = this.roles.find((role) => role.id == el.id)
            //seta como true as roles que o user já tem
            aux !== undefined ? (aux.value = true) : ''
          })
        })
        .catch((error) => {
          this.$store.commit('showSnackbar', {
            text: error,
            timeout: 3000,
            color: 'error',
          })
        })
        .finally(() => {
          this.loading = false
        })
    },
    getRoles() {
      kc.get(`/acl/roles`).then((response) => {
        response.data.map((role) => {
          this.roles.push({
            ...role,
            value: false,
          })
        })
      })
    },
    getCompanies() {
      this.isLoading = true
      kc.get(`/companies`)
        .then((response) => {
          this.companies = response.data.filter((el) => el !== null)
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    updateUser(user) {
      const data = {
        name: user.name,
        company_id: user.company_id,
        opt_in: true,
        avatar_path: '',
      }
      if (this.$refs.form.validate()) {
        this.saveLoading = true
        kc.put(`/users/${user.id}`, data)
          .then((response) => {
            this.$store.commit('showSnackbar', {
              text: 'Atualizado com Sucesso',
              timeout: 3000,
              color: 'success',
            })
          })
          .catch((error) => {
            this.$store.commit('showSnackbar', {
              text: error,
              timeout: 3000,
              color: 'error',
            })
          })
          .finally(() => {
            this.saveLoading = false
          })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.required-field {
  font-size: 1.2rem;
}
</style>
