<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      temporary
      left
      fixed
      disable-resize-watcher
      disable-route-watcher
    >
      <v-list dense>
        <v-list-item
          v-for="(menu, index) in userMenu"
          :key="index"
          link
          :to="menu.path"
          active-class="primary--text"
        >
          <v-list-item-action>
            <v-icon small>
              {{ menu.icon }}
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ menu.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app color="primary" flat dark extension-height="32">
      <v-app-bar-nav-icon color="white" @click="drawer = true" />

      <router-link to="/home" tag="div" class="d-flex">
        <v-img
          :src="require('../assets/logo.svg')"
          contain
          cover
          class="mx-4"
          width="110"
        />
      </router-link>

      <!-- USER MENU -->
      <v-spacer />
      <span class="mt-1">{{ user }}</span>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" @click="logout" v-on="on">
            <v-icon>fas fa-sign-out-alt</v-icon>
          </v-btn>
        </template>
        <span>Logout</span>
      </v-tooltip>

      <template v-slot:extension>
        <v-row no-gutters align="center" justify="space-between">
          <!-- BREADCRUMB ROW -->
          <breadcrumb />
        </v-row>
      </template>
    </v-app-bar>
  </div>
</template>

<script>
import Breadcrumb from '@/components/shared/Breadcrumb'
export default {
  name: 'Header',
  components: {
    Breadcrumb,
  },
  data() {
    return {
      title: '',
      drawer: false,
      userEmail: '',
      userMenu: [],
      menus: [
        {
          title: 'Home',
          path: '/home',
          name: 'home',
          icon: 'fas fa-home',
        },
        {
          title: 'Oportunidades',
          path: '/opportunities',
          name: 'opportunities',
          icon: 'fas fa-suitcase',
        },
        {
          title: 'Dashboards',
          path: '/dashboards',
          name: 'dashboards',
          icon: 'fas fa-chart-pie',
        },
        {
          title: 'Administrador',
          path: '/admin',
          name: 'admin',
          icon: 'fas fa-user',
          needAdmin: true,
        },
        {
          title: 'Cadastro de Oportunidades',
          path: '/register-opportunity',
          name: 'register-opportunity',
          icon: 'fas fa-wallet',
        },
        {
          title: 'Cadastro de Taxas',
          path: '/taxes',
          name: 'taxes',
          icon: 'fas fa-percentage',
        },
        {
          title: 'Cadastro de Mídias Sociais',
          path: '/social-media',
          name: 'social-media',
          icon: 'fas fa-users',
        },
        {
          title: 'Cadastro de FAQ',
          path: '/faq',
          name: 'social-media',
          icon: 'fas fa-question-circle',
        },
      ],
      previousView: null,
      user: JSON.parse(localStorage.user),
    }
  },
  computed: {
    isMobile() {
      return this.$vuetify.breakpoint.name === 'xs'
    },
    navbutton() {
      //se for mobile e não tiver view anterior (mostra o botão de abrir o drawer)
      if (this.$vuetify.breakpoint.smAndDown && this.previousView == null)
        return true
      //se for mobile e tiver view anterior (mostra o botão de voltar)
      if (this.$vuetify.breakpoint.smAndDown && this.previousView !== null)
        return false
      //se não for mobile (mostra botão de abrir o drawer)
      return true
    },
  },
  computed: {
    menuView() {
      return this.menus.filter((el) => !el.needAdmin || this.user.admin)
    },
  },
  watch: {
    $route() {
      this.title = this.$router.currentRoute.meta.title
      if (this.$router.currentRoute.meta.breadcrumb.length > 1) {
        this.previousView = this.$router.currentRoute.meta.breadcrumb[
          this.$router.currentRoute.meta.breadcrumb.length - 2
        ].name
      } else {
        this.previousView = null
      }
    },
  },
  beforeMount() {
    this.user = JSON.parse(localStorage.getItem('user')).email
    this.title = this.$router.currentRoute.meta.title
    if (this.$router.currentRoute.meta.breadcrumb.length > 1) {
      this.previousView = this.$router.currentRoute.meta.breadcrumb[
        this.$router.currentRoute.meta.breadcrumb.length - 2
      ].name
    } else {
      this.previousView = null
    }
    // TODO - Implementar ACL
    this.userMenu = this.menus
    // this.userMenu = this.menus.filter((menu) => {
    //   return this.user.resources.some((resource) => {
    //     return menu.name === resource
    //   })
    // })
  },
  methods: {
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/login')
      })
    },
    showTutorial() {
      window.open(require('@/assets/tutorial.pdf'), '_blank')
    },
  },
}
</script>

<style lang="scss" scoped>
.kc-brand {
  border: 1px solid white;
  border-radius: 8px;
  font-size: 10px;
  height: 24px;
  padding: 0 4px;
  text-align: center;
  div {
    margin: 4px;
  }
}
.drawer {
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(
      90deg,
      var(--v-gradient1-base) 0%,
      var(--v-gradient2-base) 100%
    )
    0% 0% !important;
}
.drawer-help {
  margin-bottom: 35%;
  margin-left: 20px;
  margin-right: 20px;
}
.help-text {
  padding: 8px;
  border-bottom: solid 2px;
}
</style>
