<template>
  <v-col cols="12">
    <v-row
      v-if="!installments.price.firstInstallment"
      class="elevation-2 kc-border white"
      no-gutters
    >
      <v-col cols="6">
        <v-card height="53" class="elevation-0 kc-border success">
          <v-card-text>
            <p class="text-center white--text font-weight-bold body-2">
              {{ installments.months }} meses
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card height="53" class="kc-border elevation-0">
          <v-card-text class="pt-2">
            <p class="caption ml-2 ma-0">Parcelas</p>
            <p class="ml-2 font-weight-bold body-2">
              {{ installments.price.value | currency }}
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else class="elevation-2 kc-border white" no-gutters>
      <v-col cols="4">
        <v-card height="53" class="elevation-0 kc-border success">
          <v-container fill-height>
            <v-card-text class="pa-0">
              <v-row align="center" no-gutters>
                <v-col>
                  <p
                    class="ma-0 white--text font-weight-bold body-2 text-center"
                  >
                    {{ installments.months }} meses
                  </p>
                </v-col>
              </v-row>
            </v-card-text>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card
          height="53"
          class="kc-border first-installment-card elevation-0"
        >
          <v-card-text class="pa-2">
            <v-row no-gutters>
              <v-col cols="12">
                <p class="caption ma-0">1ª Parcela</p>
              </v-col>
              <v-col cols="12">
                <p class="ma-0 font-weight-bold body-2">
                  {{ installments.price.firstInstallment | currency }}
                </p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card
          height="53"
          class="kc-border first-installment-card elevation-0"
        >
          <v-card-text class="pa-2">
            <v-row no-gutters>
              <v-col cols="12">
                <p class="caption ma-0">Última Parcela</p>
              </v-col>
              <v-col cols="12">
                <p class="ma-0 font-weight-bold body-2">
                  {{ installments.price.lastInstallment | currency }}
                </p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  name: 'Installments',
  filters: {
    currency(v) {
      return v.toLocaleString('pt-BR', {
        style: 'currency',
        currency: 'BRL',
        minimumFractionDigits: 0,
        maximumFractionDigits: 0,
      })
    },
  },
  props: {
    installments: {
      type: Object,
      default: () => {
        return {
          months: null,
          price: null,
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.first-installment-card {
  border-right: solid 1px #eaeaea;
}
</style>
