<template>
  <v-app>
    <router-view name="header">
      <Header />
    </router-view>
    <v-main>
      <router-view />
      <v-snackbar
        v-model="snackbar.show"
        :timeout="snackbar.timeout"
        :color="snackbar.color"
        rounded="pill"
      >
        {{ snackbar.text }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar.show = false">
            Fechar
          </v-btn>
        </template>
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script>
import Header from '@/components/Header'
// import { changeTheme } from '@/shared/mixins'
// import setTheme from '@/shared/util/getTheme.js'

export default {
  name: 'App',
  components: {
    Header,
  },
  // mixins: [changeTheme],
  data() {
    return {
      // unsubscribe: null,
    }
  },
  computed: {
    snackbar() {
      return this.$store.getters.snackbar
    },
  },
  beforeMount() {
    // setTheme()
  },
  created() {
    /* this.unsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type == 'theme') {
        this.changeTheme(state.theme)
      }
    })*/
  },
  beforeDestroy() {
    // this.unsubscribe()
  },
}
</script>
